[2015-06-23 13:35] sjorge opened #1630 "Add sslh as a service"
It would be nice to have sslh (http://www.rutschle.net/tech/sslh.shtml) as a service, or even as an option for a port forward rule. It's great to forward for example wan:443 to a ssh server, https server, openvpn server and something else (RDP for example)

Ofcourse you can use it on many ports, so having the option to configure multiple instances would be a must. (Hench the suggestion to have it

[2015-07-09 13:09] fichtner opened #1 "add categories for plugins"

[2015-07-09 13:10] fichtner opened #2 "support POST/PRE/INSTALL/DEINSTALL magic"

[2015-07-09 13:24] #1 closed

[2015-07-16 14:37] #2 closed

[2015-08-20 14:46] matheusber opened #3 "vnstat"
Hi,

when there will be the vnstat plugin on opnsense ? If there is anything I can help to make it work, please tell me. I am none from Forum !

thanks,

[2015-08-20 14:48] fichtner commented on #3
What to you expect from vnstat on a plugin/GUI level? You probably know you can install vnstat from the console, yes? :)

[2015-08-24 00:17] matheusber commented on #3
Hi,

I know that yes, I just can't figure out how to make it show me data using http. I can do that on regular FreeBSD, but as opnsense has its own organization, I miss the way to do it on a maintainable way. What I expect is pretty much what pfsense shows for it.

If there is any kind of template to this, I can try by mylself and send :)

thanks

[2015-08-24 07:02] AdSchellevis commented on #3
@matheusber we have some documentation available about our architecture, you can find it here:
https://wiki.opnsense.org/index.php/Developers

Unfortunately we haven't had time to build a "hello world" application yet to show the full architecture, but something like that will be there in the future.

To get you started, there are a couple of basic rules to follow when developing OPNsense componen

[2015-08-27 18:19] fichtner opened #4 "xen: add an autostart wrapper"
There are a couple of extra steps to be done, courtesy of Makefile.feld

    # echo "xenguest_enable=\"YES\"" >> /etc/rc.conf.local
    # ln -s /usr/local/etc/rc.d/xenguest /usr/local/etc/rc.d/xenguest.sh

via: https://forum.opnsense.org/index.php?topic=1289.0

[2015-09-22 16:21] fichtner opened #5 "vmware: loader.conf and automatic kldload on install"

[2015-10-25 18:38] fichtner commented on #5
New proposal available.

[2015-10-25 19:05] m4rcu5 commented on #5
Let me know when its packaged, I should be able to test coming days :smile:

[2015-10-25 19:07] fichtner commented on #5
It'll need some code glue in core.git and I'm not entirely sure about it, but doing a RFC right now amongst the devs to see if this has a future or to wiggle a little to see what else can be done without doing the proposal. I'll let you know soon! :)

[2015-11-01 09:57] fichtner commented on #5
Works. Will ship this directly with 15.7.18 :)

[2015-11-01 09:57] #5 closed

[2015-11-01 10:11] #4 closed

[2015-11-08 20:06] fichtner opened #6 "Let's encrypt..."
using either:

security/py-letsencrypt -- APACHE20
security/letsencrypt.sh (bash) -- MIT
security/py-acme-tiny -- MIT

https://github.com/kuba/simp_le -- GPLv3 licensed

via: https://forum.opnsense.org/index.php?topic=2319.0

[2016-01-18 11:45] fichtner opened #7 "Add a marker for release/development restriction"
via: @fabianfrz

[2016-01-18 11:54] fichtner opened #8 "`make plugin' support for inline package creation"
Update March 17, 2016: this was done for packages, similar commit will land here soon...

[2016-03-17 21:18] fichtner opened #9 "network card tweak plugin"
Some cards have best practices for sysctl tweaks.... a plugin should collect and enforce them automatically.

[2016-04-18 05:50] #7 closed

[2016-04-18 06:26] #8 closed

[2016-04-20 15:53] fichtner opened #13 "framework: "package" can fail, when there are no deps installed"

[2016-04-25 09:43] willjones opened #1105 "Feature: DHCP server able to handle non-interface configured subnets"
It would be very nice to be able to use a pair of OPNsense boxes for HA DHCP for setups where DHCP relay is being used and the OPNsense setup is functioning more like a DHCP server appliance than a full firewall, i.e. there is only one configured interface on the OPN side but we would require multiple networks served via the DHCP server.

I am not awaare of any open source or indeed low cost comme

[2016-05-19 07:01] fichtner commented on #6
We now have acme-tiny in our eco-system if anyone wants to try...

    # pkg install acme-tiny

[2016-05-30 21:17] fichtner commented on #13
Addressed in 095af4c6515

[2016-05-30 21:17] #13 closed

[2016-06-02 11:48] fraenki commented on #6
@fichtner: Would you mind to add the `security/letskencrypt` port to OPNsense? It looks like a perfect fit with it's main focus being security.

[2016-06-02 13:24] fichtner commented on #6
Was already done, package will be in 16.1.16

[2016-06-02 19:48] lattera opened #16 "NAT64 via Tayga"
Since FreeBSD doesn't provide NAT64 natively, maybe [Tayga](http://www.freshports.org/net/tayga/) could fill that role? I have no experience with Tayga, though, and I don't know if it'd work with all IPv6 setups (like TunnelBroker).

[2016-06-04 14:00] fichtner opened #17 "net/haproxy: bug report"
For details see https://forum.opnsense.org/index.php?topic=3153.0

[2016-06-04 14:03] fichtner opened #18 "net/haproxy: syslog "local" file socket feature"
Adding the following to the syslog plugin in haproxy.inc will allow local logging without privileges:

    'local' => '/var/haproxychroot/var/run/log'

Not sure how much needs to be changed on the GUI side.

Note that this core feature won't make it into 16.1.16.

[2016-06-04 20:26] manusfreedom commented on #17
See my second post for some fix.
I will try continue to add fix during next week.

[2016-06-06 15:00] fraenki commented on #17
@manusfreedom: Thanks for the report. Care to submit a pull request? Sounds like you were able to fix everything on your side already.

[2016-06-07 08:09] manusfreedom commented on #17
https://github.com/opnsense/plugins/pull/19

[2016-06-07 21:20] manusfreedom commented on #17
All done in the pull request, please check and integrate if ok.

[2016-06-09 11:50] fraenki commented on #17
@manusfreedom: Thanks for your pull request! Indeed very useful changes. I've added some comments. I hope you agree to make some small changes.

[2016-06-12 17:26] manusfreedom commented on #17
All fixed as requested.

[2016-06-13 05:19] fichtner commented on #18
FYI: this core.git feature will be in 16.1.17

[2016-06-13 11:23] #17 closed

[2016-06-13 17:49] #18 closed

[2016-07-30 16:59] jpawlowski opened #25 "HAproxy server does not respect SSL"
Using the latest version 16.7, the HAproxy plugin does not respect SSL for servers.
Even though the SSL option was enabled, the resulting haproxy.conf file misses the addition "ssl" at the end of the server entry.

[2016-07-30 17:02] jpawlowski opened #26 "HAproxy servers: Disable SSL verification"
When enabling SSL in server configurations, default value "no verify" should be added (=default behavior in pfSense).

[2016-07-30 17:04] jpawlowski opened #27 "HAproxy servers: Allow advanced SSL verification options"
Refering to #26, one should be able to define advanced SSL verification options to have it enabled (similar to what pfSense offers). Otherwise the HAproxy plugin cannot be used appropriately within production environments.

[2016-07-30 17:15] jpawlowski opened #28 "HAproxy frontend: allow advanced options for Listen Addresses"
One should be able to add additional configuration settings at the very end of each listen address for example:

    npn http/1.1
    npn spdy/2
    accept-proxy npn http/1.1
    accept-proxy npn ssh/2.0

As a workaround, one could currently add those settings at the very end of "Advanced SSL options". However, one needs to add some SSL settings first, e.g.:

    no-sslv3 no-tls-tickets no-tlsv10

[2016-07-30 17:55] jpawlowski opened #29 "HAproxy unknown keyword "inactive""
When using modes like "disabled" or "inactive" in server configuration, the following warning occurs:

    unknown keyword 'inactive'. Registered keywords :
    [ ALL] id <arg>
    [ SSL] ca-file <arg>
    [ SSL] check-ssl
    [ SSL] ciphers <arg>
    [ SSL] crl-file <arg>
    [ SSL] crt <arg>
    [ SSL] force-sslv3
    [ SSL] force-tlsv10
    [ SSL] force-tlsv11
    [ SSL] force-tlsv12
    [ SSL]

[2016-07-30 18:33] jpawlowski opened #30 "HAproxy negate ACL does not work"
When negating an ACL, the result does not show up in haproxy.conf, i.e. the condition is not inverted.

[2016-08-01 09:58] fraenki commented on #25
@jpawlowski Thanks for your report(s)! I'll look into this.

[2016-08-01 21:35] fraenki commented on #30
Thank you, I've prepared a fix. It will be committed once we have fixed a related bug in the framework.

[2016-08-01 21:36] fraenki commented on #29
Actually the 'disabled' keyword is valid according to the [HAProxy documentation](http://cbonte.github.io/haproxy-dconv/1.6/configuration.html#5.2-disabled). But I've removed the obsolete 'inactive' mode. Thanks for reporting this issue!

[2016-08-01 21:39] fraenki commented on #27
Same here: I've prepared a fix, but we'll have to fix a related bug in the framework before we can release an updated HAProxy plugin.

[2016-08-01 21:48] fraenki commented on #26
Thanks for your report! The HAProxy documentation [clearly states](http://cbonte.github.io/haproxy-dconv/1.6/configuration.html#verify%20(Server%20and%20default-server%20options)):

I agree with this statement and don't think it's a good idea to set _the default_ to `verify none`. Instead we'll be using HAProxy's default of `verify required`.

I understand that it might be reasonable to disable SS

[2016-08-01 21:50] fraenki commented on #25
@jpawlowski: Thanks for all the time you've put into the reports, much appreciated! I've added fixes for this and most other issues. Please report back if there are still issues.

[2016-08-02 20:54] fraenki commented on #28
@jpawlowski: I've added a new parameter: `Advanced Bind Options`. The only drawback (for now) is, that these options will be added to *every* `Listen Address`.

[2016-08-03 16:07] #25 closed

[2016-08-03 16:07] #28 closed

[2016-08-03 16:07] #30 closed

[2016-08-03 18:58] ezraholm50 opened #1488 "Virtualbox guest additions"
Hey thanks for the awsome project guys. I have OPNsense running on a Vbox virtual machine.
I want to enable usb support to use a dualband wifi dongle to have my wireless devices connecting to OPNsense.

When I run `pkg install virtualbox-ose-additions` it says it cant be found,

`unable to update OPNsense repository`

Now i heard something about a different install manager? But I can't find anythi

[2016-08-03 21:33] fraenki commented on #29
@fichtner: This should be fixed, please close this issue.

[2016-08-03 21:33] fraenki commented on #27
@fichtner: This should be fixed, please close this issue.

[2016-08-03 21:33] #29 closed

[2016-08-03 21:33] #27 closed

[2016-08-03 21:35] fraenki commented on #26
@jpawlowski: All fixes will be available with tomorrows 16.7.1 release. I'd love to hear your feedback.

[2016-08-23 08:45] willjones opened #33 "collectd plugin"
As we now have collectd available from the default repo would someone like to make this pluggable.

We use it for remote monitoring of opnsense boxes that I do not have direct access to, imagine they are behind someone else network that permits outbound connections but not inbound, we use the graphite plugin to send stats back to a remote server without needing to worry about a VPN tunnel.

Collec

[2016-08-31 08:31] fraenki commented on #26
@fichtner: I think this issues can be closed now.

[2016-08-31 08:33] #26 closed

[2016-09-02 17:20] gitdevmod opened #34 "[FR] devel/helloworld add example for a cron job"
Could you add an example for a creating a cron job?

Thanks in advance

[2016-09-02 19:08] AdSchellevis commented on #34
@gitdevmod you best take a look at the IDS controller  https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/controllers/OPNsense/IDS/Api/ServiceController.php#L121

[2016-09-04 11:41] gitdevmod commented on #34
@AdSchellevis I tried this https://github.com/gitdevmod/plugins/blob/master/sysutils/SSOProxyAD/src/opnsense/mvc/app/controllers/OPNsense/SSOProxyAD/Api/ServiceController.php but I do not see the cron job with "crontab -l". I want to run joinDomain the first day of month.

[2016-09-04 12:26] AdSchellevis commented on #34
@gitdevmod did you apply the new settings in Cron? it should generate your crontab to /var/cron/tabs/nobody

[2016-09-04 13:58] gitdevmod commented on #34
How do I apply the new settings? I used "save" button

[2016-09-04 14:43] AdSchellevis commented on #34
Apply at the bottom of the screen in /ui/cron/

[2016-09-04 15:45] gitdevmod commented on #34
There is "no results found!" after apply

[2016-09-04 16:06] AdSchellevis commented on #34
what does the cron overview look like?

[2016-09-04 16:47] gitdevmod commented on #34
https://github.com/gitdevmod/plugins/blob/master/sysutils/SSOProxyAD/src/opnsense/mvc/app/models/OPNsense/SSOProxyAD/SSOProxyAD.xml

I've this error if I save on my plugin page
[code]

[2016-09-04 17:36] AdSchellevis commented on #34
which is true  :) UpdateCron is not placed inside the general tag, which isn't a problem if you don't try to update general.UpdateCron

[2016-09-04 19:20] gitdevmod commented on #34
Ok, I moved UpdateCron to genral tag no more error with save button in plugin page but still no cron for updateDomain in /ui/cron/ or /var/cron/tabs/nobody

[2016-09-22 21:55] fichtner opened #35 "Mk: automate rc.syshook.d invokes"

[2016-09-23 05:48] #35 closed

[2016-09-26 19:05] macmenco opened #37 "fwknob"
Maybe making fwknob (https://github.com/mrash/fwknop) available as plugin ? Or integrate with core ?

[2016-10-01 11:33] gitdevmod commented on #34
Hi @AdSchellevis, I still have not found a solution about this, any idea? Thanks

[2016-10-05 09:45] fraenki commented on #6
Looks like `security/letskencrypt`(or `security/acme-client`) can only be used on the LibreSSL flavour of OPNsense. I don't want a different client for every SSL flavour, so I'm going to checkout security/py-acme-tiny instead.

[2016-10-09 16:50] fichtner commented on #6
acme-client gained a "static" option now to be usable with OpenSSL, but our build system is not clever enough for this just yet. Just FYI.

[2016-10-11 15:02] fraenki opened #39 "net/haproxy: missing log messages when not run as root"
If the HAProxy plugin is not run as root (default), the log will only contain startup messages:

[code]

But any additional logging will not be available, i.e. messages regarding health checks:

[code]

[2016-10-11 15:06] fraenki commented on #39
@fichtner, do you have an idea what we've missed when enabling chroot for HAProxy? The syslog socket is there and the permissions look OK:

[code]

[code]

[2016-10-11 15:45] fraenki commented on #39
Ah, yes, running HAProxy in debug mode is useful:

`[ALERT] 284/174358 (53425) : sendmsg logger #1 failed: Permission denied (errno=13)`

[2016-10-11 15:52] fraenki commented on #39
Changing the directory permissions fixes this issue:

`chown www:www /var/haproxy/var`

[2016-10-11 16:36] #39 closed

[2016-10-22 09:22] fichtner opened #43 "web-proxy-sso: TODO list for public release"
- ~~fix POST issue: {"errorMessage":"Error at /usr/local/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/BaseField.php:520 - array_key_exists() expects parameter 2 to be array, string given (errno=2)"}~~
- ~~copyright header style updates~~
- ~~change menu location~~
- ~~adjust squid.conf and rc.conf.d/squid~~
- ~~alt-auth hook to prevent local user authentication~~
- unwind auth server vs. squid

[2016-10-22 09:38] fichtner commented on #43
<img width="1093" alt="screen shot 2016-10-22 at 11 37 26 am" src="https://cloud.githubusercontent.com/assets/1915288/19618494/fb7825a4-984b-11e6-8ca7-9982595abae6.png">

[2016-10-22 14:39] fichtner commented on #43
@gitdevmod problem with API POST turned out to be a typo: UpdateOnly -> UpdateOnlyTextField

[2016-10-22 22:43] gitdevmod commented on #43
- adjust squid.conf and rc.conf.d/squid [example](https://github.com/gitdevmod/core/commit/c4c9c42f0d3ba969f42ab5cee30183af3dcdf9d9)

[2016-10-23 12:05] fichtner commented on #43
@AdSchellevis the SSO plugin is quite light in terms of dependencies, and it requires a squid.conf base hook... it looks better to bring it into core.git itself. what do you think?

@gitdevmod At the moment, I don't know where the menu item should live (except in a native proxy server tab) and how it is going to be modelled: do we need a SSO configuration per user or is the "general" form the only

[2016-10-23 16:12] gitdevmod commented on #43
@fichtner it's a general configuration, add a new server authentication, configure the plugin (AD information) and the server authentication in proxy configuration page.

[2016-10-24 07:03] AdSchellevis commented on #43
@fichtner oops, was working may way through my email from top to bottom, so posted my comments here https://github.com/opnsense/core/pull/1235

I'm not overly enthusiastic for integrating it into core, mainly because of timing and current workload. If it's in core it automatically means we have to support the feature. I do see the logic of having it integrated, but when pluggable its easier to man

[2016-10-24 08:54] fichtner commented on #43
@gitdevmod squid.conf and rc.conf.d changes in via plugin.. almost done :)

[2016-10-24 10:29] gitdevmod commented on #43
👍

[2016-10-24 10:29] gitdevmod commented on #43
Thanks!

[2016-10-24 20:21] gitdevmod commented on #43
Code for kerberos is added correctly but Local User Authentication helper config should not be added at the same time

`# Authentication Settings`
`# Configure Local User Authentication helper`
`auth_param basic program /usr/local/etc/inc/squid.auth-user.php`
`auth_param basic realm OPNsense proxy authentication`
`auth_param basic credentialsttl 2 hours`
`auth_param basic children 5`
`# ACL - Loca

[2016-10-25 05:37] fichtner commented on #43
@gitdevmod ok, this is tricky to plug in, we may need an "alt-auth" file for this then

[2016-10-26 06:24] fichtner opened #46 "template revoke on +PRE_DEINSTALL"
If we do have a revoke, we should call it on +PRE_DEINSTALL adjusted to +TARGETS files,
then reload templates under +POST_DEINSTALL again...

[2016-10-26 06:25] fichtner commented on #43
@gitdevmod should be in there, I think we are ready for a first try :)

[2016-10-26 17:33] fichtner commented on #43
@gitdevmod fix tested in core and plugins for /etc/rc.conf.d/squid subdir -- cannot commit ATM, but will be there soon

[2016-10-30 18:57] gitdevmod commented on #43
Use a drop-down list for Domain Version. Last time I tried it did not work.

[2016-11-08 09:45] fichtner commented on #43
@gitdevmod the authentication work on core.git moves to 16.7.8. I don't think we'll be ready for the first release of SSO just then, but 16.7.9 could be the one. :)

[2016-11-09 08:37] fichtner commented on #43
I tried the option drop-down, but I didn't render properly as you said. Just keeping this for reference.

[2016-11-09 18:31] pcmediapear opened #51 "haproxy default certificate if SNI is not provided"
by haproxy plugin exist possibility to use multiple certificates by ssl offloading and this also works without any issues
what i am missing is possibility to choose default certificate if SNI is not provided
by default is used first created (oldest) certificate...

[2016-11-13 13:28] fichtner opened #52 "ftp-proxy: reconfigure needs filter reload to create ruleset anchors"
When flipping it off/on, the filter must be reloaded, otherwise the ftp-proxy cannot be reached.

Minor bonus: add versioning info to model:

    keep version OPNsense\FtpProxy\FtpProxy (0.0.0)

[2016-11-13 22:59] fraenki commented on #51
I'll look into it.

[2016-11-14 23:05] fichtner commented on #52
opening back up for a cosmetic issue on boot:

    eval: -ftp-proxy_opnsense_bootup_run: not found

[2016-11-15 14:31] fichtner opened #53 "plugin install causes templates to fail"
Hi Ad, this isn't severe, but I think we should keep track of this. Installed all plugins at once on a fresh 16.7.8 and it gave me the following errors:
[code]

[2016-11-15 14:34] fichtner commented on #53
Sorry, tinc had a suboptimal config due to a previous import. With a clean config tinc installs fine.

[2016-11-15 14:48] AdSchellevis commented on #53
ok, nice, can we close this issue then?

[2016-11-15 14:50] fichtner commented on #53
no, haproxy and helloworld are not perfectly fine, the first thing the user sees is an error during install. it's probably just a guard missing in the templates. I'll look into it.

[2016-11-15 16:50] fraenki commented on #53
Regarding HAProxy: I could wrap the whole `haproxy.conf` template in a `{% if helpers.exists('OPNsense.HAProxy') %}` clause if this is the way to go. :)

[2016-11-15 16:55] fichtner commented on #53
Yes and no. We need standards hooks for migrations during plugin install that could take care of this, then fix the model, if that is indeed a sensible approach. Not sure yet.

[2016-11-15 21:36] fraenki commented on #51
HAProxy _does not_ provide a parameter to configure some sort of "default certificate" in case SNI is not provided. [Workarounds](https://gist.github.com/fraenki/8f0feaa2ac2ba5814e4c5f8b04aa0b03) exist to make this work nonetheless, I'm working on a quick documentation to show how to configure this by using the OPNsense HAProxy plugin.

[2016-11-15 21:43] fraenki commented on #51
Well, this was not exactly the right answer. The HAProxy [documentation](http://cbonte.github.io/haproxy-dconv/1.6/configuration.html#crt%20(Bind%20options)) states:

If we consider that the workaround requires extensive configuration, I'll try to come up with a simpler approach instead. Maybe we cann add a new option "Default certificate" and make sure that this certificate is always the first on

[2016-11-15 22:18] fraenki commented on #51
@pcmediapear: I've introduced a new advanced parameter for frontends: "Default certificate". You can apply the patch from the PR or wait for release of plugin os-haproxy version 1.7, which shouldn't take too long.

[2016-11-16 05:50] #51 closed

[2016-11-16 05:53] fichtner commented on #51
This was merged, but will be picked up in 16.7.9, since the new 16.7.8 builds are already done.

But you can patch your instance using:

    # opnsense-patch -c plugins 42041e5

[2016-11-16 09:56] pcmediapear commented on #51
many thanks...

[2016-12-29 22:00] fichtner commented on #3
This is a bit rusty, superseded by the Insight/Netflow reporting. Closing this for now until somebody lets us know they want to work on it. :)

[2016-12-31 14:45] fichtner commented on #6
@fraenki from the looks of it, acme-client can now be shipped in both LibreSSL and OpenSSL flavours.

[2016-12-31 15:14] fraenki commented on #6
@fichtner Yes, just recently installed it on my FreeBSD test VM. I hope to provide a rough concept for how I want to implement LE in OPNsense. Some workarounds are required, but I hope to integrate it with HAProxy, Load balancer (relayd) and the bundled lighttpd. Alpha-quality code should follow soonish. I'm several weeks behind my schedule, but I hope to provide a first alpha version in january.

[2017-01-04 06:39] doublej74 opened #61 "security/tinc: Features request for Tinc GUI"
- Add a field to set custom port number (Tinc option)
- Add field for Mode option: router | switch | hub (Tinc option)
- Add field for setting the Ping Time-Out (Tinc option, for slow connections)

- Allow FQDN host names in ext. Address field, so that it can work with Dynamic DNS (Tinc supports this according to tinc documentation). Currently field only allows IP address. I think this needs to be

[2017-01-04 08:53] fichtner commented on #61
thanks, assigning to @AdSchellevis for eval

[2017-01-05 21:12] AdSchellevis commented on #61
@doublej74 I've added the port, ping and ext.address options, but I didn't have time to test (other then looking at the generated config). Do you have time to do this?

About the mode option, are you sure changing the mode to "switch" is all it needs? it's not a lot of work passing it through, but given the limited time I have, I want to ask you to test this first.

[2017-01-05 22:12] fichtner commented on #61
This can be patched with the tinc plugin installed using:

    # opnsense-patch -c plugins 9b54074

[2017-01-09 18:07] doublej74 commented on #61
Just to let you know I'm working on it. However I'm running into some other
issues, making it hard to test. I'll get back to you on that with more info.

On Fri, 6 Jan 2017 at 06:12, Franco Fichtner <notifications@github.com>
wrote:

[2017-01-11 08:06] doublej74 commented on #61
Not yet finished, but 1 issue found: Under Networks I now have two fields with the same name and help description: Subnet and Subnet

[2017-01-11 10:17] AdSchellevis commented on #61
oops, fixed in https://github.com/opnsense/plugins/commit/c5c5d6f310ae143adc45ac3343d4b1addb277e4c

[2017-01-12 18:00] philippdieter commented on #61
I want to add that tinc allows the use of multiple subnets. This is especially useful to reach the net behind the firewall. This applies to the remote hosts as well to the own host.

[2017-01-24 23:38] willjones opened #63 "Feature Request: OSPF or BGP"
Feature request for someone to write an OSPF or BGP plugin to allow for dynamic routing on internal networks and VPNs.

This would probably use Quagga or Bird in either instance.

[2017-01-26 09:34] EugenMayer commented on #6
you might really want to look at https://github.com/Neilpang/acme.sh .. i am using it right now on the opnsense instances, it works pretty good.

The current point would be, to reimport the certis when they are issued into opnsense, so more or less a sync between the cert/key folder of acme.sh folder and opnsense configuration.

Using the external script we get:
 - more or less all modes supported

[2017-01-26 10:11] AdSchellevis commented on #6
@EugenMayer can you post some small examples of how this should work? This sounds practical, the first time I looked at integrating let's encrypt there was just too much glue needed to make it functional, if this is easier I might be willing to do the work for this feature.

[2017-01-26 10:17] EugenMayer commented on #6
sure

right now on a fresh 17.1 installation, i do
[code]

the latter command just deploys the cron job for acme automatically get new certificates

to get a new certificate using ACME with in my case cloudfront

[code]

You can use other modes then --dns or a dns with a API integration ( you can go the manual way ) and all kinds, so very flexible. But when thinking about opnsense, most probably t

[2017-01-26 10:20] fraenki commented on #6
No examples  required, the plugin is almost complete.

[2017-01-26 10:23] EugenMayer commented on #6
@fraenki will it have and cloud-dns integration for ACME dns verifcation?

[2017-01-26 10:28] fraenki commented on #6
@EugenMayer If you mean _CloudFlare_, then yes.

[2017-01-26 10:45] EugenMayer opened #64 "security/tinc: Problems with the field-descriptions in tinc"
@AdSchellevis punch me if its just me, or my poor knowledge about tinc. I tried to read the docs and map what i seen there against what the forms ask for

Network:

1. Network: his machines internal address to use and network mask for the whole network
What does that mean - do you expect a address or a network? What does this field mean in general

2. Subnet: This machines part of the network
What

[2017-01-26 10:51] EugenMayer opened #65 "security/tinc: Cannot submit Host-Form in tinc"
The best description might be this screenshot: https://goo.gl/k1ffYu

I get a 200, response is empty, but the dialog stays open, no host is created in the end and now validation error is shown

[2017-01-26 13:58] AdSchellevis commented on #65
What version of OPNsense are you using? And is there a response message in the post (I missed that one in the screenshot)

[2017-01-26 14:05] EugenMayer commented on #65
No response ( empty ) , i am using 17.1, freebsd11

[2017-01-26 14:05] EugenMayer commented on #65
@AdSchellevis i am in the IRC channel or in gitter, if you like, just drop by, i take my time to analyze this with you

[2017-01-26 14:14] AdSchellevis commented on #64
I don't have a lot of time at the moment, but the basics are quite simple.
Tinc delivers a mess network (the network) where all connected hosts should fit in (larger subnet vs hosts serving a part of it).

According to the documentation of Tinc all connected hosts should know the other connected hosts, hence the duplicate input of the other hosts in the same net. It will probably function too with

[2017-01-26 14:19] AdSchellevis commented on #65
@EugenMayer I'm not behind a desk, so can't reproduce this at the moment. Have you tried the same on 16.7? It might be a glitch in the volt template (although I wouldn't expect a successful post then).
Last question is there a crash report generated?

[2017-01-26 14:39] EugenMayer commented on #65
@AdSchellevis Firmware->Reports does tell me, know programming bug - thats what you expect as a crash report right? Since the response type is 200, it might be something else, e.g. a broken route / wrong controller whatsover.

I cannot currently test it under 16.7, i only have 17.1 instances. If you like, you can easily build a 17.1 instance for virtualbox using packer https://github.com/EugenMaye

[2017-01-26 14:42] EugenMayer commented on #64
Well i would love to add the labels / descriptions, but yet, i am not gettin tinc, so i cannot get it running, so i cant help you :) its a hen/egg problem.

The problem is not the documetation online, but rather mapping your form on what they describe there. Using a tinc online doc + howto is easier then using the plugin right now, since it is 100% undocumentated and probably only clear for somebo

[2017-01-26 15:04] AdSchellevis commented on #65
As soon as I have the time (next week), I will test it on my end, no image needed, thanks for the offer.

[2017-01-26 15:33] AdSchellevis commented on #64
I'm not sure where your issue is..... maybe hosts should have been called "other hosts" to make things more clear.... other then that, the form just contains all information needed.

Maybe with a simple example, let say we have a network 10.0.0.0/16, containing two hosts (firewalls in that network) using the following networks internally:
A 10.0.1.0/24
B 10.0.2.0/24

Network tab for A:
Network 10.

[2017-01-26 15:44] EugenMayer commented on #64
well we got this to the core:

Network: thats the network of the tinc servers right, not the ones you really want to connect ( using routing ). that said, Network MUST be the same for alle "networks" defined. So lets say we build a tinc-connection of 3 servers, we need to have Network to be like

server1:
Network:172.1.1/24

server2:
Network:172.1.2/24

server3:
Network:172.1.3/24

The subnets the

[2017-01-27 07:56] fichtner commented on #6
Some minor things to do:

[code]

[2017-01-27 08:33] fichtner commented on #6
@fraenki ok, that should be all. can you double-check to approve this?

[2017-01-27 13:34] syserr0r commented on #6
I am not seeing this plugin available in the WebUI for 16.7.14 -- is that intentional or is there something I need to do to update the plugins list?

[2017-01-27 13:35] fichtner commented on #6
@syserr0r It was added to the tree just today ;) since 16.7.14 is EOL, the plugin will only be shipped with 17.1 and up

[2017-01-27 13:40] syserr0r commented on #6
Ah the plugin list is set at build time and not pulled from here -- I hadn't realized.

[2017-01-27 14:45] EugenMayer commented on #65
I debugged this with xdebug. In the case it does not work, the csrf token cannot be validated  OPNsense\Base\ApiControllerBase\beforeExecuteRoute .. if that happens, an empty 200 is returned https://goo.gl/bxTNBX

doing some non F5 reloads on the sight, it started to work .

It might be related to something like https://forum.phalconphp.com/discussion/310/csrf-protection#C8665 since we have severa

[2017-01-27 16:41] AdSchellevis commented on #65
A crash indeed invalidates your csrf token, maybe another call on the same page crashed earlier and your looking at the wrong culprit now.... I had the same issue a long time ago (other piece of software).

We should return a 403 to make the issue explicit, probably not very complicated to fix.

[2017-01-29 15:29] #6 closed

[2017-01-29 19:10] EugenMayer opened #68 "security/tinc: 17.1 interface gets lost"
When you install the tinc plugin you see a interface TINC in the interface section / rules section.
You can see the entry in <interfaces> section in the config.xml

You can configure a network/host like it is supposed, you then do a tinc daemon restart. You can see an tinc0 interface on the cli.

**Issue 1**
If you know reboot, the interface gets lost in opnsense, will though stay on the cli, so i

[2017-01-29 19:54] EugenMayer commented on #68
On the 3rd box i could actually crack it down more precise. It is not the reboot removing the interface, actually, it is by design that the interface is not "assigned" as a WAN/LAN nic would do - it just shows up the firewall rules tab.

Now, i tried a lot on the first boxen and back then created rules on this virtual interface - and that is actually the cause. If you create a single rule in the T

[2017-01-30 08:29] AdSchellevis commented on #68
It materialises on legacy config save, which isn't triggered at the  moment. Just change a single item in the firewall should always enforce a sync.
We should probably add a simple service call in core for this, which can then be executed from the api of the plugin.

[2017-01-30 10:48] EugenMayer commented on #68
@AdSchellevis u missed me here,  the point is, creating a rule will actually **remove** the tinc interface and cause a havok on the server.

I cannot see on how to "readd it" right now by editing rules?

[2017-01-30 10:54] AdSchellevis commented on #68
can't reproduce on my end, the interface registration is the same as used by other services (ipsec, openvpn, etc) as far as I can see.

[2017-01-30 11:07] AdSchellevis commented on #68
It seems I've found a box with a similar issue, let me get back on this one...

[2017-01-30 11:36] EugenMayer commented on #68
@AdSchellevis i can reproduce it every single time.

 1. Install tinc plugin
 2. configure one network + one host, press apply
 3. tinc service start and under rules you sie the tinc tab. Also you see an entry in config.xml
 4. add a rule to the tinc interface, after saving, the tab is gone, also the one in config.xml

[2017-01-30 11:48] AdSchellevis commented on #68
The one I found was only related to ipsec only  (https://github.com/opnsense/core/commit/3a96c1dd5dc5d01249fcb41c2d072c68956969b7)

Are you sure the network and underlaying hosts are enabled? I can't reproduce this on my end, and am too busy at the moment.

[2017-01-30 12:50] EugenMayer commented on #68
They are 100% enabled, i also checked it on the CLI, the configuration is generated.

Are you testing on 17.1? I have
 - 1 WAN
 - 1 LAN ( 10.1.5.0/24)

Tinc server is on 10.1.5.254
Subnet is 10.1.5.0/24

The other servers are the same and just differ in the subnet:
- Server B: Network: 10.1.6.254 / Subnet 10.1.6.0/24
- Server C: Network: 10.1.4.254 / Subnet 10.1.4.0/24

I can reproduce this issue

[2017-01-30 12:54] EugenMayer commented on #68
I have not IPSEC, no OPENVPN activated / enable, but i have those plugins installed ( nothing created ). In general those boxes are pretty vanially. Beside the WAN/LAN and 3 rules, they are basically 17.1 vanilla

[2017-01-30 14:28] fraenki opened #69 "security/acme-client: logfile is scrambled in the GUI"
@fichtner: The logfile looks distorted in the GUI right now. Do you have some advise how I might fix this? :)

![lelog](https://cloud.githubusercontent.com/assets/909706/22426740/b0ec9d04-e700-11e6-9696-d04141d97b44.png)

[2017-01-31 07:27] EugenMayer commented on #68
@AdSchellevis is there any way i can support you getting this fixed?

[2017-02-05 13:52] lrosenman opened #70 "acme-client: DNS-01/nsupdate: doesn't allow FQDN in the name"
when you put a FQDN in a certificate name request, you get: Should be a string between 1 and 255 characters.

if you remove all the special characters (INCLUDING PERIODS(!!)), it sends the unqualified name as the CN= to LE, and gets a 400 error:

[Sun Feb 5	00:00:07 CST 2017] new-authz error: {"type":"urn:acme:error:malformed","detail":"DNS name does not have enough labels","status": 400}
[Sun Feb

[2017-02-05 14:01] Aejoh commented on #70
Same problem, it is not possible to use a name like srv-1.example.com

[2017-02-05 17:08] nemesix29 commented on #70
Same issue when my FQDN contain a hyphen.

[2017-02-05 19:26] fraenki commented on #70
Thanks for the report, I'm preparing a fix.

[2017-02-05 19:28] fichtner commented on #69
squid has a similar issue. the regex is fixed for BSD, not per daemon.

[2017-02-05 20:58] fraenki commented on #70
A fix is included in PR #71.

[2017-02-05 21:12] lrosenman commented on #70
Can you clarify the nsupdate secret key field?

[2017-02-05 21:36] fraenki commented on #70
@lrosenman: You need to put in the whole key file, see the example in my initial PR #66. I'll fix the help text, though.

[2017-02-05 21:43] lrosenman commented on #70
@fraenki Thanks!

[2017-02-05 22:10] fraenki commented on #34
@gitdevmod: FWIW, I've added cron functionality to our new `security/acme-client` plugin just recently. It worked flawlessly. You may take a look at https://github.com/fraenki/plugins/blob/le_fixes/security/acme-client/src/opnsense/mvc/app/controllers/OPNsense/AcmeClient/Api/SettingsController.php#L49-L115 for another example.

[2017-02-06 08:38] AdSchellevis opened #73 "Build packages without an architecture (* for theme's)"
For theme packages it would be practical to be able to build them without an ABI or ARCH in it's specs.

[2017-02-06 11:47] #73 closed

[2017-02-06 20:57] fraenki opened #74 "net/haproxy: Upgrade HAProxy to 1.7.x"
Needs testing.

[2017-02-06 21:28] fraenki opened #75 "security/acme-client: show certificate status in GUI"
We should store the result of the attempt to issue/renew a certificate and show this information in the GUI. A simple success/failure status should be sufficient.

Via: https://forum.opnsense.org/index.php?topic=4456.msg16931#msg16931

[2017-02-06 22:00] fichtner commented on #74
https://github.com/opnsense/ports/issues/30 ;)

[2017-02-06 23:51] fraenki commented on #74
closing duplicate issue... silly me :(

[2017-02-06 23:51] #74 closed

[2017-02-07 09:36] nemesix29 commented on #70
Thanks !

[2017-02-07 17:45] #70 closed

[2017-02-07 19:57] fraenki commented on #70
FYI, the fix will be available on thursday with OPNsense 17.1.1  :)

[2017-02-15 15:43] QuentinC opened #77 "security/acme-client missing intermediate certificate from installed certificate"
Hello,

I've successfully installed a LE certificate using the opnsense plugin.
It seems to work, but some clients cannot validate it.

From different SSL checking sites, it seems that the certificate chain is incomplete:
https://www.ssllabs.com/ssltest/analyze.html?d=home.o2r.fr
(same here: https://cryptoreport.websecurity.symantec.com/checker/ and here: https://www.digicert.com/help/ ).

Can you

[2017-02-15 22:39] fichtner opened #78 "add /usr/local/opnsense/version marker file so that -devel and release plugins are always exclusive"

[2017-02-16 08:20] #78 closed

[2017-02-18 16:23] BiasF commented on #61
Hi,

the possibility to change the mode to switch would be very nice.

The tinc config is similar, except that the  subnet value in each host config are IP addresses in the same network.
(example: 10.4.0.1/32 for Host A, 10.4.0.2/32 for Host B and 10.4.0.3/32 for Host C)

[2017-02-19 12:42] AdSchellevis commented on #61
@BiasF can you try?https://github.com/opnsense/plugins/commit/9af4e92996f7e475b0629bec87e12f1a94ad7400

Don't forget to edit/save your configuration before restarting the service, a normal upgrade would fix the config.xml first.

[2017-02-19 14:58] BiasF commented on #61
Hi,

thanks 👍  It seems to work.
Maybe tomorrow I will try it in a larger testing environment, but with two OPNSense Hosts on my VMware Workstation it is working :)

Thanks for your awesome work !

[2017-02-19 14:59] AdSchellevis commented on #61
@BiasF your welcome! thanks for testing!

[2017-02-19 15:33] BiasF opened #79 "security/tinc: Adding tinc interface as Gateway"
Hi,

If you want to reach networks behind OPNSense, which are not part of the TINC-Subnet, you have to create routing rules.
But it's not possible, because you cant't choose the tinc0 as GW Interface. The tinc0 interface is not shown in the GUI (except on the firewall site)

Greetings
Tobias

[2017-02-20 08:43] YoShiiro opened #80 "security/acme-client : lost GUI"
Hi guy,

i've just installed the plugin for let's encrypt yesterday (following this https://github.com/opnsense/plugins/pull/66). The creation of the certificate was good when i check log. But when i go in settings -> administration -> add let's ecncrypt as certificate -> system default

I've lost the GUI, and impossible to recover it through WAN or even throught LAN...

How i can resolv that ? Di

[2017-02-20 08:47] YoShiiro commented on #80
Logs of  acme.sh.log yesterday when i create the certificate yesterday :
[code]

[2017-03-05 23:00] fkling opened #82 "security/acme-client: Add support for more DNS providers from latest acme.sh"
`acme.sh` [added more DNS validators](https://github.com/Neilpang/acme.sh/tree/e538a13e2854cc34b91a26838128e6b6859a5e83/dnsapi) recently, including linode which I'd love to use.

I'd be happy to provide a PR myself if someone could point me to instructions for how to test my changes. Or does it suffice if I just add the new files from/in the `dnsapi/` folder and make the corresponding changes in t

[2017-03-05 23:27] fraenki commented on #82
It's probably a good idea to update [our copy of acme.sh](https://github.com/opnsense/plugins/blob/master/security/acme-client/src/opnsense/scripts/OPNsense/AcmeClient/acme.sh) and all DNS hooks when adding a new DNS provider.

To add support for new DNS providers you need to add them to the UI/MVC files, but you also need to add [a few lines of PHP code](https://github.com/opnsense/plugins/blob/m

[2017-03-08 04:57] fkling commented on #82
So, I made some changes (see https://github.com/fkling/plugins/commit/95c8712bd98f64b8d64a21c30d710429ed5abab5), but I'm not able to use `opnsense-patch` to apply the changes. I'm getting the following:

[code]

It seems the folder structure of the plugin repository is different from how it is actually deployed. Is there anything special I have to do to make it work for plugins?

Should I still cr

[2017-03-08 05:04] fichtner commented on #82
permissions need a fix here:

create mode 100644 security/acme-client/src/opnsense/scripts/OPNsense/AcmeClient/dnsapi/dns_cyon.sh

Doesn't really matter if opnsense-patch works or not: it may just have issues with conflicting files or the plugin wasn't previously installed... some form of merge conflict one way or another. as long as you have changes and provide a PR we can add it to our repositor

[2017-03-08 14:08] fraenki commented on #77
Hi @QuentinC, please provide the steps to reproduce this issue. I've run the same tests for our LE certificates without any issues.

Please note that the LE plugin imports the certificate as well as the whole chain to `System -> Trust -> Certificates`. If you choose `export user cert` on the same page you'll notice that the file contains your LE certificate as well as the CA certificate for the LE

[2017-03-08 14:37] fraenki opened #84 "security/acme-client: properly handle issuer certs"
Currently our LE plugin does **not** import LE **CA** certificates, but instead _bundles_ them directly with the LE certificate (see https://github.com/opnsense/plugins/blob/3f1428dee4e5c4f3da5548574370996b5ee04647/security/acme-client/src/opnsense/scripts/OPNsense/AcmeClient/certhelper.php#L816-L817). Note that this is not really supported, as the OPNsense GUI shows the bundled cert as plain text

[2017-03-08 14:37] fraenki commented on #84
@fichtner Any thoughts on this?

[2017-03-08 15:03] fraenki commented on #80
What _exactly_ happens when you try to access the GUI through a browser? Any error message?

I can't reproduce this. Which version of OPNsense and LE plugin are you using?

[2017-03-09 08:15] fichtner opened #85 "monit: reponsive service control and save/apply"

[2017-03-10 17:51] jeffg2k opened #87 "Plugin Request: icap"
Would be nice to see an easy way to enable a free ICAP.  Maybe http://c-icap.sourceforge.net/ if it's any good.

[2017-03-10 18:10] fabianfrz commented on #63
see #88 for OSPF. I did never use BGP but the code contains the base to support BGPv4 as well. It is using Quagga as routing daemon.

[2017-03-10 18:10] fabianfrz commented on #63
note, that I have only implemented a minimal setup

[2017-03-10 18:15] fabianfrz commented on #87
I made a tutorial about that some month ago: https://fabian-franz.eu/icaprb/opnsense/2016/11/23/install-icaprb-on-opnsense.html

You can also install `c-icap ` from the FreeBSD ports at own risk.
Note that good analysis requires a lot of CPU / Memory usage and content processing is always a risk I would not like to have on a firewall device. There is a reason why it should be external.

[2017-03-12 13:08] fichtner commented on #84
Makes sense to import it properly. It could help with VPN operation as well?

[2017-03-12 13:10] fichtner commented on #84
But it may need a new type like "internal but handled by plugin" in cause anyone wants to issue new certificates from that CA.

[2017-03-14 12:54] fabianfrz commented on #63
@willjones the code for OSPF should be generating a valid configuration now.
You may test it with an upcoming release.

[2017-03-17 09:57] smindorf commented on #77
Hi,
I've the same issue. I've created a LE Certificate for the web UI of opnsense but the Intermediate certificate is missing.

`openssl s_client -connect host.example.com:1234`

[code]

Regards,
Sören

[2017-03-17 10:33] fraenki commented on #77
Hi Sören,

thanks for the report! I can't reproduce this, I've tested the certificates with both HAProxy and OPNsense WebGUI (lighttpd) and it works without any issue. How do you use the certificate? Did you export the certificate and use it somewhere else, or do you use it on your OPNsense firewall? Which application or (OPNsense) plugin does not work with the generated certificates?

Thanks
- Fr

[2017-03-17 10:35] fraenki commented on #84
@fichtner you would introduce a new type to prevent people from generating new certificates from that CA, right?

[2017-03-17 10:37] fichtner commented on #84
if we don't have a private key, we are good?!

[2017-03-17 10:38] fichtner commented on #84
(scratch my previous ramblings)

[2017-03-17 10:49] smindorf commented on #77
Hi Frank,

you are welcome.
I've created the certificate on the OPNSense firewall with this plugin and I use this certificate exclusive on the OPNSense firewall for the Web UI.
It is the only certificate from LE on this firewall.

For example the firefox is not working, because the intermediate is missing.

Regards,
Sören

[2017-03-20 07:53] fichtner opened #90 "quagga: setup.sh for directory creation under /var MFS"
Hi Fabian,

The directories needed are these two, whereas:

user: quagga
group: quagga
mode: 750
localstate: /var/run/quagga
sysconf: /usr/local/etc/quagga (probably)

https://github.com/opnsense/ports/blob/master/net/quagga/pkg-plist#L108-L109

Cheers,
Franco

[2017-03-20 11:22] fraenki commented on #75
fixed by https://github.com/opnsense/plugins/commit/bf0d83a6b7e0959f18ce6538fb94f08194566805

[2017-03-20 11:22] #75 closed

[2017-03-20 11:23] fichtner commented on #82
Already merged.

[2017-03-20 11:23] #82 closed

[2017-03-20 11:29] fraenki commented on #77
Hi Sören,

I still think it's strange that it's not working for you (and few others), but I think this will be fixed once #84 is implemented. I'm working on this :)

Regards
Frank

[2017-03-20 17:54] fabianfrz commented on #90
@fichtner please close ticket when done - I don't have the permission to

[2017-03-20 17:58] fichtner commented on #90
Closed via #93

[2017-03-20 17:58] #90 closed

[2017-03-21 14:24] fraenki commented on #80
#84 might fix this issue

[2017-03-21 16:36] fraenki commented on #77
OK, after completing #84 I was finally able to reproduce and fix this.

[2017-03-21 16:37] fichtner opened #95 "add pkg-descr for all plugins"
- [x] devel/debug
- [x] devel/helloworld
- [x] net/ftp-proxy
- [x] net/haproxy
- [x] net/igmp-proxy
- [x] net/l2tp
- [x] net/pppoe
- [x] net/pptp
- [X] net/quagga
- [x] net/relayd
- [x] net/upnp
- [x] net/wol
- [X] net-mgmt/snmp
- [x] sysutils/boot-delay
- [x] sysutils/monit
- [x] sysutils/smart
- [x] sysutils/vmware
- [x] sysutils/xen
- [x] security/acme-client
- [x] security/intrusion-detection-

[2017-03-21 16:37] #84 closed

[2017-03-22 14:36] smindorf commented on #77
I'll wait till next release to check if it is working.

Thanks a lot,
Sören

[2017-03-22 19:31] markuspachali opened #96 "SNMP: Support for SNMPv3"
Hi all,

are there any plans to implement support for SNMPv3? Via WebGUI there is only basic support which (I guess) leads to SNMPv2. There are options to configure SNMPv3 directly in /etc/snmp.conf but I'm not sure if any changes there are safe for updates of the SNMP Plugin or OPNsene itself.

Best regards,
Markus

[2017-03-22 20:35] fichtner commented on #96
Hi Markus,

Not familiar with SNMPv3 on FreeBSD yet, but this looks promising as a guide to sketch out a working config:

https://lists.freebsd.org/pipermail/freebsd-current/2014-April/049343.html

If we have a working config we can add the required GUI knobs. How does that sound? :)

Cheers,
Franco

[2017-03-22 20:39] fabianfrz commented on #96
@fichtner at the same time, snmp could be converted to MVC. The plugin seems to be a simple form with a bit of validation.

[2017-03-22 21:22] markuspachali commented on #96
Hi Franco,
me neither, but that sounds like a deal :)  I'll investigate that the next days.
The challenge here seems to be to work with what is shipped with OPNsense. Based on man page for snmpd.conf there is similar command to net-snmp-create-v3-user which can be found on linux and just creates the lines in /etc/snmp/snmpd.conf and /var/lib/net-snmp/snmpd.conf. As described here https://www.freeb

[2017-03-22 21:24] fichtner commented on #96
@markuspachali thanks in advance! :)

[2017-03-23 20:33] markuspachali commented on #96
Hmm... okay, it's not net-snmp which is used, it's bsnmpd. That makes it a "little bit" more complicated. There is nearly no documentation regarding snmpv3 available. This will take some time for me to get a working configuration.
Is there a reason why OPNsene decided to use bsnmpd and not net-snmp? Are there otherwise any chances to  replace bnsmpd with net-snmp, which would make it much easier t

[2017-03-24 04:58] fichtner commented on #96
Very historic reasons. bsnmpd is in the FreeBSD base system, that's all. net-smpd was added to pfSense just this year. I don't mind adding it for SNMPv3 or as an alternative to bsnmpd. One of the key goals has been reached with 17.1: removing the service from the base system.

It would make Fabian's request even easier, we could add a new os-net-snmp package based on MVC and not touch the os-snmp

[2017-03-24 20:35] fabianfrz commented on #95
@fichtner I created one for net-mgmt/snmp in #98 but I don't know most of those plugins as I have never used them.

[2017-03-24 20:44] fichtner commented on #95
We should reuse FreBSD's pkg-descr files where we can as a base: https://github.com/opnsense/ports/blob/master/net/quagga/pkg-descr

[2017-03-24 20:51] fabianfrz commented on #95
@fichtner the one for quagga looks good. Can it be copied?

[2017-03-24 21:05] fichtner commented on #95
@fabianfrz it was copied from here http://www.nongnu.org/quagga/ so I would say yes....

[2017-03-25 07:38] fichtner opened #99 "haproxy: undefined index 'style'"
[code]

[2017-03-25 09:22] AdSchellevis opened #100 "acme-client / security concern"
As discussed here https://github.com/opnsense/plugins/pull/91#pullrequestreview-28123494 and at the risk of forgetting about it, I thought it would be a good idea to open an issue for it.

Current situation seems to be that an arbitrary command can be executed through the webgui using the underlaying scripting, which we should try to avoid.

Related code https://github.com/opnsense/plugins/blob/a3

[2017-03-25 14:14] fichtner commented on #100
The basic question is what is it used for? If the answer for normal plugin operation is "nothing at all" it should be removed. I guess without the use case(s) we can't replace it, just delete. ;)

[2017-03-27 09:21] fraenki commented on #100
It's meant as an equivalent to the "hooks" that can be used in _many_ LE clients. These hooks make LE clients much more flexible and allow you to use the certificates in a way that suit your environment. For example, check-in certificates in a repository (to allow other hosts to access and use them), copy certificates to another host and restart remote services, etc.

I'm OK with removing this fun

[2017-03-27 09:41] fichtner commented on #100
People can easily revert to the older package if they want... I don't think the warning will matter much in terms of making people aware of a migration they have no opportunity to handle differently.

    # opnsense-revert -r 17.1.3 os-acme-client

[2017-03-27 12:54] fraenki commented on #100
OK. I've created #103 and I'm going to merge it if nobody has objections.

[2017-03-27 13:07] fichtner commented on #100
ok 👍

[2017-03-27 13:22] #100 closed

[2017-03-27 14:25] fraenki commented on #99
@fichtner I don't get it. What's the issue? The message points to code that hasn't changed in a while. I've submitted a crash report, assuming this was caused by a recent commit in core.

[2017-03-27 14:34] fichtner commented on #99
I don't know. It's spamming the crash reporter log on page render. I couldn't find the same behaviour in the IPS or web proxy so I added it here.

[2017-03-27 14:50] fraenki commented on #99
@AdSchellevis I think https://github.com/opnsense/core/commit/1974000cec3869d35aba10944e753be97ebc5553 looks suspicious, because it tries to access `field['style']`. Could this be the reason for `Undefined index: style`?

[2017-03-27 16:47] #99 closed

[2017-03-27 16:47] AdSchellevis commented on #99
@fraenki yes, that seems to be the issue here. replaced it for an "in"

[2017-03-27 16:55] fichtner commented on #99
thanks to both of you :)

[2017-03-27 19:51] fichtner commented on #95
thanks for the todo list :)

[2017-03-28 04:42] #95 closed

[2017-03-28 19:46] markuspachali commented on #96
Adding net-snmp as an alternative for bsnmp would be great.
I've spend some time go get a working SNMPv3 config for bsnmpd but without success. Based on my understanding of the comments in the config file /etc/snmpd.config (which is the only documentation I could find) everything is fine. I'm also able to start the deamon with "/usr/sbin/snmpd -c /etc/snmpd.config -d" but there is absolutely no re

[2017-03-28 19:56] fabianfrz commented on #96
@markuspachali that could be a problem because PF is the core component of OPNsense. However a plugin could be created and it will support the additional OIDs as soon as upstream does it.

[2017-03-29 18:20] mimugmail opened #105 "quagga: Traceback cause of ripd.conf regardless if used or not"
Hi,

I just did a fresh install of opnsense, installed quagga and package via pkg and got the following:

Mar 29 18:41:44 OPNsense configd.py Starting daemon.
Mar 29 18:41:45 OPNsense configd.py: [6262e1e1-604b-4f06-815b-92db1d1b304e] generate template OPNsense/Quagga
Mar 29 18:41:45 OPNsense configd.py: generate template container OPNsense/Quagga
Mar 29 18:41:45 OPNsense configd.py: [6262e1e1-604

[2017-03-29 21:46] fabianfrz commented on #105
looks like the RIP configuration does not exist. Can you reproduce that, when you hit save on both?

[2017-03-29 22:17] fabianfrz commented on #105
@mimugmail for me, this looks like it happens because there is no configuration yet. #106 should disable the generation of probable defect configuration directives if the data does not exist. Maybe @fichtner can post you a command to test the patch.

[2017-03-30 08:53] mimugmail opened #107 "quagga: Syntax of "networks" in RIP is unclear"
Hi,
tried to configure/test RIP, but I always get a "list validation error" no matter how I format the network, like 192.168.0.0 or 192.168.0.0/24.

What value does it expect?

[2017-03-30 09:48] #105 closed

[2017-03-30 13:14] fabianfrz commented on #107
It is a Network with a CIDR notation netmask (latter should work)

[2017-03-30 13:17] fabianfrz commented on #107
probably a validation message should be added

[2017-03-30 13:21] mimugmail commented on #107
Hm, probably I misunderstood you.
I tried:
192.168.0.0
192.168.0.0/24
192.168.0.0 255.255.255.0

But everytime I got a "list validation error" with:

{
  "result": "failed",
  "validations": {
    "rip.networks": "list validation error"
  }
}

[2017-03-30 13:25] fabianfrz commented on #107
That is strange, this are my networks (blanked out)
![image](https://cloud.githubusercontent.com/assets/3713914/24506206/089bced2-155d-11e7-869f-5ff8236e37df.png)

This one I can save.

[2017-03-30 13:29] mimugmail commented on #107
Do you get dropdown list with some proposals when clicking in the field like with Passive Interfaces?

[2017-03-30 13:29] fabianfrz commented on #107
no, I filled it in and pressed enter

[2017-03-30 13:39] mimugmail commented on #107
Found it, you have to apply a "," at the end, also when there's only one network

{%   for network in OPNsense.quagga.rip.networks.split(',') %}

[2017-03-30 14:05] fabianfrz commented on #107
`split` should always return a `list` (if the delimiter is not found, the `list` should have only one item).

[code]

So this cannot be an issue. Or do I misunderstand something?

[2017-03-30 14:13] mimugmail commented on #107
Correct, stupid guess. But definately I can only add it when I add "," after the /24

Also when I want to disable RIP again und uncheck it, I can't delete the network cause of a list validation error :)

[2017-03-31 11:59] fabianfrz commented on #107
I fixed the help text. I hope that helps.

[2017-03-31 12:04] mimugmail commented on #107
Thanks, there's still a small type "Netzworks".

But the thing with "," after the network is still not reproduceable on your side? Also when trying a new network you never used before like 242.245.242.0 or so?

[2017-03-31 12:25] fabianfrz commented on #107
@mimugmail no, This network works on my side

[2017-03-31 12:47] mimugmail commented on #107
Hm, I'll setup a new instance and test some different browsers ...

[2017-04-04 11:48] smindorf commented on #77
@fraenki
After upgrade to opnsense 17.1.4 and forcecing the LE Certificate renewal, Firefox will now trust the certificate.

Thanks
Sören

[2017-04-04 12:40] QuentinC commented on #77
Hello,

Problem solved for me too !
Thanks :)

[2017-04-04 12:45] fraenki commented on #77
Great, thanks for your feedback. :+1:

[2017-04-04 12:45] #77 closed

[2017-04-04 12:46] fraenki commented on #80
The current release should fix this issue. Please report back if the issue not fixed.

[2017-04-04 12:46] #80 closed

[2017-04-06 08:34] #107 closed

[2017-04-06 08:38] fabianfrz opened #113 "Quagga: Update style of writing"
for example write all protocol names uppercase.

Todo @ before public release

[2017-04-10 11:34] fabianfrz opened #114 "Quagga: disable pager"
To disable the pager in quagga after every entered line, this should be added somewhere in the global shell configuration:
[code]

[2017-04-10 12:27] #63 closed

[2017-04-10 12:27] #113 closed

[2017-04-10 13:34] mimugmail opened #116 "Quagga: Set a global password for service management via CLI"
If you want to configure some features by hand via the CLI you have to telnet to localhost and then port 2601 for zebra, or e.g. 2605 for bgg, but local management is only available when there's a password configured in the *.conf.

root@OPNsense:~ # telnet localhost 2605
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
Vty password is not set.
Connection closed by foreign hos

[2017-04-10 13:42] fabianfrz commented on #116
I don't want it to be available on the net - it is just attack surface. If you want to configure it remotely, a user with `vtysh` set as shell is far a better option because the connection would be encrypted.

The configuration should be done via the GUI and all changes are undone at reboot / changes in the GUI.

Opening the port is bad...
* for security reasons
* for management reasons

However y

[2017-04-10 13:49] mimugmail commented on #116
No, no need for such a discussion :) With your fix #114 vtysh is way easier to use.

[2017-04-10 13:49] #116 closed

[2017-04-11 19:53] fabianfrz opened #117 "Quagga: resolve OPNsense names to real interface names"
will fix this soon.

looks like I missed that the interface field translates to the OPNsense names like opt1 or lan but quagga needs the real interface names.

There is currently no function for this.
@fichtner @AdSchellevis  the best way would be adding a new helper for interfaces which I can call like `find_interface(interface_name)` where I can access information like the hardware interface nam

[2017-04-12 19:43] mimugmail opened #118 "Quagga: statistics and diagnostics page (done); follow ups"
I'd like to have some kind of diagnostics within the Routing tab.

E.g. for OSPF it would be very cool to show the output of commands like "sh ip ospf neighbor" or the fib routing table. Also with bgp a show ip bgp summary or advertised routes would be cool.

If you guys know a page which I can use as a template with similar function I could try to do it on my own.

[2017-04-13 05:36] AdSchellevis commented on #117
@fabianfrz I think macro's are the way to go here, see https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/Macros/interface.macro

and for usage
https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/IDS/rc.conf.d#L2
https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/IDS/rc.conf.d#L18

As soon as I can

[2017-04-13 06:56] fabianfrz commented on #117
This does exactly what I needed but why is that a macro? I looked at the helper file where it was not included.

[2017-04-13 14:16] fabianfrz commented on #118
@mimugmail you need to provide an API controller, which you can use to query the information, a script which will serve the data as well as an action in the frontend with a template.

You will need to add an action to this file:
https://github.com/opnsense/plugins/blob/master/net/quagga/src/opnsense/service/conf/actions.d/actions_quagga.conf
This will allow you to run a script via configd.
The scr

[2017-04-13 21:10] mimugmail commented on #118
@fabianfrz Thanks! I'll start with a new PR when the new version is released.

[2017-04-14 10:32] fabianfrz commented on #117
I will close this for now as the issue in the plugin is solved.

[2017-04-14 10:32] #117 closed

[2017-04-18 10:59] mimugmail commented on #118
@fabianfrz Design question: Should I create a general diagnostics page under the protocols, or on every protocol configuraion page some diagnostics buttons?

ATM: I have sh script for bgp which can be copied and modified for every protocol
https://github.com/mimugmail/plugins/blob/master/net/quagga/src/opnsense/scripts/quagga/diag-bgp.sh

I'd pass the arguments via the actions_quagga.conf (if poss

[2017-04-18 11:05] fabianfrz commented on #118
@mimugmail I would make an extra menu entry for diagnostics like it is everywhere else in the menu so it is consistent.

All diagnostic things could be on the same page (one diagnostics page) or separate (whatever makes more sense).

For the config file: you can also pass though parameters if your like or it is easier to you.

[2017-04-19 20:09] fabianfrz opened #124 "Quagga: OSPF for IPv6"
A twitter user requested it (https://twitter.com/struband/status/854376817951748096)

If there is some time, it can be added

A sample can be found here:
http://www.nongnu.org/quagga/docs/docs-multi/OSPF6-Configuration-Examples.html

[2017-04-20 12:38] #85 closed

[2017-04-20 18:38] mimugmail commented on #124
IMHO the biggest problem here is the v6 reduction, is there some kind of API/macro whatever within OPN available?

[2017-04-20 18:49] fabianfrz commented on #124
@mimugmail what is 'reduction'?

OSPFv3 is an own service with its own configuration file and configured entirely different.

[2017-04-20 20:24] mimugmail commented on #124
Input validation because you can write the ip like
2001:0DBA:0000:0000:0000:0000:0000:0001
or
2001:0DBA::1
or
2001:DBA::1

[2017-04-20 20:25] fichtner commented on #124
IPv6 compression is not a problem, though we need to bounce these inputs through the backend --
-- let's not do this with JS ;)

[2017-04-20 21:03] WhiteNoseThunderPants opened #125 "Let's Encrypt and HAProxy Integration"
I posted this on the OPNsense forums, but I figured this would be the best place for it.

I'm running OPNsense 17.1.4 and everything that I have configured has been working great except for the Let's Encrypt and HAProxy integration.

I have the latest plugins installed for both. Let's Encrypt has generated its integration with HAProxy.

You can find the Acme Client log here: https://pastebin.com/j

[2017-04-21 04:39] fabianfrz commented on #124
@mimugmail what you explain is called `zero compression`. It is easy to validate as it is allowed to be included only once and for an IPv6 network it is easy as there is only one place where it could be: at the end because the smallest network ist /64 which is the half address ;)

[2017-04-21 10:54] fbrendel commented on #9
Yes would be nice to have optimized values with a simple click.

The plugin should detect the drivers and apply these sysctls.

But we need different values for different workloads on different hardware.
And the plugin will need a reboot since some settings can only be made in /boot/loader.conf.

And what do you think about a GUI to change this settings and let the admin easily publish it on githu

[2017-04-21 10:58] fichtner commented on #9
Ideally yes, practically no. The sysctls do this mostly. We can't easily template the boot.loader settings, at least not in the traditional way as we need to ensure removal of rc.loader.d files (see https://github.com/opnsense/plugins/commit/7ccea3e5a2ae5b57560d3ff6992339328dab3a19 )

Anything settings + GUI also means a config.xml model, maybe even start with core support for loader.conf modifica

[2017-04-21 11:21] fbrendel commented on #9
To understand it right: change a value in the gui, trigger a template reload for a new rc.loader file and then create a new /boot/loader.conf is a problem? Even with a big warning that the system will reboot?
And the files created by the template will not removed when I remove the plugin? Ok this is a problem then.
But wait, what if the plugin provides an empty rc.loader file? This would be remove

[2017-04-21 11:26] fichtner commented on #9
Yes, the plugin would register its own (empty or only comment-based) rc.loader.d file and rewrite it as needed. It wouldn't reboot, but tell the user that they need to reboot and that that reboot may be fatal ;)

[2017-04-21 11:35] fbrendel commented on #9
Please don't say 'fatal'. It's so negative.
I think the worst case is that the system comes up without network.
Is it too naive to say "remove the plugin via console and reboot"?
Anything we can do at the loader prompt?

[2017-04-21 11:37] fichtner commented on #9
It's hard to recover from loader.conf modifications, not even the boot loader console can help with overriding its values sometimes. Booting up without a network for a firewall appliance is tricky then, for most people an obvious mistake of the software.

[2017-04-21 11:48] fbrendel commented on #9
Ok, then we have two options.
Static and unflexible or flexible and possibly unstable.
For the first case we can choose values for all-pupose workloads/hardware. What the default values already are.
For the second we could minimize failures with a plausibility test.

[2017-04-24 13:54] alanrbryant commented on #125
Any suggestions at all for what to do short of starting from scratch?

[2017-04-24 14:19] fichtner commented on #125
CC @fraenki

[2017-04-24 14:53] fraenki commented on #125
@alanrbryant Let's Encrypt (the CA, not the plugin!) is unable to reach your servers, according to acme.sh logs:

[code]

And I can't reach your site neither:

[code]

At first look it does not seem like the HAProxy configuration does not work yet. Maybe start there and add Let's Encrypt later.

[2017-04-24 16:07] alanrbryant commented on #125
@fraenki thanks for the response, I really do appreciate it.

SO, it seams it may be a misunderstanding of how Let's Encrypt works on my part. I do not have anything running on port 80 for source.bryantgeeks.com, only on port 4433. I understood the plugin to be opening port 80 to redirect the request to an internal server. Do I need to first have port 80 open for source.bryantgeeks.com manually?

[2017-04-24 19:36] WhiteNoseThunderPants commented on #125
So I went ahead and switched my HAProxy config to point to ports 80 & 443 and once the translation fix comes in, I will try it again and see if that was my problem all along.

[2017-04-26 01:15] WhiteNoseThunderPants commented on #125
I've switched to using the Port Forward method.

[2017-04-26 01:15] #125 closed

[2017-04-26 12:40] KlaasT opened #132 "ACME: Uncaught errors on fresh Opnsense install"
Hi,

I've some uncaught errors from the acme plugin on a fresh Opnsense install. In the logfile I can see that the certificate is generated and saved however the interface doesn't know anything about the state:

`[26-Apr-2017 12:50:34 Europe/Berlin] PHP Fatal error:  Uncaught Error: Call to a member function configdRun() on null in /usr/local/opnsense/scripts/OPNsense/AcmeClient/certhelper.php:727

[2017-04-26 12:51] KlaasT commented on #132
OPNsense 17.1.5-amd64

If I comment out /usr/local/opnsense/scripts/OPNsense/AcmeClient/certhelper.php line 727 it works and the certificates are displayed correctly in the interface and are usable.

[2017-04-26 13:05] fraenki commented on #132
Thanks for the report, I'll look into this.

[2017-04-26 13:10] fichtner commented on #132
$backend is not declared, @fraenki shall I patch this up?

[2017-04-26 13:16] fraenki commented on #132
@fichtner TBH, I see this too, but I can't reproduce it. I'm using this code _for months_ now. Strange why it didn't show up earlier.

[2017-04-26 13:18] fichtner commented on #132
it looks like a no-brainer, maybe your deployments miss the condition?

[2017-04-26 13:18] fraenki commented on #132
I'm using the release code. Will push a fix in a minute....

[2017-04-26 13:26] #132 closed

[2017-04-26 13:28] fraenki commented on #132
The bugfix can be applied by issuing the following command:

`opnsense-patch -c plugins 94ce37f`

[2017-04-27 08:51] fraenki commented on #125
I know I'm late, but for others that may read this:

Right, Let's Encrypt requires port 80 for HTTP-01 validation.
If using the HAProxy validation method with our Let's Encrypt plugin you're expected to have a HAProxy frontend listening on port 80 already. Otherwise Let's Encrypt communication may fail.

This is a good solution if you don't want to open port 80.

For websites that are already conf

[2017-04-27 09:40] mimugmail opened #135 "Quagga: startup errors / or only display error"
In my lab with 4 routers (circled) I have 3 of them with devel 1.0.1 and 1 with stable 1.0.0.
When I shut all systems down und start again the quagga services are startet (ps aufx), but in UI it's marked red. Restarting via UI throws:

[code]

Also when enabling OSPF e.g. the UI is still red, but the new process is running.

This happens with 1.0.0 and 1.0.1.

In system.log there's no error when b

[2017-04-27 10:49] fabianfrz commented on #135
@mimugmail can you restart it or query the status?

It is also red if one of the configured services fails to start - in my case this is often BGP

[2017-04-27 11:17] mimugmail commented on #135
@fabianfrz I can restart it via

[code]

Via status_services.php I can only try to start it because it thinks it's down. Starting it it fails with the error above.

The protocols are all working fine, only the status is displayed wrong.

[2017-04-27 19:50] fabianfrz commented on #135
You can try this patch: #136 if this fixes the problem, please close the issue by yourself.

[2017-04-27 20:08] mimugmail commented on #135
Great, works fine! Thanks

[2017-04-27 20:08] #135 closed

[2017-04-28 20:01] mimugmail commented on #124
I extended my test env with ospf6d.
Added IPv6 via UI, added ospf6d.conf via CLI:

[code]

And have a nice adjacency:

[code]

[code]

I think most of the ospf stuff can be copied to ospf6 (or ospfv3).

[2017-04-28 20:07] fabianfrz commented on #124
@mimugmail nice, I can add the backend parser into `quagga.rb`

[2017-04-29 19:54] fabianfrz opened #138 "Quagga (BGPv4): Add some validations"
Like valid AS IDs must be larger than 0

@mimugmail If you have time :)

[2017-04-30 13:00] fichtner commented on #118
Close this one?

I'm probably very late to the party, but we really need to change the menu location, right now it looks like quagga is a core routing service, but we don't have a core routing service in the core...

Items belong under Services: Quagga

[2017-04-30 13:57] fabianfrz commented on #118
@fichtner Good question - there are still some diagnostics views to add - it is a very large To Do. The most important ones are there now (maybe use a follow up ticket for extension)

For the menu: This was intended to look like this as the menu currently looks like it contains 2 to 7 in the OSI Model so I have added it to layer 3-4 which did not exist until now :)
If you thing it is better placed

[2017-04-30 17:54] mimugmail commented on #118
I don't really see this as a "Service". Only guys who know what they do install Quagga.

[2017-04-30 19:10] fabianfrz commented on #118
Maybe also a mix could be used: move `Routing > *` to `Routing > Quagga > *`, Then move the routing stuff of core into `Routing` - like `static routes`. If it is called `Networking`, also `ARP` or `NDP` could be in the menu.

[2017-05-01 11:47] fichtner commented on #118
Ok.. I like the Routing / Quagga layout. But the (empty) Routing menu needs to be anchored in the core. We'd want to move more things there, but that also requires further menu tinkering we may be able to do for 17.7 or 18.1.

[2017-05-01 16:24] mimugmail commented on #138
@fabianfrz #139 If you like to review :)

[2017-05-02 05:39] fabianfrz commented on #138
Merged, thanks to @mimugmail

[2017-05-02 05:39] #138 closed

[2017-05-02 11:59] mimugmail commented on #124
Is it prohibited to use OSPF and OSPF6? I first copied all files and renamed everything to *6.
Now when I click on OSPF (v2) I get an API exception error: Class \OPNsense\Quagga\OSPF does not exist

[2017-05-02 12:17] mimugmail commented on #124
Forget it, was a typo in the old model. Seems fine but data gets not saved. I'll investigate further ..

[2017-05-02 12:31] fabianfrz commented on #124
Cannot say anything without knowing the code...

[2017-05-02 12:56] mimugmail commented on #124
https://github.com/mimugmail/plugins/tree/ospf6d/net/quagga

Within browser debugging I get a

`class OSPF6 extends BaseModel { } Fatal error: Uncaught Error: Class 'OPNsense\Quagga\OSPF6' not found in /usr/local/opnsense/mvc/app/controllers/OPNsense/Quagga/Api/Ospf6settingsController.php:45 Stack trace: #0 [internal function]: OPNsense\Quagga\Api\Ospf6settingsController->getAction() #1 [internal

[2017-05-02 13:03] fabianfrz commented on #124
I have looked over your code but I don't think it is a good idea to mix `OSPFv3` and `OSPF6`. It is probably better to rename it to OSPFv3 (as it is the protocol name)

The problem: Have you copied the files to your device?

[2017-05-02 13:07] mimugmail commented on #124
I use OSPFv3 only two times where it's displayed.
Quagga internally always uses ospf6 (in config), only for display there's v3. I'd rather stay to OSPF6 than v3.

No I copied via github UI.

I forgot to adjust the template folder, but I don't think this is related to the error above.

[2017-05-02 13:15] mimugmail commented on #124
Ok, found it, I missed the first line in the ospf6 model .. :(

[2017-05-02 13:19] mimugmail commented on #124
@fabianfrz Ok, great. I have a running setup, ospf6d.conf file gets created and the daemon is now started.
I'll adjust the values for ospf6 now and delete the network tab. With ospf6 there's no network statement anymore

[2017-05-02 21:22] sjorge opened #140 "obfsproxy plugin"
A obfproxy plugin would be handy for use with OpenVPN.
It could also be used for other things.

Maybe we need a lightweight generic proxy interface in core so things like this and ftp-proxy could be configure in a common interface. Instead of each getting 'FTP Proxy, IGMP Proxy, OBF Proxy, ...'

[2017-05-03 06:10] fabianfrz opened #141 "Quagga (OSPF): Add Diagnostics backend; Diagnostics: Finish the To Do (DONE)"
Only in quagga devel - not in stable.

[2017-05-03 06:21] fabianfrz opened #142 "HAProxy: titles are not translated"
just wrap the title in the controllers in gettext

[2017-05-03 09:47] mimugmail commented on #124
Pulled #143

[2017-05-03 09:52] mimugmail commented on #141
OSPFv3:

[code]

[code]

[code]

[code]

[code]

[code]

[2017-05-03 13:49] fabianfrz commented on #124
contributed by @mimugmail

[2017-05-03 13:49] #124 closed

[2017-05-03 14:53] mimugmail commented on #118
@fabianfrz I installed the latest master now and checked the Diagnostics. For BGP the first tab is the responsive output from quagga.rb and the second one just text. Is this going to be updated in some time or will you allow a mix of it?
Second Q: How would you handle a command referenced to a specific neighbor? Create a html form and typing the neighbor IP by hand or automagic create a tab for ev

[2017-05-03 15:52] fabianfrz commented on #118
At least it should be in the matching tab. If you need an IP address input and a button, you should add that to the tab and add a container for the content. There is currently not really a "standard way" to do it.

For the first question: I hope it will some day. At the moment it is better than nothing (you are talking about your code ;) ). I don't have much time now as I am out of time now. Note

[2017-05-03 21:38] Woi opened #145 "Monit: SMTP: Mailserver response error -- 550 Sender address is not allowed."
Hey,

thanks for the monit plugin, it looks very promising. Importing the configuration from `System -> Settings -> Notifications` is also a very nice surprise. However my working configuration from `system_advanced_notifications` is not working in monit:

[code]

I'm using a free email account from gmx.de for sending. As far as I could analyse it, the FROM is not set properly:

[code]
which is no

[2017-05-04 19:01] fichtner commented on #145
assigned to maintainer, thanksfor the report :)

[2017-05-05 07:28] fbrendel commented on #145
Unfortunately the sender address is not imported from the notifications settings. I'll fix that.
You can set the sender address in the **`Alert Settings -> Mail Format`** e.g. "`from: me@gmx.de`"
This is the address Monit uses for the "MAIL FROM" command and the "From" header.
Don't use angle brackets as shown in the monitrc.sample. This is another bug.

[2017-05-05 09:38] Woi commented on #145
Workaround works :) Thanks for the quick reply.

[2017-05-05 11:01] mimugmail commented on #114
@fichtner Is there a way to add the setenv to /root/.cshrc ?
It's working fine when manually set.

I tried it via global csh.cshrc or csh.login, but this doesn't work.

[2017-05-05 11:12] fichtner commented on #114
@mimugmail how relevant is this for day-to-day use of the quagga plugin from the GUI (user perspective)?

[2017-05-05 12:10] mimugmail commented on #114
@fichtner It depends, when Diagnostics is feature-complete this should have no relevance.
But for deeper engineering it's quite important.

If there's no easy solutions I'd treat this as low prio as everyone can set a setenv manually

[2017-05-05 14:27] fabianfrz commented on #141
@mimugmail `sh ipv6 ospf6 database` will take some time as it will be tricky to parse (it aligns left and right so I cannot find the split point in an easy manner.

[2017-05-06 09:19] fabianfrz commented on #141
@mimugmail I am closing this as I have added the parsing extensions so it can parse the output you have provided.

The PHP stuff and diagnostics pages should be created independently (own ticket if required)
See PR #149

[2017-05-06 09:19] #141 closed

[2017-05-08 09:21] mimugmail opened #150 "Quagga: Add AS-Path Lists and Route Maps to BGP"
Hi,

I need some enlightenment! I created two new tabs within BGP.
First is AS-Path where I can create a ACL style AS Path list.

Here I need to know if theres a form parameter to tell the field to count the number up or forbid using the same ACL number:
![image](https://cloud.githubusercontent.com/assets/20438689/25797808/fe77a5de-33de-11e7-90dc-ccaec9bafdbb.png)

Second one is a bit tricky. In t

[2017-05-09 04:15] mimugmail commented on #150
I think I've found the list:
https://github.com/opnsense/core/tree/master/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes

So AutoNumberField should help to create Sequence IDs.

Perhaps I have to restructure the process of adding route-maps in order to get it done ...

[2017-05-10 09:34] mimugmail commented on #150
I think I have fixed most things. Only problem right now is that:

https://docs.google.com/document/d/1h-5y_gEAdfrcJJK3kdCJzlp-zYL1hc8Ejy2hqKpkb4c/edit#heading=h.frna2byt2m84

Here the entry is empty. It doesn't get  the name of the routemap.

Could this probably be that the enum of the routemap is below this block?

In my conf I only get:

[code]

I tried two differenct approaches for in and out,

[2017-05-10 09:55] fabianfrz commented on #150
@mimugmail the reason why this may not work is because you are accessing an array field without a key.

[2017-05-10 10:13] mimugmail commented on #150
@fabianfrz Thanks! Do you have a reference for a no-brainer like me :)

[2017-05-10 10:28] fabianfrz commented on #150
probably this line:
https://github.com/opnsense/plugins/blob/master/net/haproxy/src/opnsense/service/templates/OPNsense/HAProxy/haproxy.conf#L45

[2017-05-10 13:22] ghostwheel42 opened #152 "HAProxy: can't specify IPv6 addresses as Listen Address in frontend"
This can be solved by just adding a colon to frontends.bind &lt;mask&gt; in HAProxy.xml:
`<mask>/^((([0-9a-zA-Z._\-\*:]+:[0-9]+(-[0-9]+)?)([,]){0,1}))*/u</mask>`

I don't know if someone needs a more complete regex including unix domain sockets:
`<mask>/^((((ipv4@)?([0-9.]+|\*)?(ipv6@)?([0-9a-f:]*|\*)?):[0-9]+(-[0-9]+)?|(unix@)?/[^ ]+),?)*/u</mask>`

Alex

[2017-05-11 18:53] fabianfrz opened #154 "HAProxy: Table too wide"
![bildschirmfoto am 2017-05-11 um 20 50 32](https://cloud.githubusercontent.com/assets/3713914/25966537/9758a66e-368b-11e7-91d4-842c86286bac.png)
The Table needs more space than the screen offers. Maybe folding columns can help.

[2017-05-11 19:42] fraenki commented on #154
This looks like a regression. Maybe due to the latest translation additions or a change in the framework.

FWIW, I can't reproduce this on 17.1.6 with os-haproxy 1.14, see below.

![haproxy_table](https://cloud.githubusercontent.com/assets/909706/25968660/a590b04e-3692-11e7-9e41-12fb1a5807f7.png)

[2017-05-11 19:46] fabianfrz commented on #154
I have also 1.14 and master installed on the test VM and both show the same result in Firefox (Linux).

[2017-05-11 19:49] fraenki commented on #154
The tables should auto-scale, this is a framework regression in master then.

[2017-05-11 19:49] fabianfrz commented on #154
@fraenki should we close this then if it's upstream?

[2017-05-11 19:50] fraenki commented on #154
Please test with different browsers.

[2017-05-11 19:52] fabianfrz commented on #154
This is vivaldi:

![1a626db1-5085-4ee4-bb5e-dd570bda4819](https://cloud.githubusercontent.com/assets/3713914/25969128/195b5bea-3694-11e7-8b29-6ab14b6fce8c.png)

[2017-05-11 19:55] fraenki commented on #154
I was rather thinking of some more common browsers, like Firefox or Chrome.

[2017-05-11 19:55] fabianfrz commented on #154
Firefox is the screenshot on the top and vivaldi is chromium based so the results are the same.

[2017-05-11 19:59] fraenki commented on #154
Well, we need to check the corresponding files in core to see if a recent change broke this.

[2017-05-11 20:05] fabianfrz commented on #154
all JS lib stuff has not been changed since march 4th in core.

[2017-05-11 20:06] fabianfrz commented on #154
just if this can be the reason: my screen resolution is 1600x900

[2017-05-11 20:09] fraenki commented on #154
Never seen this, even on higher screen resolutions.

[2017-05-11 20:33] fabianfrz commented on #154
round the root of the issue: your table is not initialized if haproxy is not running. After enabling it runs in both browsers as expected.

Enabling the server was not required for my translation work where I found it ;)

Handle it like you wish.

[2017-05-12 15:22] fabianfrz opened #156 "Discussion Release everything regarding to the Quagga plugin"
Hi @fichtner, @mimugmail,
This is just a question for you:
The latest feature addition was 9 days ago and there are no bug reports since for the development version. There was only one bug mentioned, which affects the current stable (PR #155 fixes it).
What do you think about releasing all additions of the plugin to stable (includes OSPFv3, Diagnostics)?

Before the release is done, #155 must be m

[2017-05-12 15:23] fabianfrz commented on #156
OK, Diagnostics is also a feature - It is this week but it cannot break anything as it is read only.

[2017-05-13 05:03] mimugmail commented on #156
I updated my test env to the lasted version and it looks fine, checked some route additions in ospf6 and the diagnostics updates, all OK.

Sadly the Quagga daemon doesn't support redistributing kernel routes into ospf6. So static v6 routes in OPN are not redistributed to quagga, but this has nothing to do with the current code.

I'm fine with going to stable ...

[2017-05-13 05:24] fabianfrz commented on #156
@mimugmail That's cool - if `system > routes` is refactored, we can copy those routes to the zebra daemon so we have them inside quagga. This stuff also should be merged together with the quagga plugin in the `Routing` menu as dynamic and static routing (but this still needs some time and may be dome for 17.7).

[2017-05-14 14:51] mimugmail commented on #150
Fixed with #157

[2017-05-14 14:51] #150 closed

[2017-05-17 06:22] fichtner commented on #145
Fixed in 17.1.7.

[2017-05-17 06:22] #145 closed

[2017-05-17 09:45] #142 closed

[2017-05-17 17:23] #152 closed

[2017-05-17 17:24] fraenki commented on #152
@ghostwheel42 thanks for your report and the suggested fix!

[2017-05-17 17:26] fraenki commented on #152
The fix can be tested by running the following CLI command:

`opnsense-patch -c plugins ac38144462d35a47b1b2b34ab8fcf1964c5a6746`

[2017-05-17 17:53] #154 closed

[2017-05-22 11:29] fbrendel opened #165 "net/haproxy: session sync (peers)"
Hi,

it would be nice if the HAProxy plugin could synchronize the stick table to other nodes.
Then we could do on-line maintenance or fail over without interrupting user sessions.
http://cbonte.github.io/haproxy-dconv/1.6/configuration.html#3.5-peers

Many thanks
Frank

[2017-05-22 15:19] fraenki commented on #165
Thanks for bringing this up. This is already on my list, I'll look into it. Maybe we'll have this working in time for OPNsense 17.7 (ETA; no promises).

[2017-05-24 07:18] fbrendel commented on #165
Sounds good. :smile:

[2017-05-24 20:01] mimugmail commented on #118
@fabianfrz Do you think you can add a button to the general diagnostics view to dump the complete quagga configuration (via vtysh -c "show run" or something)? Perhaps with some of your ruby magic?

A user always working via CLI and switching to GUI might feel better to see what the changed did to the running-config.

[2017-05-24 20:48] fabianfrz commented on #118
There is no ruby required - if you want to dump the configuration file the best way is a pass through as I don't see an advantage by parsing it (the advantage is that the headings can be formatted differently).

Is it worth it anyway?

[2017-05-25 04:55] mimugmail commented on #118
For me a plain dump in text is just fine. I can try this next week when I'm back at the office.

[2017-05-25 05:29] mimugmail commented on #118
Ok, this is really easy .. when all PRs are in I'll push some lines for this one.

Sadly I called the bash script diag-bgp.sh, but a show run is global, so this doesn't fit perfectly :(

[2017-05-25 06:49] fabianfrz commented on #118
you can rename the file or write the command directly into the configuration file. #166 is not affected as it is to the stable (release) branch (you probably want to contribute to master)

[2017-05-25 08:37] fabianfrz commented on #156
this is done in #166

[2017-05-25 08:37] #156 closed

[2017-05-25 09:25] mimugmail commented on #118
I'll try this, thanks.
I always pull against master and let you guys decide what goes into stable :)

[2017-05-25 12:08] fabianfrz commented on #118
@mimugmail It would be better if you decide when to call your stuff stable.

[2017-05-25 13:09] mimugmail commented on #118
PR #167 is stable! But it requires 3 patches to the core, so @fichtner has to decide if this goes into the next or whatever stable.

[2017-05-25 14:00] fabianfrz commented on #118
If the core stuff goes to release we can put that to master (`os-quagga-devel`) and release it at least one release later. If not, it may last until `17.7`

I made a new stable version without all the new BGP stuff (no routemaps etc.) but all the diagnostics stuff is in as well as OSPFv3. So you may have to wait. If @fichtner says your commit is ok, anyone with write permissions can merge it.

[2017-05-25 15:13] fichtner commented on #118
Routemaps can go to master, os-quagga-devel should be used with opnsense-devel. Both are for testing so I don't see how we should wait. If os-quagga-devel doesn't work, people can fall back to os-quagga. And the relevant change only limits the selector, it would work on opnsense package too. Go for it. 😊

[2017-05-28 16:14] Woi commented on #145
Thanks :)

[2017-05-29 09:06] pv2b commented on #114
Hi.

I don't run the quagga plugin, instead I just manually install the quagga package and administer it through vtysh - for various reasons.

On my systems I do the following to stop this from happening:

1. In /etc/login.conf line 29, change the following from this:

        :setenv=MAIL=/var/mail/$,BLOCKSIZE=K:\

To this:

        :setenv=MAIL=/var/mail/$,BLOCKSIZE=K,VTYSH_PAGER=less -F:\

2. R

[2017-05-29 09:49] mimugmail opened #170 "Quagga: Prefix-lists for OSPF"
@fabianfrz I have a request for prefix-lists in OSPF. Do you mind if I add the BGP code also to OSPF or do you want to have a look on your own?

[2017-05-29 13:42] mimugmail commented on #68
@EugenMayer I tried to reproduce with the current code but my TINCVPN isn't gone after adding rules.

@AdSchellevis When OpenVPN is enabled I only see the OPENVPN tab in the rules, not TINCVPN. Only after disabling OpenVPN server it's there. Is this a known limitation?

[2017-05-29 13:46] AdSchellevis commented on #68
@mimugmail it needs a save from a legacy component to plugin. if you change anything in the firewall it should popup immediately afterwards. We should fix that some time, maybe we should add a plugin probe after one of the configd commands is triggered.

[2017-05-29 13:49] mimugmail commented on #68
@AdSchellevis Great, reproduceable, now every Interface is there. Thanks

[2017-05-29 16:21] fabianfrz commented on #170
@mimugmail I am currently not having a lot of time. Before you start working at it, I would recommend you to wait until we release the BGP stuff. So you won't duplicate bugs if there are any.

[2017-05-29 17:18] fabianfrz commented on #114
Hi @pv2b, I would like to have the page completely disabled as I am usually working with ssh on the plugin and my terminal can scroll so if it is really that long, I can scroll on client side. Nobody should work on the VM directly (on a VGA screen with 60x80)

[2017-05-29 17:54] pv2b commented on #114
Hi, @fabianfrz. I disagree. It is good form to use a pager in these cases. You might be outputting onto a serial console or over a slow link. I like being able to use / in less to search in a configuration file. This is also how all network equipment with Cisco like CLIs act, by paging long output.Therefore I could argue that fixing the pager rather than disabling it out right is the more conserva

[2017-05-30 10:01] mimugmail opened #171 "Quagga/BGP: Deleting of related object create an error in the template"
Hi,

with the new addition of route-maps and prefix-lists you can link them to the specific neighbors.
When you delete a prefix-list and press save without deleting the list in the neighbor config, line gets into the config. Within the UI the prefix-list is gone, also when editing the neighbor it's gone, but you have to save the neighbor to completely remove it.

Generated config after deletion lo

[2017-05-30 12:58] mimugmail commented on #68
@AdSchellevis What is best practice for OPNsense and Tinc? Starting the service creates a tinc0 interface without a IP address in OS itself ... but I can additonally assign it via UI. Is this required?

For a simple S2S VPN there's no need to assign a new interface, do you know of any bigger use cases where this is required?

Oh, and then I'd suggest to make the subnet field a CSV List to add mult

[2017-05-30 17:29] AdSchellevis commented on #68
@mimugmail it has been some time ago since I configured a tinc mesh.

If I do remember correctly, you simply define a net which is large enough to fit all your locations, make sure every location has an ip address within the net (which should be managed by tinc) and define your part of the whole mesh within the network part. a bit like:

![image](https://cloud.githubusercontent.com/assets/9783985/

[2017-05-30 17:56] mimugmail commented on #68
@AdSchellevis Your tinc0 has an IP address, so you assigned this interface via UI? I also read this guide with /16 and multiple /24 in there for each branch.

But what I you connect e.g. 2 DC's with multiple subnets .. what do you think about changing the model to allow multiple subnets?

[2017-05-30 18:08] AdSchellevis commented on #68
@mimugmail I assigned it using the networks tab in tic, yes. I'm not sure why you would want totally different nets with tinc, but maybe I'm missing something. Normally you define one big net to host all your branches. if you just want s2s networks, openvpn might be a better option for your use case.

[2017-05-30 19:38] mimugmail commented on #68
@AdSchellevis The big net design comes form the official doc, but I was thinking about an existing network design with different subnets.
Example:

BranchA:
LAN: 10.0.1.0
DMZ: 192.168.1.0
DEVOps: 172.16.1.0

BranchB:
LAN: 10.0.2.0
DMZ: 192.168.2.0
DEVOps: 172.16.2.0

BranchC:
LAN: 10.0.3.0
DMZ: 192.168.3.0
DEVOps: 172.16.3.0

I know this is bad design, but if this is what you got (e.g. as an exter

[2017-05-30 19:44] AdSchellevis commented on #68
@mimugmail I my opinion you should be able to define 3 networks already, as long as the subnets of the separate nets are smaller then the total net.

so you define the nets 10.0.0.0/16, 192.168.0.0/16 and 172.16.0.0/16 which spawnes 3 tinc daemons connecting all together.

[2017-06-01 10:39] ra1nb0w opened #172 "Quagga: raw config"
Hello,
What do you think about a raw config section in which I can set the configuration of ospfd for example (ospfd.conf)? Unfortunately, I know it is not a good practice, I need to apply some filters. At the moment I wrote ospfd.conf directly but could be nice to do from gui and save configuration on the global configuration. Maybe, I can try to implement it.

thanks

[2017-06-01 17:06] fabianfrz commented on #172
This is a really bad idea (does not play well with the template as well as it may break the configuration. What kind of filters are you using? If you are talking about route maps, @mimugmail wants to implement them (should be easy to copy from the BGP pages) but they should be tested before (you can use the developer preview `os-quagga-devel` where this feature is included.

[2017-06-06 11:51] ra1nb0w commented on #172
sorry, you are right; I lost to put a sample config. Here it is
[code]
and for what I learn I can't use route-maps directive, wrong?. Anyway, now I noticed that we need message-digest and not md5. About this point, seems that md5 directive is deprecated (I don't find it on documentation), do you know something more?

[2017-06-06 11:58] fabianfrz commented on #172
@ra1nb0w route maps are currently not supported as we are having them in BGP for testing. in the current developer preview. If we don't get any bugs there we can add them to OSPF too.

[2017-06-06 12:20] ra1nb0w commented on #172
I undestood, but I think is useless in my case. Anyway, I wait :)
thanks

[2017-06-06 12:23] mimugmail commented on #172
Would a prefix-list also bei ok instead of a distribution list? This should
be very easy to implement.

Am 06.06.2017 2:20 nachm. schrieb "ra1nb0w" <notifications@github.com>:

[2017-06-06 16:06] ghost opened #173 "Plugin Request: PeerVPN (full mesh topology)"
opnsense provides different internal services and plugins for creating a virtual private network between different hosts. A lot of people use OpenVPN because you may use it for small "remote access scenarios" or to connect "big business networks".

## General

A few months ago, I found a really small tool which is names "PeerVPN", which creates a peer-to-peer vpn with a full mesh topology. So you

[2017-06-06 16:08] wevcode commented on #173
@fichtner You already helped me working with opnsense development. Maybe you can write a small statement as an answer to this request. Thank you!

[2017-06-06 16:11] fichtner commented on #173
@wevcode sure :)

First we need to add a binary port for peervpn, after that I can help with general direction of a plugin, not a lot with coding.

There are no issues with OpenSSL/LibreSSL, this fits perfectly. One question though, is peerpvpn still actively developed?

[2017-06-06 16:23] wevcode commented on #173
@fichtner Great!

Oh this might be easy, I have some experience with building it on different platforms. :)

Well, my patch only adds support for 1.1.x but it does not remove support for older versions, so it might be usefull for upcoming releases.
Yes, but only by Tobias Volk. It is only a small and simple solution so there is not a lot of code to maintain and nothing makes it unstable. But I am

[2017-06-06 16:35] fichtner commented on #173
here is an initial port... https://github.com/opnsense/ports/commit/68d715dc0db7baa06586103a7d2bda1ad44cd822

You can install this with:

    # opnsense-code tools ports
    # cd /usr/ports/opnsense/peervpn
    # make install

We can include your patch, but it will only be useful if we push it to FreeBSD ports. We don't intend to use OpenSSL 1.1 any time soon as there are too many compatibility is

[2017-06-06 16:41] wevcode commented on #173
@fichtner So it will download 0.044 from peervpn.net when I run `make install`? Does not really undestand opnsense port system.

I would include it, so **if** you want to switch to 1.1.x, you have one port less which has to be modified.

I think I will use _tinc_ as an example plugin to create the peervpn one. 👍

[2017-06-06 17:36] AdSchellevis commented on #173
@wevcode this looks quite similar to TincVPN (https://www.tinc-vpn.org/) for which we have a plugin available, I don't want to stop your quest, but if you don't know it yet, it might be worth investigating.

[2017-06-06 18:33] fichtner commented on #173
@wevcode yes, the ports framework will download, configure, build and install. If you have LibreSSL on your OPNsense it will build against that, otherwise OpenSSL. Very simple and effective although the full tree is a bit heavy.

This is so that when 17.1.9 comes out, you'll be able to install the package from the binary repository instead and don't have to worry about building at all:

    # pkg

[2017-06-06 18:41] fabianfrz commented on #172
just FYI: #170 is the same / related

[2017-06-06 18:41] AdSchellevis commented on #173
@fichtner just saying there are alternatives, certainly don't want to stop your quest :)

[2017-06-06 20:06] wevcode commented on #173
@AdSchellevis You are right, tinc can do the same. But PeerVPN makes it possible to simply put multiple nodes with one shared secret together, so you have a mesh vpn in 1 minute. See @fichtner .

@fichtner You can download it from the given url. :)

[2017-06-06 20:14] fichtner commented on #173
@wevcode ah, thanks, sorry, missed that!

[2017-06-06 20:31] wevcode commented on #173
@fichtner No problem! You might also want to include this patch: https://wevcode.de/snippets/4

PeerVPN logs dropped packets, which can occour because of UDP and full buffers. I spoke to the author and he said that it is a normal behavior. Nevertheless it might fill up our logs quickly so you can disable this by applying this patch. _It will not disable any other warnings!_

[2017-06-06 21:25] wevcode commented on #173
@fichtner Sorry, snippet error. Now it should be correct. :)

[2017-06-07 04:17] fichtner commented on #173
Second batch: https://github.com/opnsense/ports/commit/4c72afdb6f7104

Can get the latest via:

    # opnsense-code ports && cd /usr/ports/opnsense/peervpn && make clean reinstall

[2017-06-07 06:07] wevcode commented on #173
@fichtner Thank you! I will try to start with the plugin itself. :)

[2017-06-07 07:32] ra1nb0w commented on #172
I tryed with prefix-list as below but in my configuration doesn't work, prefixes are not filtered out.
I am not an expert of quagga so I can't explain why.

[code]

[2017-06-07 08:12] mimugmail commented on #172
What happens when you dont redistribute anything and use the prefix-list?

Am 07.06.2017 9:32 vorm. schrieb "ra1nb0w" <notifications@github.com>:

[2017-06-07 11:51] ra1nb0w commented on #172
if I remove `redistribute <*>` I don't send anything to other routers

[2017-06-07 12:13] mariusrugan opened #175 "haproxy check interval not from UI setting"
Hi,
using haproxy UI configurator in OPNsense 17.1.8-amd64, health check interval is wrongly set at 2s instead of the value.

![#1](https://user-images.githubusercontent.com/143987/26877811-6b3124fc-4b8b-11e7-9199-864146e551a0.png)

results no matter the value in:

![#2](https://user-images.githubusercontent.com/143987/26877820-7828a018-4b8b-11e7-84b4-b586acedc34f.png)

edit,
seems there is a mism

[2017-06-07 13:48] mariusrugan commented on #175
thanks @fraenki
a little bit of a side-step, until fixed, i'm trying to understand if a /conf/haproxy.conf file would be picked up instead of the autogenerated one ?

[2017-06-07 13:54] fraenki commented on #175
@mariusrugan I can't reproduce this issue. Using "10s" or "10000" for "Check interval" works like a charm on 17.1.8 with os-haproxy 1.15.

[2017-06-07 13:56] fraenki commented on #175
Looks like you're running an old version of the os-haproxy plugin? The validation method in the current release differs from your screenshot:

![screenshot at 2017-06-07 15-55-39](https://user-images.githubusercontent.com/909706/26882162-dc63dcd8-4b99-11e7-9f73-dccf53cc468e.png)

Are you by chance running an old development build of os-haproxy?

[2017-06-07 14:19] mariusrugan commented on #175
you're right about the mismatch, it seems i have a broken installation :/

i have, in the interface

![#1](https://user-images.githubusercontent.com/143987/26882785-a83d2a70-4b9b-11e7-89b0-395f607c2712.png)

![#2](https://user-images.githubusercontent.com/143987/26882809-b9e9758a-4b9b-11e7-99f9-77ecfa63666d.png)

I've just rebooted the machine, didn't do it on the spot on upgrade.

[2017-06-07 14:54] mariusrugan commented on #175
i've tried, no luck,

it seems the dir has been changed (mtime changed) but  sha256-ing haproxy.conf template is different from

`https://github.com/opnsense/plugins/blob/17.1.8/net/haproxy/src/opnsense/service/templates/OPNsense/HAProxy/haproxy.conf`

![#1](https://user-images.githubusercontent.com/143987/26885088-de51d9ca-4ba1-11e7-8839-af1881eeadaf.png)

![#2](https://user-images.githubusercont

[2017-06-07 15:54] mariusrugan commented on #175
@fraenki i've cleaned up as much as i could, and i did a CLI install:

![#1](https://user-images.githubusercontent.com/143987/26887800-5129607e-4ba9-11e7-9b98-832d87ceca0d.png)

looking at the validation xml everything looks fine, the message you are seeing is there;

![#2](https://user-images.githubusercontent.com/143987/26887830-6ab91098-4ba9-11e7-854a-bf3c446f7037.png)

however not in the inter

[2017-06-07 18:27] mimugmail commented on #172
https://serverfault.com/questions/469310/prevent-quagga-from-a-certain-subnet-advertising

Check the last answer, if this doesnt work for you I'll try to implement it
when #171 is fixed

Am 07.06.2017 1:51 nachm. schrieb "ra1nb0w" <notifications@github.com>:

[2017-06-07 21:34] fraenki commented on #175
@fichtner PING! Any idea? This is really odd.

[2017-06-08 10:32] fichtner commented on #175
https://github.com/opnsense/plugins/blob/master/net/haproxy/src/opnsense/mvc/app/models/OPNsense/HAProxy/HAProxy.xml#L661-L667

I don't see anything odd in this other than it's not what you guys expect even though it's there. Maybe the form field is not mapped correctly?

[2017-06-08 11:05] mariusrugan commented on #175
@fichtner, long story short,@fraenki is seeing it and i don't, with both of us having haproxy and os-haproxy reported as up-2-date. i have repeatedly restarted the machine;
my validation file is the same as what you've pasted above (i've compared with the tag https://github.com/opnsense/plugins/tree/17.1.8) but i still don't get the validation message.
am wondering, in this case, what am i missing

[2017-06-08 11:07] fichtner commented on #175
# opnense-revert os-haproxy
    # opnsense-revert opnsense

The latter will also remove all cached files.

Try a different browser on your end, a different machine. Make sure you don't have a caching proxy active somewhere that could interfere.

[2017-06-08 13:05] mariusrugan commented on #175
thanks,
i did it, reverted, no luck.
already did try different browsers, different machines. no caching proxy in my network.
same results.

![#1](https://user-images.githubusercontent.com/143987/26929947-eaeccd2e-4c5b-11e7-9e20-5c5bdbc6f2b9.png)

[2017-06-08 13:07] fichtner commented on #175
Everything looks ok... you want to set the health check, it wants a number because it's an integer field... let's start from the top: what are you trying to do? why do you not input a number?

[2017-06-08 13:08] fichtner commented on #175
note there is a similar setting in the server tab, which @fraenki showed you... it is a different value, it accepts text ;)

[2017-06-08 13:12] mariusrugan commented on #175
Nop, the healthcheck.interval validation message in https://github.com/opnsense/plugins/blob/master/net/haproxy/src/opnsense/mvc/app/models/OPNsense/HAProxy/HAProxy.xml#L612-L617 is

`Should be a number between 1 and 8 characters, optionally followed by either "d", "h", "m", "s", "ms" or "us".`

i'm getting another message:

i've quickly browsed this:
https://github.com/opnsense/plugins/commit/7da

[2017-06-08 13:13] fichtner commented on #175
Nope, it's this one, see the parent XML tags... https://github.com/opnsense/plugins/blob/master/net/haproxy/src/opnsense/mvc/app/models/OPNsense/HAProxy/HAProxy.xml#L661-L667

You are looking in the servers section.

[2017-06-08 13:14] mariusrugan commented on #175
problem is, the validation somehow spits out in the config "2s" as in my screenshot, because i think doesn't match regex.

[2017-06-08 13:32] mariusrugan commented on #175
ok,
you're right @fichtner. the server tab takes precedence over the healthcheck tab.

healthcheck config that is not included anywhere ?
![#1](https://user-images.githubusercontent.com/143987/26930989-55115e6a-4c5f-11e7-8d14-660611a3f8dc.png)

server config that is included:
![#2](https://user-images.githubusercontent.com/143987/26931062-92d4ba12-4c5f-11e7-8c4e-da63daf1f7e3.png)

result:
![#3](ht

[2017-06-08 13:36] fichtner commented on #175
true, the interval for the health check is never written / used

[2017-06-08 13:53] fraenki commented on #175
Thanks guys for the clarification. I'll prepare a fix.

[2017-06-08 14:29] fraenki commented on #175
My patch in #177 changes the default behaviour, so I thought some explanation would be nice.

First of all: I always wanted the server tab to take precedence over the healthcheck tab. To get this working I had to apply the following code changes:
- server settings:
  - make "check interval" optional
  - remove default value for "check interval"
  - it's now possible to have an empty value for "che

[2017-06-08 14:30] fraenki commented on #175
@mariusrugan Thanks again for reporting, this finally fixes a long-standing bug. :+1:

[2017-06-08 14:49] mariusrugan commented on #175
@fraenki no problem, thanks for taking the time to herd these things around :)
i have some feedback after i've put up with the UI, what would you prefer ? issues with [improvement] prefix ?

[2017-06-08 14:52] fraenki commented on #175
@mariusrugan I'm fine with [improvement], more common (in other projects) is [rfe] (request for enhancement).

[2017-06-08 14:56] fraenki commented on #175
@mariusrugan btw. you can test the bugfix by running the following command:

`opnsense-patch -c plugins 42128fb`

[2017-06-08 16:25] mariusrugan commented on #175
👍
it renders the config fine @fraenki, thanks.

[2017-06-09 09:14] cultcom opened #179 "quagga: syntax error in generated ospfd.conf file"
Hi,

when I enable MD5 authentication on an interface the resulting quagga ospfd.conf file has syntax errors.
The file is beeing generated like this:

  ip ospf authentication md5
  ip ospf authentication-key XXXXXX
  ip ospf cost 10
!
!
router ospf
 redistribute connected
 passive-interface vmx1_vlanZZ
 network 10.10.42.0/24 area 0.0.0.44
!

But this leads to an error starting up the service:

**

[2017-06-12 08:40] fraenki opened #180 "net/haproxy: add "map" support to haproxy"
via IRC; https://www.haproxy.com/blog/web-application-name-to-backend-mapping-in-haproxy/

Motivation:

Should be implemented just like "Error files" and "Lua scripts": Map files should be managed through the GUI (or the API).

[2017-06-12 10:37] ra1nb0w commented on #172
sorry for the delay.
I tryed few times following tha links, the documentation and others tutorial; probably I don't understand something related to LSA and stub zone. I will try next days and I come back.

Thanks to everybody for the patience :)

[2017-06-13 09:14] thomasnilsen opened #181 "Multiple issues with monit plugin"
- Unable to add multiple smtp servers using comma separated list. Tried space in between also etc.
- Unable to add ping to a host (in my example google public dns)
- Unable to add ping or network link on opnsense

![screen shot 2017-06-13 at 11 05 01](https://user-images.githubusercontent.com/7230202/27075094-46e23256-5029-11e7-88fe-ac29c34877de.png)
![screen shot 2017-06-13 at 11 09 01](https://u

[2017-06-14 07:04] wevcode commented on #173
@fichtner PeerVPN is now installed but how can I set up my own plugins repository so I see all changes in realtime? `make mount`does not work.

[2017-06-14 07:13] fabianfrz commented on #173
I work this way:
[code]

This works well too.

[2017-06-14 07:23] fichtner commented on #173
@wevcode I am guessing you have a plugin directory ready?

To install the files:

# make install

To remove the files:

# make remove

To collect changes from the files installed into the plugins dir:

# make collect

[2017-06-14 09:27] fbrendel commented on #181
This is a bug. :unamused:  I'll fix that.

The service type must be 'Remote Host' not 'Network'. [NETWORK PING TEST](https://mmonit.com/monit/documentation/monit.html#NETWORK-PING-TEST)

For the NetworkLink test you need the service type 'Network'. [NETWORK LINK STATUS TEST](https://mmonit.com/monit/documentation/monit.html#NETWORK-LINK-STATUS-TEST)
![image](https://user-images.githubusercontent.c

[2017-06-14 13:27] #181 closed

[2017-06-14 20:18] fabianfrz commented on #179
Does #183 fix the issue?

[2017-06-15 07:55] cultcom commented on #179
well from the changes I assume that if fixes the interface configuration part but there is still the "router ospf" section which lacks the entry "area xxx authentication message-digest".

[2017-06-15 18:41] thomasnilsen commented on #181
Thanks! I got the ping test working the way you suggested.

I still think there is something wrong with the filesystem test;

![screen shot 2017-06-15 at 20 39 19](https://user-images.githubusercontent.com/7230202/27196454-cccbe1fe-520a-11e7-9289-4bb22f14dc61.png)
![screen shot 2017-06-15 at 20 39 34](https://user-images.githubusercontent.com/7230202/27196453-ccc9e8a4-520a-11e7-803d-84d5482921e4.p

[2017-06-15 18:56] fichtner commented on #181
The file system test is broken in monit 5.22, next update will bring in 5.23.

[2017-06-17 19:15] backerman opened #184 "Quagga: updating networks/interfaces tabs doesn't update ospfd.conf"
Steps to reproduce:

1. Enable ospfv2.
2. Add a network or interface configuration.

Expected: `/usr/local/etc/quagga/ospfd.conf` contains the configuration as entered into the GUI.

Actual: `/usr/local/etc/quagga/ospfd.conf` is not updated. If the user then unchecks and re-checks the "Enabled" box in the General tab, the configuration is then updated as expected.

Tested using:

- OPNsense 17.1.8

[2017-06-18 06:44] fabianfrz commented on #184
@backerman The configuration is currently updated after clicking the save button of the general form. You should not have to uncheck or recheck anything.
This is currently in any routing protocol that is supported but I have not documented this behaviour because I have designed it to work this way. The reason was that adding Networks, Interfaces etc. should not put much load on the neighbours.

[2017-06-19 12:02] fabianfrz opened #185 "typo"
https://translate.opnsense.org/de/gui/translate/#filter=incomplete&unit=122261

Spelling:
[code]

[2017-06-21 04:54] adrianobragas commented on #43
Hi guys, how install this plugin web-proxy-sso in my opnsense 17.1.4-amd64?

[2017-06-21 07:20] fabianfrz commented on #43
@adrianobragas You should be able to install it via `pkg install os-web-proxy-sso-devel` (afaik there is no stable release).

[2017-06-21 07:32] fichtner commented on #43
Hi Adriano,

Update to 17.1.4 from the firmware pages, then log into the console or ssh and type:

    # pkg install os-web-proxy-sso-devel

The package is then available from the menu, but keep in mind it has not been finished for release.

Cheers,
Franco

[2017-06-21 09:48] mimugmail opened #187 "Quagga: Error when redistributing more than one source"
@fabianfrz I tried to redistribute multiple sources but I always get a:

![image](https://user-images.githubusercontent.com/20438689/27378181-5f62fb22-5677-11e7-8ba4-122d71a27a49.png)

No matter which values I choose, it's only when theres mor than one.

Do you have any clue?

Thanks

[2017-06-21 12:08] fabianfrz commented on #187
this looks like there has been a character sent, which is not a valid option of the list. Is a wrong character in the list? Maybe a special char?

[2017-06-21 12:13] mimugmail commented on #187
It's picked from here:

https://github.com/opnsense/plugins/blob/master/net/quagga/src/opnsense/mvc/app/models/OPNsense/Quagga/OSPF.xml#L25-L37

The problem is, I can select every entry if I only select one. But when a second one is added I get the error

[2017-06-23 11:19] mimugmail commented on #187
@fabianfrz When I change the FieldType to CSV and type in e.g. kernel and static manually it works.
I'm not sure if OptionField really allows/accpets <Multiple>Y</Multiple>?

[2017-06-25 08:26] fabianfrz commented on #187
@mimugmail If it fixes the issue, you can create a pull request and I will merge it.

[2017-06-25 12:23] mimugmail commented on #187
Ok, can I add it to #186 ? But what happens to existing installations when the field type in the model changes?

[2017-06-25 12:42] fabianfrz commented on #187
@mimugmail If they are compatible, nothing happens but if they are not, the validation will fail so the user has to change it. In such a case a migration needs to be created.

[2017-06-25 15:13] mimugmail commented on #187
@fabianfrz Since the values wont change this should be fine.
Can I rename #186 and add the change for BGP and OSPF to it (perhaps also RIP)?

[2017-06-25 17:00] fabianfrz commented on #187
Yes, you should be able to rename it (click edit right of the title)

[2017-06-25 20:50] Alex9779 opened #188 "Problems using custom DynDNS update"
Hi,
I am using PowerDNS and recently migrated to the PowerDNS-Admin frontend. This frontend has implemented the DynDNS protocol so you use similar update URL and authentication.
It is made with Python and Flask and I run it with an Apache2 and WSGI.
At last I made it work with a normal curl command but still the update from OPNsense didn't work.
I figured out that this is the problematic line:
htt

[2017-06-25 21:04] fichtner commented on #188
Hi Alex,

Do you use an username and password or not? Could this be the underlying issue?

Original commit has no cliff notes on why this was done but provides scope to only using it while having credentials set: https://github.com/pfsense/pfsense/commit/37f3e7041f927

If you have a username set and this simply interferes it's ok to zap this line as it is not set anywhere else. Feel free to provid

[2017-06-25 22:30] Alex9779 commented on #188
Yes I use username and password, you have to provide them but with a basic auth, not in the URI.
When debugging the issue I use a local curl call it worked. So I looked for the differences.
And that option is in the code.
I also looked around and I didn't find any other occurance...

So if you too do not really know why it is there I'll prepare a PR to remove it.

If someone has a problem with tha

[2017-06-25 22:32] fichtner commented on #188
Ok, let's zap this for now, it could very well be esoteric.

[2017-06-25 22:35] #188 closed

[2017-06-25 22:36] fichtner commented on #188
I'll get this into 17.1.9 as well, a bit tricky, 17.1 still has the plugin inside core.git

[2017-06-25 22:38] fichtner commented on #188
FYI https://github.com/opnsense/core/commit/0946ed6efcb29e55b3f13ceb7f535181ae2ce9d9

[2017-06-25 22:39] Alex9779 commented on #188
👍

[2017-06-26 16:49] #175 closed

[2017-06-27 09:42] mimugmail commented on #187
@fabianfrz This one fixes the issue, so no change is needed:

https://github.com/opnsense/core/commit/ac75ef6f10665b495f4d7503dc05dc804d63a061

[2017-06-27 09:42] #187 closed

[2017-06-28 12:57] #171 closed

[2017-06-29 10:48] mimugmail commented on #173
Is there some progress?

I looked at the example conf but I'm missing an option to inject routes in order to tunnel local subnets, or multicast in order to use OSPF within the VPN.

[2017-07-01 11:19] #185 closed

[2017-07-03 09:50] cultcom commented on #179
We applied the patch to a running test machine and it is working. The generated config is valid and running now. Please put this fix to the next release soon.

[2017-07-03 09:57] fichtner commented on #179
added to stable/17.1 for 17.1.10.

[2017-07-03 09:57] #179 closed

[2017-07-04 20:39] mimugmail commented on #172
Any updates on this @ra1nb0w ?

[2017-07-04 20:47] mimugmail commented on #33
@willjones I moved away from collectd when they jumped from 4 to 5, but I like the way you did it with Graphite! If you're still interested I'd do a collectd-agent-plugin, as far as I remember the config it should be quite easy.

[2017-07-05 05:59] ra1nb0w commented on #172
Unfortunately, not yet. I need to conclude the ceph cluster and then I come back to ospf/opnsense. Anyway, I probably did some bad practice configuration.
Thanks for the help and the interest.

[2017-07-07 06:23] timherrm opened #194 "Zabbix Agent not starting"
Hi,
I'm running

OPNsense 17.1.8-i386
FreeBSD 11.0-RELEASE-p10
OpenSSL 1.0.2l  25 May 2017

in a VM and want to use the zabbix agent (Zabbix 3.2.3 (revision 64610)).
Plugin Version is: os-zabbix-agent | 1.1

After setting "Hostname" and "Listen Port" and "Zabbix Servers" i have to enter "Listen IPs".
In this field the only aaccpted format is: 10.44.2.100:10050
but the  if i try to start the agent

[2017-07-07 09:54] tskarman opened #195 "HAProxy shutdown not working"
As mentioned in https://github.com/opnsense/core/issues/1447 by someone else.

This still happens to me on OPNsense 17.1.9 and os-haproxy 1.16.

Both these don't work:
- Shutting down the haproxy service manually
- Rebooting OPNsense via the web UI

Notes that might be of interest:
- My configured frontends bind to 0.0.0.0:443 and 0.0.0.0:80
- I've configured the firewall itself as a backend/serve

[2017-07-07 19:40] fraenki commented on #194
This version shipped with os-zabbix-agent 1.0 that contained a bug (#178). The current release OPNsense 17.1.9 updated os-zabbix-agent 1.1 to fix this issue.

Nevertheless I spotted another bug that is related to the validation of "Listen IPs" and fixed it in #196.

[2017-07-07 19:42] #194 closed

[2017-07-07 19:46] fraenki commented on #195
OPNsense 17.7 is scheduled for release this month and will finally update HAProxy to version 1.7.x.

[2017-07-08 16:36] mrdmiller2 opened #198 "security/tinc: doesn't show a list of Ciphers in 17.1.9"
It looks like the Tinc Plugin is broken since it doesn't generate a list of cipher's that can be used.  I've tried many different ways to (re)install. Using LibreSSL and OpenSSL.  Even a complete rebuild.. but Tinc never shows a list of Cipher options.  Which means you can't actually configure things.

[2017-07-08 16:42] mrdmiller2 commented on #198
For some additional information, the os-tinc package version is: 1.2_2 and the tinc package version: 1.0.31

[2017-07-08 18:57] AdSchellevis commented on #198
can you test the following on a console? (on my end it does list ciphers using the latest version)

`configctl tinc list ciphers
`

and
`/usr/local/opnsense/scripts/OPNsense/Tinc/list_ciphers.py
`

[2017-07-08 22:29] mrdmiller2 commented on #198
Both report a Ciphers list:

{"camellia-256-cfb":"camellia-256-cfb","desx-cbc":"desx-cbc","id-aes192-GCM":"id-aes192-GCM","camellia-192-ofb":"camellia-192-ofb","des-ede-ofb":"des-ede-ofb","aes-128-cfb":"aes-128-cfb","des3":"des3","camellia-256-cfb1":"camellia-256-cfb1","seed-ofb":"seed-ofb","rc4-hmac-md5":"rc4-hmac-md5","camellia-256-cfb8":"camellia-256-cfb8","rc2-ofb":"rc2-ofb","id-aes256-GCM":"i

[2017-07-09 09:03] AdSchellevis commented on #198
It should be using that command, using the configd socket, although it might be cached to avoid .
Can you open the following page to request an empty network entry?
https://10.211.55.100/api/tinc/settings/getNetwork/

Then remove the configd model cache file, and try again:

`rm /tmp/configdmodelfield.data`

[2017-07-10 09:55] mimugmail commented on #198
I did a upgrade from 17.1.8 to 17.1.9 but I can't reproduce this, so this should be specific to your system/setup.

[2017-07-12 07:59] fichtner commented on #53
OPNsense/HAProxy OPNsense/HAProxy/haproxy.conf 'collections.OrderedDict object' has no attribute 'HAProxy'

Still there with a vanilla install of 17.7-RC1

[2017-07-12 09:11] fraenki commented on #53
@fichtner Should I add the previously mentioned if-clause to the HAProxy template?

[2017-07-12 09:22] fichtner commented on #53
@fraenki that would be helpful, I can do the testing

[2017-07-12 09:45] fichtner commented on #33
First development version merged thanks to @mimugmail

[2017-07-12 09:45] #33 closed

[2017-07-12 09:46] fichtner commented on #52
This was fixed when rc.freebsd was rewritten.

[2017-07-12 09:46] #52 closed

[2017-07-12 09:46] #34 closed

[2017-07-12 15:24] fabianfrz commented on #170
@mimugmail we got no bug reports the last time so this is probably bug free.

[2017-07-12 15:28] fichtner commented on #170
are we ok on releasing our current master state with 17.1.10?

[2017-07-12 16:56] fabianfrz commented on #170
@fichtner the only thing that would prevent it from being added would be the feature @mimugmail used for it which was not on the stable branch in core when the last version was released. If this patch in core has been added to stable there is no problem with adding the current state to stable.

[2017-07-13 04:24] mimugmail commented on #170
@fabianfrz Hopefully it was tested by a few a people, but I'm ok with releasing it. :)
@fichtner Yep, master can go to 17.1.10

I spend some time for OSPF and prefix-lists but there are 2 or 3 ways to use them, so it's not just copy+paste from BGP stuff.

[2017-07-13 06:19] fichtner commented on #170
will merge now. please close tickets that can already be closed, there are a few open. thanks! :)

[2017-07-13 20:01] #170 closed

[2017-07-13 20:05] fabianfrz commented on #172
@mimugmail @ra1nb0w  should this be closed?

[2017-07-13 20:14] mimugmail commented on #172
@fabianfrz I would close it, @ra1nb0w should try the new code from master with the prefix-list and recheck the design. If it still doesn't work just open a new issue with FR to distribution list and I'll look at it.

[2017-07-13 20:22] fabianfrz commented on #172
@mimugmail then I'll close it. Thanks for your help.

[2017-07-13 20:22] #172 closed

[2017-07-17 06:51] bluesource opened #202 "net/haproxy: advanced timeout / connection Options"
Hi,

I would love to see some advanced timeout / connection Options in the GUI :)

* timeout http-request (slowloris attacks)

* Limiting TCP Connection Rate, abuse Unfair users, etc. (as described in https://www.haproxy.com/blog/use-a-load-balancer-as-a-first-row-of-defense-against-ddos/)

Thanks and regards,
Michael

[2017-07-17 16:43] cultcom opened #203 "Quagga: static route redistribution"
Quagga currently ignores static routes set by "system/routes". To redistribute static routes you have to manually inject those to the zebra process with vtysh or the zebra.conf file...

[2017-07-18 13:40] tuxec opened #204 "security/tinc: TINCVPN interface"
Hello,

I am using opnsense 17.1.9 with tinc plugin, currently on three devices.

On two of those devices a TINCVPN interface and "TincVPN net" were automatically created (even though under "Interfaces / Assignments" the tinc0 interface is still not assigned). However, on the third device neither TINCVPN interface nor "TincVPN net" were ceated, even though the VPN connection has been successfully

[2017-07-18 13:47] tuxec commented on #198
I have seen the same problem - as described above - on 17.1.9., occuring both, under "Networks" and under "Hosts", in the "Cipher" entry field, on a fresh installation. This made it impossible to do any changes in the entries. After some time, however, the problem "disappeared" - looks like a kind of internal refresh to me - and the cipher could be choosen as usual.

[2017-07-19 09:11] mimugmail commented on #203
@cultcom Yes that's a known issue and ATM unresolvable. Can you try with kernel routes?

[2017-07-19 09:13] mimugmail commented on #204
I remember that you have to edit a firewall rule, do nothing and click save. Would you please try it?

[2017-07-19 09:17] mimugmail opened #205 "Quagga: Add logging support"
I'm quite near replacing some Quagga / Linux units with OPNsense, but I'm missing a log.
Yesterday I switched some BGP stuff on my live systems and watched the log:

2017/07/18 22:08:32 BGP: %NOTIFICATION: sent to neighbor 1.1.1.4 6/6 (Cease/Other Configuration Change) 0 bytes
2017/07/18 22:08:32 BGP: Notification sent to neighbor 1.1.1.4: configuration change
2017/07/18 22:08:32 BGP: %NOTIFICATIO

[2017-07-19 09:22] cultcom commented on #203
Well, I can add routes manually with vtysh, but you asked me in IRC to open a ticket for the issue to discuss it...

[2017-07-19 09:23] mimugmail commented on #203
Yes, but when you set a route via System/Routes it should be in kernel, so redistribute kernel instead of static should do the trick

[2017-07-19 09:25] cultcom commented on #203
Ah, good point, I will try that the next time. Currently the topology changed so that I don't need it anymore.

[2017-07-19 09:27] mimugmail commented on #203
Great, would you mind closing the issue and reopen if it still occurs next time?

Thanks!

[2017-07-19 09:35] cultcom commented on #203
sure

[2017-07-19 09:35] #203 closed

[2017-07-19 18:27] fabianfrz commented on #205
I would prefer syslog as well as the data can go to an ELK stack as well. A single log should do it as well because if you look at your sample it contains the routing protocol.

[2017-07-20 14:40] tuxec commented on #204
1. Update for 17.1.9: I have just added the new not yet assigned interface tinc0 as OPT2 (three interfaces are physical on the board) under "Assignments / Interfaces / +" and this step has created the TINCVPN. After deleting the "OPT2" the TINCVPN was **not** deleted and can be found now in the "Firewall / Rules" along with "TincVPN net".

2. @mimugmail: I will try your suggestion with another ins

[2017-07-21 14:12] mimugmail commented on #205
Ok, there's already a config in /usr/local/etc/inc/system.inc

`        $syslogconfs['routing'] = array('facility' => array('radvd', 'routed', 'rtsold', 'olsrd', 'zebra', 'ospfd', 'bgpd', 'miniupnpd'));
`

So I think it's just fine to put in all configs:

log syslog informational

Or is this too aggressive @fichtner ?

[2017-07-21 14:18] fichtner commented on #205
create quagga files? or quagga-"PROTOCOL" ?

[2017-07-21 14:21] mimugmail commented on #205
@fichtner in zebra.conf, ospfd.conf and bgpd.conf just a

`log syslog informational`

It looks like this in routing.log:

[code]

[2017-07-21 14:23] fichtner commented on #205
we need to have log files for plugins, it's very hard to check a "routing" log, it's already too messed up with miniupnpd, radvd, etc.

[2017-07-21 14:26] mimugmail commented on #205
So create a /var/log/quagga.log and point the processes to it? I'm not quite familiar with the logic in the inc file :)

[2017-07-21 14:29] fichtner commented on #205
https://github.com/opnsense/plugins/blob/master/security/tinc/src/etc/inc/plugins.inc.d/tinc.inc#L42-L59

[2017-07-21 18:49] fabianfrz commented on #205
@mimugmail I've added the feature in #206, it does not look like we have to update the file.

[2017-07-22 16:11] fabianfrz commented on #205
fixed by #206

[2017-07-22 16:11] #205 closed

[2017-07-23 10:50] fabianfrz commented on #118
I think this is already fixed

[2017-07-23 10:50] #118 closed

[2017-07-24 07:04] mimugmail opened #207 "Startup issue Collectd and Freeradius"
@fichtner You did some follow-up changes to the rc.conf.d files, but I'm not sure how they behave.
I tried a fresh install of 17.7RC and collectd, but the service doesn't start when enabling it. It only starts after a reboot of the machine. When enabling the service and pressing start there's no error in browser debug mode and CLI, status returning ist "unknown". Also the rc.conf.d file is colloec

[2017-07-24 07:12] mimugmail commented on #207
Ah, the bootup log show a permission denied for collectd setup.sh and a file not found for freeradius setup.sh

[2017-07-24 07:37] fichtner commented on #207
should be fixed on master now, sorry.

[2017-07-24 08:04] mimugmail commented on #207
Great! What about the permissions for collectd file?

[2017-07-24 08:05] fichtner commented on #207
<img width="638" alt="screen shot 2017-07-24 at 10 05 01 am" src="https://user-images.githubusercontent.com/1915288/28513751-a0f741d4-7057-11e7-8868-87cdc76cd6c6.png">

;)

I don't have time to confirm, so please close if really solved and sorry about the trouble.

[2017-07-24 08:18] mimugmail commented on #207
Hm, when I look at the freeradius commit I wont see collectd :)

Ok, so for collectd it's fixed but for freeradius I get a:

![image](https://user-images.githubusercontent.com/20438689/28514174-6f8b5944-7059-11e7-9c52-85279f37ec21.png)

[2017-07-24 08:24] fichtner commented on #207
<img width="584" alt="screen shot 2017-07-24 at 10 19 24 am" src="https://user-images.githubusercontent.com/1915288/28514454-4d98f0f2-705a-11e7-8e3d-ba1f276cf491.png">

:D

[2017-07-24 08:40] fichtner commented on #207
ok, found the issue

[2017-07-24 08:42] #207 closed

[2017-07-24 08:50] mimugmail commented on #207
All errors gone, thanks :)

[2017-07-24 08:56] fichtner commented on #207
collectd doesn't reload the template on save

[2017-07-24 10:40] mimugmail commented on #207
Really?

[code]

[2017-07-24 10:45] fichtner commented on #207
Have you tested with a clean config.xml? I hit enable, save, it saves but does not rewrite the template so the service won't start as well.

[2017-07-24 10:46] mimugmail commented on #207
.. cloning a fresh clone ...

[2017-07-24 11:06] mimugmail commented on #207
https://github.com/opnsense/plugins/blob/master/net-mgmt/collectd/src/opnsense/mvc/app/controllers/OPNsense/Collectd/Api/ServiceController.php#L136

Capital C I think ...

[2017-07-24 11:06] fichtner commented on #207
my bad then, once again. will fix in a sec :)

[2017-07-24 11:08] mimugmail commented on #207
No, my bad using Github Desktop for Windows :)

[2017-07-24 11:08] fichtner commented on #207
no, no, my bad for being such a sloppy reviewer :)

[2017-07-24 11:11] fichtner commented on #207
In all seriousness: thanks for finding it, confirmed fixed now.

[2017-07-24 22:14] fraenki opened #208 "net/haproxy: improve GUI usability"
**UPDATE:**

Thanks to the great feedback and suggestions in the comments I was able to implement the following changes in #330:
- [X] diverge from HAProxy's wording, better align with other LB solutions
- [X] restructure and group GUI elements (should be easier to grasp)
- [X] hide unused options in many places with some simple JS code
- [X] add a "Quick Start Guide" and multiple smaller help pag

[2017-07-24 22:18] fraenki commented on #208
@fichtner @AdSchellevis Would love to get some more input before working on this, especially if you found other quirks that should be addressed or if suggestions have been made by other users. The ACL/Action stuff is essential in HAProxy, but I think it's not easy to do it the right way (easy _and_ flexible).

[2017-07-25 05:38] AdSchellevis commented on #208
@fraenki it's indeed a bit complicated, quite flexible, but I can imaging people are searching a bit from time to time. Hiding the non usable items in the gui would certainly help, maybe some general help on the first screen could also help understanding the steps you should take. Let me think about this some more.

By the way, I did help a customer lately installing haproxy and the setup went qui

[2017-07-25 20:35] fraenki commented on #208
@EugenMayer This is loosely inspired by a conversation we had in June. Feel free to suggest specific enhancements here. I plan to follow the official HAProxy wording more closely this time.

[2017-07-26 20:50] fabianfrz commented on #69
@fraenki It may be the hardcore solution for your log but you can look at the log viewer of the `net/quagga` plugin. It gets the log from a `configd` call as a JSON structure and and passes it through.

[2017-07-28 04:58] fichtner opened #210 "approval of acme.sh version 2.7.2"
https://github.com/HardenedBSD/hardenedbsd-ports/commit/d6341952611

[2017-07-28 12:53] AdSchellevis commented on #208
@fraenki I've browsed through haproxy and came up with the following:

If I'm understanding the basics correctly, normally a setup should look something like this
![image](https://user-images.githubusercontent.com/9783985/28717331-a4461f66-73a1-11e7-846b-44483bcbd544.png)

My first idea would be to add an overview such as this to the "general" tab, so a new user can grasp the context of what the s

[2017-07-28 13:09] EugenMayer commented on #208
@fraenki i would love to participate here, but first, i would like to set the expectations we have / understand them.

For me, i see 2 different user-types and as equal use cases.

normal user:
Tends to stay in use-case "simple", more or less wires up domains to servers, no fallbacks, no special treatment. All the user is going to do is, set a domain(s)[important) to be forwarded on a specific ser

[2017-07-31 09:34] fraenki commented on #210
The [list of changes](https://github.com/Neilpang/acme.sh/compare/v2.6.9...master) is rather lengthy, but I couldn't spot a breaking change. I'll do a brief test on 17.7 though.

[2017-07-31 09:35] fraenki opened #213 "security/acme-client: add support for new DNS API hooks"
The updated acme.sh (#210) adds support for new DNS APIs, we'll need to add the (GUI/backend) glue on our side too:

* DigitalOcean API
* DNSimple API
* DuckDNS API
* Dyn Managed DNS
* Dynu API
* Hurricane Electric
* Infoblox API
* Name.com API
* NS1.com API
* VSCALE API
* Yandex PDD API

Not including support for Knot, because they depend on their own version of the nsupdate utility: [knsupdate](

[2017-08-01 12:40] gertfriend opened #216 "Please add regfish.de to DynDNS Hoster"
Could you please add the DynDNS-Hoster regfish.de?

I tried with the following and it worked:

        case 'regfish':
            if ($this->_dnsVerboseLog)
                log_error("Regfish: ({$this->_dnsHost}): DNS update() starting.");
            $server = "http://dyndns.regfish.de/?fqdn={$this->_dnsHost}&ipv4={$this->_dnsIP}&forcehost=1&token={$this->_dnsPass}";
            curl_setopt($ch,

[2017-08-01 13:02] fichtner commented on #216
looks like we can add ipv4 and ipv6 variants here 👍

[2017-08-01 17:37] tskarman commented on #195
This is still happening on OPNsense 17.7, os-haproxy 1.16, haproxy 1.7.8.

The only message showing up in the log (when attempting to shutdown haproxy manually) is:

    Aug 1 19:30:44 | configd.py: [e36569b4-e4df-4c2f-ab56-a40038749656] stopping haproxy

What can I do to help diagnosing this?

[2017-08-02 22:10] fraenki commented on #195
Very unfortunate. :( But I'm pretty sure we'll find a workaround soon.

The problem is that I was never able to reliably reproduce this issue. Does it happen *every* time you restart HAProxy? If so, I'd be interested in a config dump – a full config.xml dump would be ideal, but I could live with only the HAProxy parts too (anonymized, if required) :)

[2017-08-02 23:05] yves-vogl opened #217 "net-mgmt/collectd: improvements"
Hi,

I'm new to OPNsense and wondering why the collectd plugin is missing.
Is this plugin not supported in 17.1.11 of am I getting something wrong?

[code]

[2017-08-03 05:09] fichtner commented on #217
Hi Yves,

Collectd wasn't formally released yet, it's considered under development.

It hasn't been added to 17.1 at all, but there is a development version on 17.7:

    # pkg install os-collectd-devel

You could also install collectd from the plugins.git for 17.1, I can walk you through it.

Cheers,
Franco

[2017-08-03 08:33] yves-vogl commented on #217
Hi @fichtner,
thanks for your feedback.  I'd like to help you getting this into production.
Can you give me some information what's missing or where some work is needed?

[2017-08-03 09:31] fichtner commented on #217
it should work as is now, literally in a "grace period" before its first release.

@mimugmail as author / maintainer will be able to help with what may be missing.

If you have ideas on what you think is missing will also help.

Do you have the plugin installed or do you still need assistance with that?

Thanks,
Franco

[2017-08-03 09:34] mimugmail commented on #217
@yves-vogl I'd be glad if you could test the plugin. It should work as is right now, but some beta testers would be fine.

If you could switch to 17.7 and install the plugin and check if everything works as expected would be a great step forward to stable.

[2017-08-03 09:43] yves-vogl commented on #217
Alright, I'll do this.

[2017-08-03 10:04] yves-vogl commented on #217
I've switched to 17.7 yesterday.
Installation of the package was successful (see Screenshots)
![screen shot 2017-08-03 at 11 44 46](https://user-images.githubusercontent.com/21128/28916081-4f4d9b34-7841-11e7-8623-609f4c48498f.png)
![screen shot 2017-08-03 at 11 44 56](https://user-images.githubusercontent.com/21128/28916086-54194758-7841-11e7-8317-4b145b465af0.png)

After installation the collectd

[2017-08-03 12:13] mimugmail commented on #217
@yves-vogl Thanks for testing, I put a PR for your requested changes in #218

@fichtner Regarding Influx perhaps you could check the parameters when compiling collectd. http and influx is not supported by binary.

[2017-08-03 12:45] tskarman commented on #195
I've just sent you a config dump to the mail address mentioned on your GitHub profile.

I haven't rebooted in a long time without killing haproxy manually via the shell before, because I don't want to wait for any timeouts to expire.
But I can tell you that this happens consistently every time when attempting the manual shutdown via the "Services" widget on the start page.

[2017-08-03 12:48] fraenki commented on #195
Thanks, @tskarman! I've received your config dump and will use it to debug this issue.

[2017-08-03 14:09] fraenki commented on #210
Tested alongside https://github.com/opnsense/plugins/pull/219, ready for merge!

[2017-08-03 16:39] fichtner commented on #210
via https://github.com/opnsense/ports/commit/b3edafd122e9faeec92c8086340a917864f16bd5

[2017-08-03 16:39] #210 closed

[2017-08-07 10:08] fichtner commented on #217
done

[2017-08-07 10:08] #217 closed

[2017-08-09 10:29] #53 closed

[2017-08-10 14:16] fraenki opened #224 "net/haproxy: seamless reloads with HAProxy 1.8"
Starting with HAProxy 1.8, which is scheduled to arrive late in 2017, it's possible to reload HAProxy [without dropping packets](https://www.haproxy.com/blog/truly-seamless-reloads-with-haproxy-no-more-hacks/) in the process.

This might also be of interest in the scope of #195, because I assume that open/stalled connections may be blocking the restart.

In addition to seamless reloads we should i

[2017-08-11 21:22] #213 closed

[2017-08-12 06:59] mrdmiller2 commented on #198
It seems to happen both after a fresh install but also after any significant change that requires a reboot.  Just upgraded to 17.7 and the same problem exists.. however running the above commands does give a cipher list. So I think the problem still exists.

[2017-08-12 09:51] AdSchellevis commented on #198
@mrdmiller2 this will be quite difficult to track, I haven't seen it on my end, which certainly doesn't mean it's not there.

For reference the model uses a fieldtype which fetches configd when either there is no cache or the cache is too old https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/JsonKeyValueStoreField.php#L166. The plugin model requests

[2017-08-15 07:39] fichtner commented on #216
@gertfriend added IPv4 and IPv6 support, can you test?

Small change: Username is the token, password is not needed (like Duck DNS works)

    # opnsense-code plugins
    # cd /usr/plugins/dns/dyndns
    # make install

Cheers,
Franco

[2017-08-15 20:43] fraenki commented on #202
Thanks for your feature request! :) I'll try to add these features in one of the next feature releases.

[2017-08-15 21:19] ffries opened #229 "adblock plugin"
Dear Friends,

Lede offers this marvelous plugin:
https://github.com/openwrt/packages/tree/lede-17.01/net/adblock/files

It works very well and wipes all adds without breaking applications.

The adblock plugin relies on a single bash script:
https://github.com/openwrt/packages/blob/lede-17.01/net/adblock/files/adblock.sh

It is compatible with dnsmasq and unound and relies on "lying DNS".

I am aw

[2017-08-16 10:51] gertfriend commented on #216
Hi,

i tested the IPv4 version on 2 opnsense and it works great. I'm sorry but i haven't yet a provider that supports IPv6 for testing it.

Thank you for your work
Cheers

[2017-08-16 11:05] fichtner commented on #216
Hi @gertfriend,

Thanks, I'll add it to 17.7.1 then. I tested IPv6 as far as I could with the account, the parameters and embedded IP look alright. The code is mostly shared so I think we are good here. :)

Cheers,
Franco

[2017-08-16 11:05] #216 closed

[2017-08-16 11:25] #195 closed

[2017-08-16 12:13] fraenki commented on #195
@tskarman According to my tests the "hanging" HAProxy processes on shutdown/stop are related to (a) high timeout values in haproxy.conf and (b) HAProxy's default "graceful" stop mode (see #221 for more details). You can check if HAProxy is still serving connections by running `sockstat -4 | grep haproxy` on the CLI.

For OPNsense 17.7.1 we've changed the default stop mode of HAProxy from "graceful

[2017-08-16 14:43] fabianfrz commented on #87
@jeffg2k I am closing this as #226 is being merged soon. So it may be in the next release.

[2017-08-16 14:43] #87 closed

[2017-08-16 15:12] fabianfrz commented on #229
This does already work with OpenDNS, the Web Proxy (https://docs.opnsense.org/manual/how-tos/proxywebfilter.html), ICAP and many other ways. There is also a script working with OPNsense somewhere around.

[2017-08-17 07:10] ffries commented on #229
I understand that this works as a proxy and is already implemented. It is also possible to create a list of hosts and implement it at packet filtering level.

I was wondering of a DNS alone approach, as it proves to works pretty without any burden. At present, all adds have a full-qualified name. None of them are pointing to IPs either v4 or v6. This is why the DNS approach is enough. The script w

[2017-08-17 07:24] ffries commented on #229
I am catching up:
OpenDNS is avaiable from services_opendns.php

Unfortunately, a private company will not want to leak its DNS.
Not today in 2017, it should be done inside the firewall.

But this basically what I am looking for, so I will enquire more.

Any comments are welcome.

[2017-08-17 07:26] mimugmail opened #230 "Track: FRR Quagga fork"
https://github.com/FRRouting/frr

Just to track the steps this project goes. It's a very active fork of Quagga and currently implementing EIGRP, NHRP and ISIS. Some limitations on BSD, some only for OpenBSD.

pfSense will replace their mixup with this.

ATM I don't see any reason to go for it but it seems worth to track.

Changelog FRR 3.0:
https://github.com/FRRouting/frr/wiki/FRR-2.0-%E2%86%92-F

[2017-08-17 07:35] ffries opened #231 "Development guidelines"
Dear friends,

I am new to the community and need more "input" how to compile the plugins.
What is the recommended approach:

- install Hardened BSD and compile plugins and then move plugins to a 17.7 firewall.
or
- Recompile opnsense from scratch using git and use the target build as development platform, including OPNsense and plugings, all from GIT.

Kind regards,

[2017-08-17 07:41] fichtner commented on #231
Hi @ffries,

Here's the how to for plugins and development in general:

https://docs.opnsense.org/development/examples/helloworld.html
https://docs.opnsense.org/development/guidelines/basics.html
https://docs.opnsense.org/development/how-tos/api.html

There is also the development workflow document, which is severely out of date, but still useful:

https://docs.opnsense.org/development/workflow.ht

[2017-08-17 07:43] ffries commented on #231
Thanks, this was a fast answer!
Do you recommend HardenedBSD or FreeBSD?

[2017-08-17 07:44] fichtner commented on #231
Neither, use the latest OPNsense image unless you want to build *everything* from source, in that case the build tools document applies, it suggests FreeBSD 11.0 at this point. :)

https://github.com/opnsense/tools#setting-up-a-build-system

[2017-08-17 07:46] ffries commented on #231
Thanks. I will probably try to rebuild.

[2017-08-17 07:48] fichtner commented on #231
ok, if you need help just let me know :)

ps: please close the issue when you think this can be closed

Cheers,
Franco

[2017-08-17 20:57] fabianfrz commented on #229
I found the script working on OPNsense:
https://devinstechblog.com/block-ads-with-dns-in-opnsense/

[2017-08-19 08:22] mrdmiller2 commented on #198
I have the time mapped to NTP.

After a reboot, the problem seems to re-occur.. (But once its populated via running those scripts manually it works until the next reboot)

So for example, I rebooted today at 01:19:00 AM PST.

 ls -als /tmp/tinc_current_cipher_options.index produces this output:

0 -rw-r--r--  1 root  wheel  0 Aug 19 01:09 /tmp/tinc_current_cipher_options.index

But the file is emp

[2017-08-19 16:08] AdSchellevis commented on #198
@mrdmiller2 thanks for testing, https://github.com/opnsense/core/commit/c72c1874b83a3b9437a4c5c872c4d226ab26bfa9 + https://github.com/opnsense/core/commit/2349bc39d2fdd879d10700e58eb67cc72b9cc0ba should fix the issue.

If for some reason there already is an empty file on disk, it will be ignored, the first fix prevents illegal data to be written to disk (configd result should contain valid json da

[2017-08-19 19:46] QuentinC opened #232 "security/acme-client: nsupdate not found after update to 17.7"
Hello,

My Let's encrypt certificates are not renewing since the upgrade of the router to 17.7.

I'm using DNS-01 as validation method (talking to the DNS server, allowed to update with some key).
It seems that the commands tries to run nsupdate, and this command is not available anymore on my system...

How can I fix that ?

Thanks !

Quentin Canel

[2017-08-19 22:17] fichtner commented on #232
Not really a bug. Fixed in 17.7.1.

For a workaround:

    # pkg install bind911

[2017-08-19 22:17] #232 closed

[2017-08-21 14:50] obrienmd commented on #230
Given support from the Linux foundation, a more open dev model with well-documented governance, and (less absolutely positive but I like) Github-based development, it seems reasonable to give this serious consideration.

FRR already has a number of interesting improvements over Quagga (BGP AddPath, BGP unnumbered, 32-bit route tags, ldpd, etc.), and development velocity seems pretty fantastic ATM:

[2017-08-21 18:25] obrienmd commented on #230
pfSense, as it stands right now, has frr as a package which is mutually exclusive with the quagga-based routing packages. Given quagga is not in core, perhaps a "middle way" with less risk would be to allow both a quagga-based routing package and an frr-based one?

[2017-08-21 18:35] fichtner commented on #230
I would think having both would be less beneficial in the future.  We should pick the one that gives us the best results in the mid and especially long term...

@fabianfrz and @mimugmail should decide, they work on the plugin regularly.

[2017-08-21 19:36] fabianfrz commented on #230
@fichtner I think we cannot support both but if we switch we will have to be careful not to break old installations. this means we would have to move the plugin to frr and provide a meta package called quagga with a newer version which installs the frr plugin as a dependency.

If the vtysh output and the config file format has not changed, we can simply switch, otherwise we will have to adjust the

[2017-08-23 07:22] tamersaadeh opened #233 "security/acme-client: HTTP-01 validation fails if the dashboard is setup to respond to https only"
The call to verify the ACME request need to be done over http. However if the dashboard of the router is setup to use https only, the verification fails as the curl requests will all return an HTTP 301 permanently moved.

[code]

(Also what happens in the case there is NAT forwarding of port 80 to another device, would the plugin temporarily stop forwarding and respond to the certificate challenge

[2017-08-23 07:30] fraenki commented on #233
Which "Validation method" did you choose in the ACME plugin? Maybe post a screenshot of the configuration.

[2017-08-23 07:41] tamersaadeh commented on #233
I used the HTTP-01 validation method.

Validation:
<img width="905" alt="validation" src="https://user-images.githubusercontent.com/529350/29603915-2132dc28-87e6-11e7-9945-a028c241464c.png">

Certificate:
<img width="901" alt="cert" src="https://user-images.githubusercontent.com/529350/29603987-5767738a-87e6-11e7-92e1-28f718349b7c.png">

The interesting part of the log (it takes too long to saniti

[2017-08-26 20:20] StrikerTwo opened #234 "Let's Encrypt: Log file view broken"
Something is not right here :)

![image](https://user-images.githubusercontent.com/6770084/29744798-8e941912-8aac-11e7-99ae-77dbf96586ca.png)

[2017-08-27 19:12] fraenki commented on #234
@StrikerTwo Thanks for reporting this issue! We're already aware of it and tracking it in https://github.com/opnsense/plugins/issues/69.

[2017-08-27 19:12] #234 closed

[2017-08-27 20:28] fichtner commented on #234
There may be two things here, it logs a full header which looks off...

[2017-08-27 20:38] fraenki commented on #234
Not exactly. It's part of the acme log (level 2). Though, we may change the log level once we support other log formats.

[2017-08-28 07:05] StrikerTwo commented on #234
Thanks, didn't see the other issue.
If you ask me, you could just drop the date column and display everything in a single line as it is in the original log file.

[2017-08-28 07:10] fichtner commented on #234
I promise to fix that this week. We just need to pass a word count for the split...

[2017-08-28 10:37] StrikerTwo commented on #208
Having used HAProxy for the first time and only through OPNsense's GUI, I'd like to add my 2 cents and describe what confused me the most:

- Terminology. ACLs should be more aptly named conditions (more HAProxy's "fault" than OPNsense's)
- Tab order (as already mentioned). For setting up the first time I need servers and backend first and then frontends. Afterwards I pretty much only changed fron

[2017-08-28 16:00] #69 closed

[2017-08-28 16:02] fichtner commented on #69
@fraenki you need core commit 11f359c and plugins commit 24ff623. Core commit won't be in the 17.7.1 release, so you can try this. I added the plugin fix to 17.7.1 anyway, it is harmless. "6" was guessed from your screenshot. May be off by one. ;)

[2017-08-29 07:57] smindorf opened #236 "[AcmeClient] Call to undefined function system_webgui_configure()"
Hi,
after upgrade to OPNsense 17.7-amd64 the acme-client will not work correctly.

**Error**:
[code]

I checked the code and found the systemcall: `system_webgui_configure()` but I can't find
the function on my system.
I've checked `/usr/local/etc/inc/*.inc` not here.

**Instelled Plugins:**

- os-acme-client	1.8
- os-dyndns	1.1
- os-haproxy	1.16
- os-intrusion-detection-content-pt-open 1.0
- os-r

[2017-08-29 07:59] fichtner commented on #236
It's true, the function no longer exists since a 17.1.x and was not really supposed to be public.

[2017-08-29 08:01] fichtner commented on #236
A configd call existed, but was removed because unused. Now we have our use case ;)

[2017-08-29 08:23] fraenki commented on #236
@fichtner Is there a configd command available to reload the WebUI?

[2017-08-29 08:25] fichtner commented on #236
see second commend, I'll add it back in a minute or so

[2017-08-29 08:57] fichtner commented on #236
@fraenki see https://github.com/opnsense/core/commit/bc261c67b8610c861783a80de7233620372d61ee -- shall I commit a fix for the plugin?

[2017-08-29 09:11] fraenki commented on #236
@fichtner OK :)

[2017-08-29 09:17] #236 closed

[2017-08-29 09:18] fichtner commented on #236
@fraenki I've taken the safe road with a delay of 2 seconds in the background, but maybe you can get away with a simple synchronous non-delay reload. This is something you can try as you have the setups.

@smindorf Thank you for the report. It will be fixed in 17.7.1 :)

[2017-08-31 16:05] fraenki opened #238 "net-mgmt/zabbix-agent: upgrade to Zabbix Agent 3.4.1"
New major release 3.4 available, needs testing.

[2017-08-31 19:13] obrienmd opened #239 "Zerotier OPNSense interface binding"
Continuing from https://github.com/opnsense/core/issues/1775.

Per @dharrigan :

My eventual goal is to use BGP or OSPF over a Zerotier "virtual switch" between a bunch of OPNSense routers.

@dharrigan I'm no core team (or even peripheral team) member, but I'm happy to test and debug!

[2017-08-31 19:19] fichtner commented on #239
FWIW, there is a new "lock interface" feature since 17.7.1 as well, maybe that's already enough. It's untested with zerotier, so "don't do this at home" (yet).

[2017-08-31 19:21] dharrigan commented on #239
Will investigate! :-)

-=david=-

[2017-08-31 19:21] obrienmd commented on #239
Another note, it seems when I bind ZT to an interface in OPNSense and enable DHCP for IPv4 (wasn't sure what auto-assign in ZT uses), a few things happened:

1) My system lost its default gateway, and had to be rebooted to regain it
2) The interface didn't get an IP via auto-assign (though the ZT interface showed the IP in a shell session)

[2017-08-31 19:22] obrienmd commented on #239
Let me know how I can help! I'm a fairly experienced linux sysad, and semi-know my way around nets.

[2017-08-31 21:08] fichtner commented on #238
https://github.com/opnsense/tools/commit/a0042e34fb

We could switch os-zabbix-agent-devel to 3.4 ? the build is capable of this split scenario now :)

[2017-09-01 13:35] StrikerTwo commented on #239
+1, lost my gateway as well when trying out Zerotier with DHCPv4 as IP scheme.

[2017-09-01 15:25] dharrigan commented on #239
Hi,

Thank you for the feedback. I hope to look into this over the course of this weekend. :-)

-=david=-

[2017-09-01 15:39] dharrigan commented on #239
@StrikerTwo can you clarify please - are you attempting to use DHCPv4 on the Zerotier interface within OPNsense, or have you defined the auto-assigned IP address range in my.zerotier.com? Thank you.

[2017-09-01 17:32] obrienmd commented on #239
@dharrigan to speak for myself, I set that on the ZT interface in OPNSense, but also set auto-assigned IPs in my.zerotier.com (thinking ZT central would use DHCP as a protocol for ipv4, but that's probably naive).

[2017-09-01 19:37] Woi commented on #69
I can test https://github.com/opnsense/core/commit/11f359c on top of 17.7.1 if you like me to...

[2017-09-01 20:39] fichtner commented on #69
@Woi all help is welcome:

# opnsense-patch 11f359c

... but I think you know this :)

Cheers,
Franco

[2017-09-02 09:27] Woi commented on #69
Looks nice now :+1:

[2017-09-02 09:35] fichtner commented on #69
Thank you, Marco. We'll land this in 17.7.2 then :)

[2017-09-02 10:31] fabianfrz opened #242 "mdns-repeater: add status indicator"

[2017-09-02 10:41] Woi opened #243 "security/acme-client: certificate renewal fails after backup and restore of configuration"
Hey,

Since 21.6.2017 I get the following error in my acme log (It should be obvious, but the host/domain names are sanitised):

[code]

These are the corresponding lines from system log:
[code]
And this is from the crash report:
[code]

The cron job was working before. Last successful run was on 20.5.2017, which is the issue date of my now expired certificate. I'll have a cron job for nightly upd

[2017-09-02 13:21] StrikerTwo commented on #239
@dharrigan I tried to use DHCPv4 on the Zerotier interface. My gateway was gone immediately, so I don't think it even had time to connect to Zerotier and get an IP.

[2017-09-02 14:28] #242 closed

[2017-09-02 20:46] dharrigan commented on #239
Hi,

I've been doing some investigation. More to do, but this works for me:

I created a new network on zerotier *WITHOUT* enabling autoassign of IP addresses (I believe it's best, otherwise OPNsense will get confused when it brings up/down interfaces - more investigation required). In effect, you are saying that *you* will assign the IP addresses to each node, either statically or via DHCP.

I ca

[2017-09-03 07:46] StrikerTwo commented on #239
I do not doubt that you can get it to work. Still, (maybe naively) selecting DHCPv4 on the Zerotier interface should not leave the system without a working gateway.

Maybe the problem is that my WAN address gets assigned via DHCPv4 as well?

[2017-09-03 08:43] dharrigan commented on #239
Hi,

Thank you for the reply. My WAN interface is assigned via DHCP too
(although I connect my OPNsense router to the modem via PPPoE). In my test
rig, I configured my WAN interface to use DHCP too and I was unable to
reproduce the issue you have observed, but let me do some more testing. Can
you let me know if, by following my previous post, it works for you? If it
still fails, please do let me k

[2017-09-03 10:02] StrikerTwo commented on #239
Yes, my LAN network (10.0.0.0/8) is quite different from the Zerotier range.

But again, I think the problem is that I selected DHCPv4 as IP method on the Zerotier interface. According to your description, you always used static IPs in OPNsense on the Zerotier interface (OPT1 in your post).

It would be okay if that didn't work and I had to assign IPs manually. But with the default gateway gone it

[2017-09-03 17:28] dharrigan commented on #239
Hi,

Thank you. Do let me know how it goes. You can chat to me on freenode (#opnsense) if you want.

-=david=-

[2017-09-03 19:37] NicholasRush opened #246 "Feature Request: siproxd integration"
Bezogen auf Forenthread: https://forum.opnsense.org/index.php?topic=5799

[Dokumentation zur Integration von Siproxd in OPNsense.pdf](https://github.com/opnsense/plugins/files/1273186/Dokumentation.zur.Integration.von.Siproxd.in.OPNsense.pdf)

Ich hoffe ich habe das gut genug erklärt.

[2017-09-03 20:48] mimugmail commented on #246
Tomorrow I'll start with the basic layout.
Thanks for the excellent explanation! 👍

[2017-09-04 05:33] fichtner commented on #246
@NicholasRush Very good spec, thank you!

[2017-09-04 11:12] StrikerTwo commented on #239
Okay, I tried again, on a fresh OPNsense VM.

`zerotier-cli join` worked, the device showed up on my.zerotier.com.

I then assigned the ZT interface to OPT1, activated it and set it to DHCP. And now my box is offline because it expects ZT to provide the default gateway:
![image](https://user-images.githubusercontent.com/6770084/30024023-36bf6a4e-9172-11e7-8905-a910c3e5a2ac.png)

Although my real g

[2017-09-04 11:15] dharrigan commented on #239
Hi,

Did you try to set the interface to a static IP as discussed above, rather than DHCP?

[2017-09-04 11:18] StrikerTwo commented on #239
Yes, I did. That works. But
a) I would like to use the ZT auto-assign method, and
b) the system shouldn't do something I didn't tell it to ;)

Are you saying DHCP is generally unsupported with the ZT plugin? Because I could live with that, but it should be documented somewhere.

[2017-09-04 11:29] dharrigan commented on #239
Hi,

That's great news that it works with a static IP, I'm very happy to hear
that. With regards the other points:

1. I'll do some testing with the auto-assign on the ZT network, although I
do believe you still need your interface IP to be statically assigned.
2. I firmly agree and I'll see if this is a problem that is because of some
assumptions that the zerotier service does, or something that

[2017-09-04 11:31] StrikerTwo commented on #239
Thank you for your work and your comments.

Are there any drawbacks in running your own DHCP server on the ZT network instead of using the ZT assignment functionality? (Other than it being a SPOF, so it HAS to be online in order for the network to work)

[2017-09-04 11:40] fraenki commented on #243
@Woi Thanks for your report! I'm not aware of any such issue and can't reproduce it.

Can you update to the current release of OPNsense, 17.7.1?
Can you try to manually renew the certificate from the WebUI?

[2017-09-04 14:11] Woi commented on #243
Thanks for the plugin and your support :)

I'm running OPNsense 17.7.1_2-amd64. It also fails when triggered from the WebUI.
Just for clarification: The problem exists since 21.6 and reoccurs every night. Last successful renewal was on  20/21.5. Between 20/21.5 and 21.6 no renewal was triggered.

[2017-09-04 14:23] fraenki commented on #243
According to [the acme.sh source](https://github.com/Neilpang/acme.sh/blob/afdd02a80dcfee3c43cffc84e7e6dfd6b4cf9a8c/acme.sh#L3965-L3969), the error "is not a issued domain" is displayed if acme.sh can't find the (previously created) configuration file for this domain.

@Woi Have you changed the domain name? Or did you reinstall OPNsense? In any case the file seems to be lost.

Can you try to remov

[2017-09-04 16:15] obrienmd opened #247 "Zerotier initial bring-up rocky, down after reboot"
Per the issue on binding interfaces https://github.com/opnsense/plugins/issues/239, I was able to get OSPFv2 working as expected over a ZeroTier "switch" built in the OPNSense UI with static IPs :) Thanks @dharrigan !

During this testing, I found the following to report:

1. The initial bring-up is a little rocky:
   - I had to disable/enable, re-apply a few times on that page to get it to come u

[2017-09-04 18:23] obrienmd commented on #247
I did some digging on 1.1 - when it's not working after initial setup, `zerotier-cli listnetworks` (or any subcommand for that matter) results in:
`zerotier-cli: missing port and zerotier-one.port not found in /var/db/zerotier-one`

[2017-09-04 18:28] fichtner commented on #247
@obrienmd Sounds like an issue in the FreeBSD package. Will check tomorrow.

[2017-09-04 18:38] dharrigan commented on #247
Hi,

Thanks for the feedback @obrienmd. @fichtner happy to work with you on this one (tbh, I think I noticed the same thing yesterday - the service didn't start cleanly after an install - but was investigating the other issue so didn't delve further).

-=david=-

[2017-09-04 18:44] dharrigan commented on #239
Hi,

I haven't observed any drawbacks from running DHCP on Zerotier - in fact, they support this model, although there is some discussion on the merits of DHCP on Zerotier (see https://github.com/zerotier/ZeroTierOne/issues/322). However, my view at the moment is that since you trust OPNsense (so to speak) and are configuring DHCP on OPNsense, then handing out IP addresses to hosts on your Zerotie

[2017-09-04 18:45] dharrigan commented on #239
@fichtner Can you close this ticket please and raise a new one to provide Zerotier plugin how-to documentation. Thank you.

[2017-09-04 19:08] fichtner commented on #247
It looks like this is simply because of zerotier-one not being started unless a network is configured and applied.

Traditionally, off by default is sensible, but in other plugins we have a global "enabled" flag to allow a zero-config service run.

Does that make sense? I haven't reproduced yet, just looked at the code.

[2017-09-04 19:23] Woi commented on #243
I followed your directions and deleted and recreated the certificate. It was a bit rough, but now I have a working certificate again :)

Regarding the root cause of my problem: You made a very good guess :) I replaced my Alix-Board with an APU2 at the time in question. I used `/diag_backup.php` to backup and restore the configuration from a file. So backup and/or restore missed a some bits of ACME

[2017-09-04 19:39] Woi commented on #69
Reporting #243, I stumbled about this bad looking line breaks in the date column, if a long log message exists:

![os-acme-client_log_longlines](https://user-images.githubusercontent.com/5870628/30037007-3abd05ca-91b8-11e7-81ee-7561a39ca861.png)

[2017-09-04 19:49] fichtner commented on #69
This can't be fixed. It writes a proper entry per line. It's the header dump that makes this awkward. 😊

[2017-09-04 20:00] dharrigan commented on #247
@fichtner thanks. now working on an implementation to allow global activation of zerotier service.

[2017-09-04 20:07] fichtner opened #250 "net/zerotier: how-to documentation"
Continuation / conclusion of #239

[2017-09-04 20:08] fichtner commented on #239
Sure, done. :)

[2017-09-04 20:08] #239 closed

[2017-09-04 20:35] obrienmd opened #251 "net/zerotier: issues under high load"
More ZT observations from testing, sorry for the deluge!

With ZT used as a VPN connection between 3 OPNSense routers (OSPF used between them to manage routes to LANs), when I push a large amount of data between two of the routers, connections of all types will start to fail between them or devices behind their LANs to devices on a 'far' LAN.

Wehn I try to ping between the 2 routers involved, I g

[2017-09-04 20:49] fichtner commented on #251
Could be an issue with network buffer depletion. What is your MBUF Usage from the system info widget when you observe this?

from: https://wiki.freebsd.org/NetworkPerformanceTuning

[2017-09-04 22:30] obrienmd commented on #251
MBUF usage is minimal - 1520/125446.

I don't know much about ZT interfaces, but the same traffic ran over an IPSec tunnel without problems, so perhaps it has something to do with how ZT interfaces handle buffers / queues?

[2017-09-04 23:48] obrienmd commented on #251
For the last few hours, my go-to tool to trigger this has been iperf3 - I originally saw it when Hyper-V replication was kicking in (big traffic tunneled over HTTPS), but needed something more reproducible.

I can trigger this at will with an iperf3 run either between a firewall or host on one side, and a firewall or host on the other side of the tunnel, as long as I'm targeting a LAN IP as the ip

[2017-09-05 07:41] fabianfrz commented on #250
@fichtner this may require access to the `opnsense_docs` repository, where @dharrigan may not have access to.

[2017-09-05 08:03] fichtner commented on #184
Works as expected, needs "Apply/Save".

[2017-09-05 08:03] #184 closed

[2017-09-05 10:02] fraenki commented on #243
I'll try to fix this in the next release.

[2017-09-05 14:45] dch commented on #247
I'm the freebsd zerotier port maintainer, let me know if I can help out here. Also, it might be time to move my firewall over to opnsense to take advantage of this new package.

[2017-09-05 14:47] fichtner commented on #247
@dch Hi Dave, it might have just been a misconception, sorry for the trouble! zerotier-one isn't started yet so zerotier-cli complains (rightfully) about /var/db/zerotier-one not being ready.

Thanks,
Franco

[2017-09-05 14:47] dharrigan commented on #247
Hi,

That's very kind of you thank you. I'm presently working on fixing this issue (making the code better), but I'll be happy to reach out @dch if (when!) I need some assistance! :-) So far, zerotier on FreeBSD works amazingly well - been using it for quite a while, on bare metal and within Jails without issue :-)

-=david=-

[2017-09-05 14:48] dharrigan commented on #247
@fichtner Hi, yes, part of my code cleanup is to only do zerotier-cli stuff when the zerotier-one service is running. Still cleaning things up.

-=david=-

[2017-09-05 16:05] Woi commented on #243
Nice. Give me a shout if you like me to test your patch.

[2017-09-05 18:49] obrienmd commented on #251
@dharrigan @dch Thought you folks might be interested given the other thread(s).

I'm a bit lost as to where to start debugging - didn't have the issue over IPSec so I'd love to dig into the Zerotier interface, but I'm not sure how to get it to log verbose data / where to look for errors / counters / etc.

[2017-09-05 21:31] obrienmd opened #252 "OSPF not working as expected"
I've taken a few hacks at getting OSPF working - reviewed:
https://github.com/opnsense/plugins/issues/170 (another OSPF issue, original reporter never provided feedback)
https://github.com/opnsense/plugins/issues/172 (raw config, which I may find useful in future)

Typically in an OSPF deployment (Cisco, pfSense, etc.), I'd configure the following:
- An interface for OSPF to broadcast on
- Network

[2017-09-06 07:51] mimugmail commented on #252
Which commands do you use to redistribute manually like stated above?

[2017-09-06 11:06] fraenki commented on #69
We'll change acme.sh's default log level in the next release (https://github.com/opnsense/plugins/pull/254). This will finally fix this issue :)

[2017-09-06 11:12] fichtner commented on #69
@fraenki nice, thanks!

[2017-09-06 13:15] obrienmd commented on #252
Ah - I think you made me figure it out :) I should add to "networks" both the OSPF-using network _and_ the networks I want routed. I'm going to test today to verify, but reviewing the OSPFd.conf that pfSense generated made me think this is probably the case. Thanks for pushing me in the right direction :)

[2017-09-06 13:18] mimugmail commented on #252
Great! Please come back with the results :)

[2017-09-06 15:08] dharrigan commented on #251
Hi,

Unfortunately zerotier doesn't come with any debug or logging, see here: https://github.com/zerotier/ZeroTierOne/issues/377. I suppose the standard networking toolchain would help here (except of course if you want to examine the payload, since that is encrypted). I would ssh into your OPNsense box, then use tools like ifconfig, tcpdump, netstat etc., to perhaps help? I would also reach out t

[2017-09-06 15:30] squadramunter opened #255 "Request for OpenVPN Client configuration Import"
When I created a OpenVPN client profile I want to Import that on my OpnSense router. But how can I Import that on my router so my connection is secure over a VPN. On Windows you have openvpn client and you can put there the configuration file in it. but on opnsense how can I do that? It should be fine if there is a method for that.

[2017-09-06 16:52] AdSchellevis commented on #255
Unfortunately you have to import your settings manually, creating an automatic import which maps the ovpn format back to the fields we use will likely be very prune to errors.... (and most of the time the settings needed are quite basic).

[2017-09-06 17:50] fabianfrz commented on #255
@AdSchellevis this is not possible in a reasonable way as OpenVPN is currently not MVC. This means there would be an incompatibility with core.

[2017-09-06 21:43] obrienmd commented on #252
Verified - good to go with both routing and "stub" networks defined. Thanks!

[2017-09-06 21:43] #252 closed

[2017-09-06 21:45] obrienmd commented on #251
Gotcha, thanks @dharrigan !

[2017-09-07 07:53] smindorf opened #256 "security/acme-client: certificate installing fails"
HI,

Version:

OPNsense 17.7.1_2-amd64
FreeBSD 11.0-RELEASE-p12
OpenSSL 1.0.2l 25 May 2017

Acme Client now works, but the new certificate will not be installed.

[code]

The webinterface shows me the old one.

I checked on the filesystem:

/var/etc/lighty-webConfigurator.conf
[code]
So I checked the certifiate in `/var/etc/cert.pem`, but this is the **old** one, so not installed.

Also I checked

[2017-09-07 09:27] fraenki commented on #256
Hi @smindorf, thanks for your report!

Let me begin with an important clarification: the acme plugin will never directly install the certificate outside of /var/etc/acme-client. Instead it will import the certificate to OPNsense's **Certificate Manager**.
Can you confirm that the new certificate is visible in `System -> Trust -> Certificates`?

So to actually use the new certificate you have to se

[2017-09-07 09:38] smindorf commented on #256
Hi @fraenki,

Thank you for your reply.

Yes it is there, two times. The old one and the new one. Both are Let's Encrypt certificates.
The actually one is my old one from OPNSense 17.1.8.
And actually the certificate is set to the old one.

Also I've set the cron to restart the webUI.

As I understand this complete acme client is that I configure the client and it will be automatically renew the c

[2017-09-07 11:31] fraenki commented on #256
Yes, the acme plugin is able to do this, given that the requirements are all met, as described in [my previous post](https://github.com/opnsense/plugins/issues/256#issuecomment-327745181).

I've just retested all of this on my OPNsense test box and it's still working as expected. So even after the changes in #236 it still looks good to me. No regression afaict :)

Me neither. :( The logs are (hope

[2017-09-07 12:00] obrienmd commented on #238
I'm a heavy Zabbix user, and that sounds great to me!

[2017-09-07 12:04] fraenki commented on #238
Yes, please switch the -devel version when you have a minute to spare :)

[2017-09-07 12:18] dharrigan commented on #247
@obrienmd hi - would you like to help me test the updated plugin out-of-band? Ping me on IRC if interested :)

[2017-09-07 13:00] smindorf commented on #256
Ok @fraenki,

I've checked the History:

[code]

Now I understand the new Certificate but I don't know where this import comes from.

Maybe from finding the bug #236

Sorry...

Sören

[2017-09-07 14:36] fraenki commented on #256
Have you at some point deleted the certificate from `Services -> Let's Encrypt -> Certificates` and recreated it? This would explain why the certificate was imported a second time.

(FYI, the acme plugin records the hidden `certRefId` from OPNsens's Certificate Manager. This information is lost if the certificate is deleted from `Services -> Let's Encrypt -> Certificates`. And the acme plugin will

[2017-09-07 15:10] fichtner commented on #238
package is currently here btw... https://pkg.opnsense.org/FreeBSD:11:amd64/17.7/experimental/All/zabbix34-agent-3.4.1.txz

[2017-09-07 15:13] fichtner commented on #238
and this.. https://github.com/opnsense/plugins/commit/a2f34139731a8223174c7efa4535b12ee4cd0e14

[2017-09-07 16:26] tamersaadeh commented on #233
I forgot to mention that I was using the staging environment, but it should work. (I have also just tried with the production one but it still does not work)

[2017-09-07 18:44] obrienmd commented on #247
Sure! Pinging...

[2017-09-08 07:01] dch commented on #251
@dharrigan I actually have a tweak to the port that enables debugging https://github.com/skunkwerks/ports/commit/e9582cd4 you need to run ZT in the foreground though to see it. I'd be interested in chattiing on IRC sometime if you are there. I'm in EU timezones.

[2017-09-08 07:13] smindorf commented on #256
Hello @fraenki,

I didn't delete here anything. But I've deleted the acme-plugin and installed it again to test what is going wrong before I've reported the Bug #236
I also switch from production to stable and back.

Yes you are right.

Regards
Sören

[2017-09-08 11:22] #255 closed

[2017-09-09 23:19] obrienmd commented on #251
@dch @dharrigan I'd be super interested in trying this port revision with my high-load use case. I have never built a port from source, but if you're planning to release a 1.2.4_1, I'd love to pull it in, or if there's a binary build I could deploy without you doing a full release, I'd be happy to try that!

[2017-09-10 13:55] obrienmd commented on #230
I ran through the migration with a few non-trivial configs on a linux box (BGP, OSPF, didn't try a RIP config). Config files were not changed and worked as expected, and vtysh output didn't change.

Cumulus has a doc on the transition on their OS which provides useful context: https://docs.cumulusnetworks.com/display/DOCS/Upgrading+from+Quagga+to+FRRouting

The commit activity on frr is astounding

[2017-09-11 07:37] mimugmail commented on #230
Recently there was a discussion on the Quagga ML:

https://lists.quagga.net/pipermail/quagga-users/2017-August/014824.html

Seems there are some global players not interested in any changes since it runs fine for them :)

[2017-09-11 09:37] dharrigan commented on #247
I think this can be closed now. @obrienmd reach out to me on irc to talk about this if you need to :)

[2017-09-11 09:52] #247 closed

[2017-09-11 13:29] peppelinux opened #259 "Feature request: Layer2 scanner in diagnostic tools"
I'm asking if is it possible to have netdiscover, or arpscan, into OPNsense, it could be helpfull in Interfaces/Diagnostic tools to see which IP are available in a LAN.

I do not have any preferences about netdiscover or arpscan even if I use netdiscover frequently, arpscan is good enough.

I can also develop it by myself and then ask you a pull request, here in github, first I need to know if thi

[2017-09-11 13:43] peppelinux commented on #259
Installing it in OPNsense isn't difficult at all, I've just typed:

pkg add http://pkg.freebsd.org/freebsd:11:x86:64/latest/All/arp-scan-1.9.txz

Together with arpwatch another good tool, easy to integrate with a plugin interface, could be arpalert.
These tools could build together a good layer2 security system, isn't it?

`arp-scan can be used as simple as it come

root@OPNsense:~ # arp-scan --in

[2017-09-11 14:08] fraenki commented on #256
A plugin reinstall does not trigger a re-import of the certificate.
I'm sorry, I have no explanation for the second certificate import :(

I'd suggest to delete the second certificate from the Certificate Manager, update to 17.7.2 (later this week) and watch if it happens again on next due/renewal date.

Where did you change this setting? Do you mean the Let's Encrypt "Staging" vs. "Production" en

[2017-09-11 14:46] fabianfrz commented on #259
Hi @peppelinux, a pull request would be probably the best option as the time of the developers is limited. For your linked script: Please note that there is no bash on OPNsense.

Here you can find a How To: https://docs.opnsense.org/development/examples/helloworld.html

In your case, I would recommend you to run the tool async (detached) with configd.
You can look at any existing plugin if you lik

[2017-09-11 14:50] obrienmd commented on #230
I read that differently - that entrenched interests are not super interested in a continuously improving open source routing engine competing against their wares :)

[2017-09-11 15:53] peppelinux commented on #259
Yes, no bash in OPNsense :)
Actually I installed arp-scan via ssh but when time will permit I could code this plugin and then ask to you a merge.

Thank you Fabianz, OPNsense is a very good product.

[2017-09-11 15:59] dharrigan opened #260 "net/zerotier: Add Basic API Functionality"
Implement functionality to call the Zerotier API to pull back basic information to display on the Zerotier plugin tabs. Information may include:

 * Information on the network (such as name, status, type)
 * Information on the node (such as address)
 * Information on peers (such as address and role)

User will have to generate an API key on the my.zerotier.com dashboard and supply it to this plugi

[2017-09-11 16:19] fabianfrz commented on #259
It would be better if you would ask @fichtner for review and merge.

[2017-09-11 16:58] obrienmd commented on #247
Agreed, looking forward to the new version hitting repo!

On Sep 11, 2017 2:37 AM, "David Harrigan" <notifications@github.com> wrote:

[2017-09-12 07:13] ra1nb0w opened #261 "ospf with openvpn"
Hello,
I am trying to use ospf gui with openvpn but without success. In essence, the gui set openvpn group as single interface (I have two vpn clients) and physical_interface() doesn't resolv to ovpncX. If I change "interface openvpn" in the configuration with "interface ovpnc1" and "interface ovpnc2", the daemon works correctly. Unfortuntaly, I can't add raw interface on the gui so I am not sure

[2017-09-12 07:20] fabianfrz commented on #261
The GUI framework does not have this option as far as I know. Maybe @AdSchellevis knows more.

@AdSchellevis: Does an Interface field support this?

[2017-09-12 07:34] AdSchellevis commented on #261
As far as I know we don't keep track of the raw openvpn interfaces, in theory we should be able to rename them and force them to something predictable (like with vlan's).
If an interface rename works, we need changes to openvpn (both client and server), registration of the interfaces, etc.

Unfortunately I don't have a lot of time available at the moment, first real question is, can we force the o

[2017-09-12 08:07] fabianfrz commented on #261
@AdSchellevis there is a `dev` option for a persistent tun or tap device.

[2017-09-12 08:12] AdSchellevis commented on #261
ok, that could work, the challenge probably lies in the migration and possibly creating the device before openvpn starts (not sure what it does, can't test it at the moment).

[2017-09-12 08:14] fabianfrz commented on #261
@AdSchellevis this is something that might be handled with care anyway as it may also split up the firewall section for OpenVPN so it might be a very breaking change.

[2017-09-12 08:19] AdSchellevis commented on #261
@fabianfrz yes, handle with care :) but if we can force the use of the correct device name and we're making sure that the openvpn group is still assigned to all, it should be possible.

But like I said, I don't have a lot of time at the moment, maybe it's better to park the issue in core with a different description (something like "assign interfaces to openvpn sessions")....  although it might ta

[2017-09-12 09:06] peppelinux commented on #259
I read the sourcetree,
It seems to me that I should not replicate "Diagnostic: Packet probe" tool but only the tools with the new UI approach. I'd like to reuse part of Packet probe UI InputFields for example, like the interface selection (select menu).

I also think that Arp scanner could be included in the Core

[2017-09-12 11:11] peppelinux commented on #259
I've found diag_packet_capture.php in /usr/local/www as a legacy component.
I think that this kind of tool is very similar of what I'm going to develop so I think that I will use diag_packet_capture.php like a sort of template and the arp scanner will be, hopefully, coded in the core of OPNsense.

[2017-09-12 11:16] AdSchellevis commented on #259
@peppelinux please note that diag_packet_capture.php is based on legacy code, better not to use as a template. New tools will likely remain in the package repository, there's no real reason to extend the core system for every install.

[2017-09-12 11:22] fabianfrz commented on #259
You can look at the `quagga` diagnostics pages if you like. They may behave very similar.

[2017-09-12 11:22] peppelinux commented on #259
@AdSchellevis ok, so I have to avoid this approach and code in the new coding style.
Ok, I will, let's code this plugin

@fabianfrz Thank you, I'll start from there

[2017-09-12 11:30] AdSchellevis commented on #259
system -> diagnostics (top process list) could also be of interest, should be quite easy to read.

Controller + template:
https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/controllers/OPNsense/Diagnostics/ActivityController.php
https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/views/OPNsense/Diagnostics/systemactivity.volt

API calls:
https://github.com/opnsense/cor

[2017-09-12 11:40] peppelinux commented on #259
@AdSchellevis Thank you, those examples looks very good for my situation, no problem for MVC pattern, I'm a Python Django coder. Just a question, a curiosity, I read that applications are, most of them, simple python scripts that works like a wrapper, managing I/O at the OPN's api/backend.

According to this, could it be more accurate to evaluate the possibility to upgrade python interpreter to 3.

[2017-09-12 11:50] AdSchellevis commented on #259
@peppelinux sorry, we're stuck on 2.7.x at the moment (which is still supported). 2.7/3.x aren't very compatible unfortunately.
A switch might be something for next year, but it turns out to be quite some work to keep all compatible on both versions and the gain isn't very large unfortunately (I did some performance tests some time ago).

You could use https://pypi.python.org/pypi/netaddr , which

[2017-09-12 11:58] peppelinux commented on #259
Thank you, brilliant support, nothing more to say :)

I'm coding arpscanner according to WOL plugin example (I can easily follow its small code).
Scanner result will be available in the bootstrap dialog, like WOL actually does.

After the first pull request I think that we'll decide how to emprove, as design and usage too.

[2017-09-12 12:00] fichtner commented on #259
A mini MVC plugin is certainly mdns-repeater

[2017-09-13 07:22] mimugmail commented on #246
@NicholasRush I'm quite busy with a multi wan issue here, only little time for creating the model.
Is it ok to start testing mid of next week?

[2017-09-13 08:47] peppelinux commented on #259
Thank you @fichtner but I cannot see or install mdns-repeater plugin from OPNsense web UI interface.
I'd like to view it before using it as a template.

Is there any of the default installed application, in the current stable version of OPNsense, that is MVC compliant? I want to use a working example and not write it totally from scratch.

[2017-09-13 08:49] fichtner commented on #259
If you want to work on plugins you should work with the repository :)

(from the OPNsense box run these)

# opnsense-code plugins
# cd /usr/plugins/net/mdns-repeater

The "official" plugin will be available for OPNsense itself with 17.7.2 later today.

Cheers,
Franco

[2017-09-13 08:56] peppelinux commented on #259
@fichtner thank you very much, I'm learning a lot of things with your help.
I'm coding with mdns-repeater I've found in this git repo. You know that arp-scan is a system package dependencies.

Makefile, in the root of the plugin folder, should contain the declaration of the system dependencies.
I'm actually start to code it :)

[2017-09-13 09:08] fichtner commented on #259
sure, you put your package dependencies on this line:

https://github.com/opnsense/plugins/blob/master/net/mdns-repeater/Makefile#L5

[2017-09-13 09:18] fabianfrz commented on #259
@fichtner good to hear that my code can be used as a template 👍

[2017-09-13 09:28] peppelinux commented on #259
Do we have a setup script that put the plugin's  files/folder in their /usr/local/opnsense/mvc/app/* tree or we have to put them manually, each by one?

[2017-09-13 09:31] fabianfrz commented on #259
`make install`

[2017-09-13 09:59] ra1nb0w commented on #261
Ok. I understood. I check out the code for other ideas but you are right, it's a breaking change and not quite easy. At least, not for me. I noticed that unbound see the right openvpn interfaces but the code is a mixture of php and html so probably is useless as ospf is a plugin and unbound a core (probably old) module.
Just one question for @fabianfrz : what/where is the dev option?

anyway, than

[2017-09-13 10:28] fabianfrz commented on #261
The dev option is an option in the config file of OpenVPN which makes OpenVPN use the given tun or tap device. In this case the Interface can be handled as all other interfaces of the system and therefore does not need to be grouped anymore.

[2017-09-13 10:46] ra1nb0w commented on #261
a ok, an option of openvpn.
What we do with this ticket? create a new one as suggested by @AdSchellevis ?

[2017-09-13 10:58] fabianfrz commented on #261
I'd close this one.

[2017-09-13 11:48] peppelinux commented on #259
This is the wrapper I coded for run, as a system command, the arp-scan tool:

[code]

It can also return a json object, according to API needs, like this:

{"10.10.17.0/24": ["10.10.17.232", "00:27:19:d5:1e:56"]}

soon as possible I will let you read the code directly on my fork

[2017-09-13 11:50] ra1nb0w commented on #261
ok. I close

[2017-09-13 11:50] #261 closed

[2017-09-13 11:53] peppelinux commented on #259
It could be runned as a standalone program as well.
arpscanner_wrapper.py -i wlp2s0 -r 10.10.17.0/24

[2017-09-13 12:08] fabianfrz commented on #259
If you want to run it not in parallel, is there something that would be against `172.16.0.0/12` to reduce the invocations?

[2017-09-13 13:01] peppelinux commented on #259
Good question,
with arp-scan we have a problem, every scan do a sort of lock on the memory/interface/buffer.
At first time, this morning, I coded a distribution in different forks BUT arp-scan works on the first run but the others, in parallel, returns 1 with this message:

ERROR: failed to send packet: No buffer space available\n

Using scapy or someother tool could improve the things but actuall

[2017-09-13 13:07] peppelinux commented on #259
@fabianfrz the only way could be splitting it in different /CIDR

[2017-09-13 15:14] peppelinux commented on #259
is there a command to reload OPNsense web definition, templates and other stuff without restart the entire VM/server?

When I made changements in the src/mvc tree on a working OPNsense installation, do I have to execute a  command to flush and reload cache/definitions/stuffs or at each http request all the things will be reloaded, automatically as usual in PHP? (I never use falcon and the web inte

[2017-09-13 15:22] fichtner commented on #259
if your plugin is already installed:

    # make upgrade

[2017-09-13 15:25] peppelinux commented on #259
is there a OPNsense SHELL cheatsheet on the wiki?

command = goal in a short format

@fichtner Thank you. I'm looking how many files we are producing for this MVC, they're a lot :)

[2017-09-13 15:27] fichtner commented on #259
sure :) the initial setup is a bit tedious still, but for the sake of privilege separation and clean coding it's necessary

https://github.com/opnsense/plugins#a-brief-description-of-how-to-use-the-plugins-repository

[2017-09-13 15:29] fabianfrz commented on #259
@peppelinux
Probably:
- 2 Controllers (1 Frontend, 1 Backend)
- Your worker script
- A config file for configd
- 1 HTML template (volt)
- 1 ACL file (not required but recommended)
- 1 XML File for linking into the menu

[2017-09-13 15:51] peppelinux commented on #259
Today's small steps:
https://github.com/peppelinux/plugins

Tomorrow I have to check how to set a Select InputFields (not that textfield actually in the form) for select one interface only, not multiple, at time.

I'm not working all the time on this  little project 'cause we are developing other things for my job but we are tryng to do some experiments on OPNsense and, actually, it's driving quit

[2017-09-13 17:54] fenice2 opened #263 "Plugin for telegraf"
As grafana and its acolytes are becoming more popular as a monitoring solution - would it be possible to get the current version of telegraf added as a plugin. I'm quite happy to configure this manually without any UI for the moment.

[2017-09-13 19:02] fabianfrz commented on #263
Should not that be possible with collectd?

[2017-09-13 19:24] fichtner commented on #263
Hi @fenice2,

We have a ticket here, enough responses now and build power to make this happen:

https://github.com/opnsense/core/issues/1626

I'm closing this duplicate, as we are talking about the package, not the plugin as per your request.

The package will be available with 17.7.3.

Chances are good that someone will start a plugin in the mid-term. :)

Cheers,
Franco

[2017-09-13 19:24] #263 closed

[2017-09-13 19:32] fichtner commented on #259
Hi @peppelinux,

Looks good so far. :)

I will add arp-scan to our packages tomorrow so that the plugin can be merged and build in the future.

There is, however, no rush to finish this, take your time and thanks in advance for your efforts and kind feedback!

Cheers,
Franco

[2017-09-13 20:07] fichtner commented on #259
FYI https://github.com/opnsense/tools/commit/2002f25d

[2017-09-13 20:22] NicholasRush commented on #246
@mimugmail No problem, because i am currently ill. And i think i need about two weeks to be healthy again.

[2017-09-14 01:30] Julien-nl opened #264 "net/haproxy: help with ACL/Action configuration"
Hi guys,
lately we have moved from pfsense to opnsense.
we have installed haproxy but I can't get it to work to get https forwarded to 3 different host o the lan.
front and back end are created I just need to know which the option to use Compose expression

we have dns1.domain.com and dns2.domain.com
dns1.domain.com forward to 10.10.10.10
and dns2.domain.com forward to 10.10.10.11
over https

hope

[2017-09-14 09:28] fraenki commented on #264
Hi @Julien-nl, HAProxy is a complex beast, so you'll need to add some configuration to make this work:

(assuming that you have already setup frontends/backends)

You need to add `Servers` to be able to send traffic to a specific host:

* Create a `Server` configuration for your first server 10.10.10.10:
Name: server1
FQDN or IP: 10.10.10.10
Port: 80 (or whatever port your server uses)

* Create a

[2017-09-14 10:21] fraenki commented on #140
http://www.freshports.org/security/obfsproxy/

[2017-09-14 12:54] Woi opened #265 "sysutils/monit: filesystem statistics error -- cannot parse device '/dev/gpt/rootfs'"
Hey,

my system log gets spammed by the following message since weeks or even month:
[code]

On `ui/monit/status/` everything looks fine:

[code]

The file however is there:
[code]

Could this be a configuration import/export problem as in https://github.com/opnsense/plugins/issues/243?

OPNsense version strings:
[code]

[2017-09-14 13:28] fichtner commented on #265
Hi woi,

We recently talked about this here, it seems to be a spurious log error in monit:

https://forum.opnsense.org/index.php?topic=5358.msg24789#msg24789

Reporting it upstream would probably be the best course of action.

Cheers,
Franco

[2017-09-14 13:51] Woi commented on #265
What is upstream in this case: FreeBSD or Monit Project?

[2017-09-14 13:55] fichtner commented on #265
monit, looks like it tries to dispatch a command that freebsd doesn't support or dispatches it in a way that freebsd doesn't like.

[2017-09-14 13:59] Julien-nl commented on #264
Hi Fraenki,
your answer is really appreciate it.
when are we expecting this release ?

[2017-09-14 18:44] peppelinux commented on #259
@fichtner thank you, I'll do my best

@fabianfrz, I've found a patch regarding of what you told me yesterday:

[code]

I pasted in the code the networks classified by /24 classes, because of a previous script that used netdiscover, it accepts only /8-16-24. So, all that 172.16.x.0/24 networks in the arpscanner script will be
replaced by one 172.16.0.0/12

[2017-09-14 20:20] fraenki commented on #264
No ETA, sorry. (The new release will make things a little less confusing, but it would not solve your configuration error.)

If I understand you correctly, your previous configuration was a NAT Port Forward to forward HTTPS traffic from OPNsense to your internal servers.

If you want to use HAProxy instead, you need to disable these NAT Port Forward rules, yes. Otherwise HAProxy would never receiv

[2017-09-14 20:59] peppelinux commented on #259
A lot of things are more clear to me know, tomorrow I will introduce ajax call for selecting interfaces (is there any suggestions about this, shortcut or whatever) and I would like to implement realtime "audit" from now instead of produce a rounder box, with the scan output, after an http response. I think that for a euristic scan, like most of them, I need the audit feature because of scanning ti

[2017-09-14 21:54] Julien-nl commented on #264
[code]
I am not sure I can follow you here.
so after configuring the HAPROXY not NAT or port forwarding are needed?

what do you mean use IP locally configure on OPNsense?
if the OPNsense IP is 10.10.10.1
Server 1 10.10.10.10
Server 2 10.10.10.20

which IP need to use ?

Thank you