[2020-07-02 06:14] epiphany11 commented on #1904
Hi fraenki,
there is the acme.sh.log file:

[Thu Jul  2 07:59:54 CEST 2020] ACME_DIRECTORY='https://acme-v02.api.letsencrypt.org/directory'
[Thu Jul  2 07:59:54 CEST 2020] DOMAIN_PATH='/var/etc/acme-client/home/*.domain.de'
[Thu Jul  2 07:59:54 CEST 2020] Using ACME_DIRECTORY: https://acme-v02.api.letsencrypt.org/directory
[Thu Jul  2 07:59:54 CEST 2020] _init api for server: https://acme-v02.api.

[2020-07-02 13:07] schreibubi commented on #1842
#1901 changes the behavior to NXDOMAIN

[2020-07-02 16:17] 8191 opened #1905 "stunnel plugin: intermediate certificates not added to certificate list"
The stunnel plugin does not support adding intermediate certificates to the certificate file, which leads to issues when having a certificate which is not directly signed be the root certificate authority.
https://github.com/opnsense/plugins/blob/796114f4431ff62f4a59c375aca4c4c3e898b527/security/stunnel/src/opnsense/scripts/stunnel/generate_certs.php#L47

[2020-07-02 17:47] imp1sh opened #1906 "Netdata plugin cannot listen on IPv6 address"
Netdata plugin cannot listen on IPv6. This is the error message in /var/log/messages:

[code]

1. Install netdata plugin
2. Goto Services - Netdata - General
3. Input IPv6 address in 'Listen Address'
4. Service won't start, see log error above.

OPNsense 20.1.7-amd64
PC-Engines APU4C4

[2020-07-02 17:58] mimugmail commented on #1906
Did you use the correct syntax? Error looks strange

[2020-07-02 22:51] fire-burner opened #1908 "DDNS update frequency"
Dear OPNsense team, thanks for the effort you put into this wonderful piece of software!

I would like to request a small addition to the DDNS plugin.
It would be great if it would be possible to set the update frequency in case the IP doesn't change for a longer time.

I am connected through cable internet and here IPs might just change a few times per year (if even); so this is kind of a semi st

[2020-07-03 01:37] arch1mede commented on #1036
Hi, was there any progress done on this? I would like this as well.

[2020-07-03 01:50] patan32 opened #1907 "net/haproxy: Add support for header field names"
Hello,

I need bit of help with haproxy config through GUI. I am using Opnsense and i can't edit the config file manually.
I need to setup a socket for my website. I found this config but i am not able to get it going from the GUI.

The socket config for haproxy:
How can i accomplish this from the GUI?

[code]

Thanks for all the help. :)

[code]

[2020-07-03 07:24] soder10 commented on #1036
Wow, I totally forgot this..

[2020-07-03 07:49] arch1mede commented on #1036
Yeah I only brought it up was because I noticed that on the dashboard, the interface stats do not reset unless you reboot the device and I didn't want to do that.

[2020-07-03 12:39] peironem commented on #1898
I'm sorry.
What "support" label stands for?
Have i wrote in the wrong place?

[2020-07-03 12:45] AdSchellevis commented on #1898
It stands for community support. You can ask questions on GitHub (although we prefer our forum at https://forum.opnsense.org for questions), we just label them accordingly.

[2020-07-03 16:28] imp1sh commented on #1906
The Synatx of the IP I entered was like this:
`2001:a0a0:f2f2f2:5000::1ae0`

[2020-07-03 19:07] MrWowsers opened #1909 "[dynamic-dns]: Requires TTL value but box not shown"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**
When trying to create a ne

[2020-07-03 19:42] fichtner commented on #1909
Duplicate of #1903 -- pushing a fix to 20.1.8 shortly, but since 20.1.8 was wrapped up before this was included we have to sit the situation out a bit.

[2020-07-03 19:42] #1909 closed

[2020-07-04 04:26] abplfab opened #1910 "Custom DynDNS: The TTL value needs to be a valid integer number"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Services: Dynamic DNS'
2. Click on 'Add'
3. Choose Service type 'Custom', Interface to monitor: WAN, Interface to send update from: WAN, Hostname: some.domain.ch, CURL Options: both checked, Update URL: https://dyn.xxx.ch/cgi/dyndns.cgi?hostname=[HOSTNAME].somedomain.ch&myip=%IP%
4. Click Save
5. See error "The TTL value needs to be a val

[2020-07-04 04:51] fichtner commented on #1910
See https://github.com/opnsense/plugins/pull/1903 hotfix soon...

[2020-07-04 04:51] #1910 closed

[2020-07-05 09:00] camelusferus opened #1912 "Firewall API returning PHP MVC error"
**Description**
The usage of the firewall (plugin) api triggers an "Array to string conversion (errno=8)"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "System" - > "Access" > "Users" and get an API token a one user
2. Make a POST request to http(s)://[OPNSENSE-IP]/api/firewall/filter/addRule with the following content

[code]

**Shown behavior**
[code]

**Expected behavior**
Accepti

[2020-07-05 09:55] AdSchellevis commented on #1588
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1588 closed

[2020-07-05 09:55] AdSchellevis commented on #1592
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1592 closed

[2020-07-05 09:55] AdSchellevis commented on #1597
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1597 closed

[2020-07-05 09:55] AdSchellevis commented on #1605
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1605 closed

[2020-07-05 09:55] AdSchellevis commented on #1606
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1606 closed

[2020-07-05 09:55] AdSchellevis commented on #1611
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1611 closed

[2020-07-05 09:55] AdSchellevis commented on #1612
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1612 closed

[2020-07-05 09:55] AdSchellevis commented on #1616
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1616 closed

[2020-07-05 09:55] AdSchellevis commented on #1620
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1620 closed

[2020-07-05 09:55] AdSchellevis commented on #1636
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1636 closed

[2020-07-05 09:55] AdSchellevis commented on #1648
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1648 closed

[2020-07-05 09:55] AdSchellevis commented on #1652
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-07-05 09:55] #1652 closed

[2020-07-05 13:05] mimugmail commented on #1597
@robvanhooren with latest ndpi, is this still relevant?

[2020-07-05 14:00] robvanhooren commented on #1597
hmmm. haven't looked at latest, so I don't actually know. are the pkgs in 20.7 newer than 20.1.8_1? I haven't got an instance of 20.7 spun up.

[2020-07-06 02:42] rootwyrm opened #1913 "net/frr: needs ECMP support turned on"
**Important notices**
[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[X] I have searched the existing issues and I'm convinced that mine is new.
[X] The title contains the plugin to which this issue belongs

**Describe the bug**
`frr` from `net/frr6` does not support multipath due to compile-time options. It's just a matter of turnin

[2020-07-06 05:54] patan32 commented on #1907
Any help from the team? Appreciate all you guys do.

[2020-07-06 09:19] siga1975 commented on #1904
I have the same issue with gcloud DNS, it's related to python I guess

Also manually using gcloud command does not works:

[root@myfw ~]# gcloud dns record-sets list -z internal
ERROR: gcloud failed to load: No module named _sqlite3
    gcloud_main = _import_gcloud_main()
    import googlecloudsdk.gcloud_main
    from googlecloudsdk.api_lib.iamcredentials import util as iamcred_util
    from googl

[2020-07-06 10:37] fraenki commented on #1907
Both directives `hdr` and `hdr_beg` currently only support checking for the host header. I'll add support for other checks in a future release (no ETA!).

[2020-07-06 14:42] siga1975 commented on #1904
it fails here

"/usr/local/share/examples/acme.sh/dnsapi/dns_gcloud.sh"

 59   if ! gcloud dns record-sets transaction start \
 60     --transaction-file="$tr" \
 61     --zone="$managedZone"; then
 62     rm -r "$trd"
 63     _err "_dns_gcloud_start_tr: failed to execute transaction"
 64     return 1
 65   fi

doing it manually works

[root@myfw /tmp/tmp.qYVZkyNr]# gcloud dns record-sets transact

[2020-07-06 15:07] fraenki commented on #1904
@siga1975 This is unrelated to the original report by @epiphany11. Please open a new issue. I'll remove the unrelated comments afterwards.

[2020-07-06 15:31] siga1975 commented on #1904
hard to not bet it's related, but OK, I will open a new issue

thanks

[2020-07-06 15:39] siga1975 opened #1915 "security/acme-client: gcloud DNS - error"
gcloud validation does not work anymore since the last 20.1.8 update

Also manually using gcloud command does not works:

[code]

Adding the env var in /etc/login.conf

[code]

And rebuilding makes the command line to correctly works

[code]

Still acme validation does not works, I tried to add

[code]

in file
/usr/local/share/examples/acme.sh/dnsapi/dns_gcloud.sh

but does not help

it fails her

[2020-07-07 04:18] patan32 commented on #1907
Thanks for the response @fraenki.

This is exactly what I am looking for. If you can add this feature I would be the happiest person. A lot of applications are using WebSockets nowadays and it causes issues with reverse proxy.

https://www.haproxy.com/blog/websockets-load-balancing-with-haproxy/

I appreciate all the hard work you put in.

Regards Ronald.

[2020-07-07 07:46] pkejval commented on #1868
But WG client can generate its private key from given public key in config, isn't it? There's no need to store clients private keys on the firewall. I am pretty sure that I saw this implemented in OpenWRT and DD-WRT.

[2020-07-07 08:33] mimugmail commented on #1868
It doesnt make sense to store private keys from client locally. Azire or Mullvad only does this to ease the rollout process. This wont happen ...

[2020-07-07 14:01] nforceroh opened #1918 "Cloudflare dyndns no longer updating IPV6"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.

[-] The title contains the plugin to which this issue belongs

**Describe the bug**
A clear and concise descri

[2020-07-08 15:17] fraenki commented on #1904
I was able to reproduce this issue: acme.sh fails to detect the root zone from the Varioamedia API and as a result cannot add the TXT record.

The fix is pretty simple and was just committed upstream:
https://github.com/acmesh-official/acme.sh/commit/f02af8d481e0118419f4ac58ee8c006d5d9d4456

This fix will be included in the next release of acme.sh (as usual, no ETA). I'd say that affected users sh

[2020-07-08 15:17] #1904 closed

[2020-07-08 18:48] Taomyn opened #1920 "DMIdecode - missing information"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**
Brand new installation of

[2020-07-09 05:38] #1821 closed

[2020-07-09 20:33] rootwyrm commented on #1913
Changed to say 'net/frr' since frr6 and frr7 are both listed in builds. Also found where it needs set. PR incoming...

[2020-07-10 18:42] pixelsquared opened #1922 "Ntopng: Flows Dump"
**Is your feature request related to a problem? Please describe.**
I would like to enable the ntopng flows dump feature. So I can send the flows to a external server.

**Describe the solution you'd like**
A checkbox to enable the flows dump command line flag and a text field to enter the flows dump destination.

**Additional context**
https://www.ntop.org/guides/ntopng/advanced_features/flows_dump

[2020-07-11 18:08] pmhausen commented on #1758
I would also love to see these improvements. FreeNAS already does the aggregation for the CPU plugin and the "SeparateInstances true" and it is really useful for graphing ... Currently I cannot add my OPNsense to my Grafana dashboard because of the missing "SeparateInstances true". Please add this option.

[2020-07-12 04:57] mimugmail commented on #1758
Ok, I dont want to make it too complex. So just one checkbox calles "Aggregate CPU" which does this all?

[2020-07-12 10:28] pmhausen commented on #1758
These are two entirely different features but ...

- I think you can include the config snippet unconditionally. It simply shovels more and differently aggregated data to the graphite target. It does not change anything about the way all the other metrics are sent.
- The "SeparateInstances true" should be made a simple checkbox. I'll attach the FreeNAS config panel as an example. And here's the Fr

[2020-07-13 10:32] msvendsen opened #1923 "Blacklist also to include subdomains"
Hi!

Migrating from old BIND configuration where my DNSBL worked like a charm, I found out that with Unbound Plus, it only worked half way.
Found out that the difference is that BIND was blacklisting also any subdomains (*.domain.tld) for each blacklist entry. Unbound Plus only blacklists explicitly domains listed in the blacklist.

You can argue which method is most correct - but blocking all sub

[2020-07-13 11:04] mimugmail commented on #1923
@pkejval do you have an opinion on this?

[2020-07-13 12:11] chb88 opened #1924 "dyndns: adapt update URL and response match for dnsexit"
Current update URL is set to https://www.dnsexit.com/RemoteUpdate.sv?login=...
It became unreliable in the past weeks and returns 503 Service unavailable in ~70% of the tries

In the documentation on dnsexit.com using the url https://**update**.dnsexit.com/RemoteUpdate.sv?login=... is recommended and works reliably as for now.

Reliability can even be checked in the browser with the urls mentioned

[2020-07-13 12:53] pkejval commented on #1923
As **local-data** [documentation](https://nlnetlabs.nl/documentation/unbound/unbound.conf/) says:

You need to create **local-zone** record for blocking subdomains. You can find that line commented in dnsbl.py as this PR https://github.com/opnsense/plugins/pull/1901

But I'm aware that this will cause false-positive of "good" domains too. Blocklists are meant to block listed domains only.

@mimugm

[2020-07-13 13:37] msvendsen commented on #1923
Great! Switching to the other line, just worked! To me it doesn't matter if Unbound replies 0.0.0.0 or NXDOMAIN :-)

Correct, as I wrote - you can argue which one is most correct. Actually I think as it works now with local-data IS most correct, as the blacklists - as you also say - includes FQDN... but maybe would be nice with a check box "Include subdomains", or something like that.

THANKS!!

[2020-07-15 11:12] afontenot commented on #1564
I'm still seeing this too. I think I provided enough information that this should be trivially fixable assuming this plugin is actively maintained. Barring that, if someone following this can write decent PHP, you can probably provide a patch for this by working out what the correct way to report a non-fatal error which doesn't trigger a bug report in this code base is, and use that to solve the f

[2020-07-16 09:37] cmacias00 commented on #1303
Hi!
I can't connect any wireless device with freeRadius + openLDAP. I use openVPN with openLDAP (LDAPS) and it work properly.
Could you tell me your settings about LDAP (User filter and Group filter) and EAP (type EAP) tabs?

I also tried with plain-text password but it doesn't work in LDAP either.

I have the latest version of opnSense (20.1.8).

Any help would be greatly appreciated.

Many thank

[2020-07-16 09:59] mimugmail commented on #1303
EAP does not work via LDAP .. only Kerberos which is not supported

[2020-07-16 11:38] astrandb opened #1925 "net/haproxy: Action rules are not sorted properly in haproxy.conf"
**Describe the bug**
Redirect rules are not processed in proper order which leads to unpredictable behaviour. This is problematic e.g. when using haproxy and Let's encrypt combined.

I have looked into the generated haproxy.conf and I can see that ACL:s are sorted according to the order of entries in frontend gui (Public services). But linked actions are generated in wrong order. In fact the order

[2020-07-16 20:54] pmhausen commented on #1758
Hey, @mimugmail

are you ok with my feedback? Can I help? This does not look very complicated and I should be able to implement it with the proven "programming by copy&paste" method. I already had a close look at the XML for the UI - trivial.

So how do I go about this pull request thing? Do I have to clone the repo to my account, then make modifications? I come from a strong FreeBSD background so

[2020-07-16 22:09] Starkstromkonsument commented on #1636
Take a look at some caveats regarding INWX at #1611 and https://forum.opnsense.org/index.php?topic=16948.msg82344#msg82344

[2020-07-16 22:57] MBfromOK commented on #1564
The closing post says that this issue was closed due to timeout, until this gets fixed I suppose one of us should log a post to the effect that we are still getting this answer and refer to @afontenot's submission regarding the curl results every way, week, month or 90 days.

[2020-07-16 23:05] MBfromOK commented on #1564
What I want to know is why @fichtner re-opened it and removed the help wanted tag only for @AdSchellevis to come breezing in and re-close it after telling #1857 that they should report in this open issue the exact same problem instead of creating a duplicate.

[2020-07-17 06:48] jd77777777 opened #1926 "postfix: Support for LDAP / recipient verification"
If using postfix as a mail gateway to a backend mail server (e.g. Exchange), it would be useful to have a recipient verification using ldap or ActiveDirectory. postfix already supports this using postfix-ldap, but the opnsense plugin currently doesn't support this extension. If this extension is available, the configuration may look like this.

main.cf:

relay_recipient_maps = ldap:/etc/postfix/ld

[2020-07-17 07:35] AdSchellevis commented on #1564
@MBfromOK The "automatically timed-out" is exactly that, if nobody offered to own the item in 180days it will be closed automatically (it doesn't make sense to keep issues open for longer than that if nobody is actually willing to work on it).  My account is just used to enforce the project policy, that's all.

The DynDNS is a very old plugin, which isn't actively maintained by us, it needs a rewr

[2020-07-17 07:52] #1924 closed

[2020-07-17 07:53] fichtner commented on #1924
Thanks a lot! Committed as 1ceaf85

[2020-07-17 08:30] fichtner commented on #1564
err what now... this ticket is open according to github...

[2020-07-17 08:38] fichtner commented on #1920
@Taomyn can you provide the output of these two:

    /usr/local/sbin/dmidecode -q -t system
    /usr/local/sbin/dmidecode -q -t bios

Cheers,
Franco

[2020-07-17 08:47] Taomyn commented on #1920
Here you go, I did obfuscate the UUID but the rest is from the commands:
[code]

[2020-07-17 08:51] fichtner commented on #1920
Looks like dmidecode can't gather any data on the platform. Can't do anything about this from a plugin level unless dmidecode needs to be started with a different command sequence or something?

[2020-07-17 11:23] mimugmail commented on #1758
@pmhausen Sorry, forgot about this one. Yes, for me everything is clear.
Also if you want to try it on your own I'm glad to help.
Some time ago I wrote couple of guides how to build or extend plugins, most of it should still be valid:

https://www.routerperformance.net/opnsense/plugin-development/

This commit should also be self explanatory (hopefully):
https://github.com/opnsense/plugins/commit/

[2020-07-17 11:31] pmhausen commented on #1758
No problem, I see you have a release to prepare.
Nonetheless it would be great if we got the updated plugin with the 20.7 release.

Thanks for all your work!
Patrick

[2020-07-17 13:33] MBfromOK commented on #1564
Thanks for that detail @AdSchellevis, I just re-read my posts and I acknowledged that it was closed due to timeout and suggested we do our part to keep it open by causing new activity.  If status is determined by ownership (or lack thereof) then my suggestion wouldn't help.

Regarding the breezing in: It says @fichtner self assigned, added cleanup, removed help wanted, then reopened the ticket.  I

[2020-07-18 08:30] Taomyn commented on #1920
I've sent an email to Jetway support to see if they can explain if it's on the BIOS side, will update here if I get a response

[2020-07-18 19:54] pmhausen commented on #1758
Hey, it's just XML and jinja - easy peasy.
Separate instances done, aggregate values in progress, pull request pending ...

[2020-07-18 22:41] pmhausen commented on #1758
@frankenbubble Could you explain what the PostCacheChain *does*?

i implemented the aggregate values and the separate instances because I am familiar with them and use them extensively.
I wasn't sure about that regex and chain thing, though.

Kind regards,
Patrick

[2020-07-18 23:46] KD7TKJ opened #1928 "os-dnscrypt-proxy Feature Request: Allow selection of alternative DNS List Sources"
By default, dnscrypt-proxy uses public resolvers; However, it does support others, ala https://github.com/DNSCrypt/dnscrypt-proxy/wiki/DNS-server-sources

Specifically, I am interested in OpenNIC, but one can imagine a use for the Parental Control servers or the Onion servers as well.

The URL to the list and it's minisign signature belong under "Sources" in the .tocl file; I tried writing it manu

[2020-07-19 04:09] mimugmail commented on #1928
We have the Servers tab for this to put them in manually. :)

[2020-07-19 04:36] KD7TKJ commented on #1928
Fair, it can be done that way: Recurse by hand into the list, add each of the interesting servers twice, first on the Servers page to make OPNSense aware of it, and second on the General page to allow it to be used. These lists change infrequently, and each server is very reliable; I'm likely to have no problems.

The upstream software's documentation seems to suggest using the Lists though, and t

[2020-07-19 07:19] mimugmail commented on #1928
Ans how do you import them in regular usage?

[2020-07-19 08:08] KD7TKJ commented on #1928
To use a list, add it to the `[sources]` section of your
`dnscrypt-proxy.toml` configuration file as follows, for the example of OpenNIC:

"""
    [sources.'opennic']
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/opennic.md', 'https://download.dnscrypt.info/resolvers-list/v3/opennic.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7

[2020-07-20 12:06] frankenbubble commented on #1758
Hi !. The chains and regex stop the recording of individual per cpu stats, so you ONLY record the aggregates.  see https://collectd.org/wiki/index.php/Plugin:Aggregation/Config example if you need more detail.

[2020-07-20 12:33] pmhausen commented on #1758
Ah ... but I for one would want aggregates and individual stats. Can you live with that? The aggregates and the separate instances are finished.

[2020-07-20 12:53] fraenki commented on #1925
I was able to reproduce this issue. I think this was caused by the changes in https://github.com/opnsense/core/pull/4070 and https://github.com/opnsense/core/commit/3731bd1026963d0f3d3d66f662fb56ff58cc3f06.

[2020-07-20 13:18] AdSchellevis commented on #1925
@fraenki these commits are likely not related (grid sorting shouldn't be used here). If you sort the config.xml, the output is as expected. My guess would be it's something related to Javascript (could be jquery).

[2020-07-20 13:43] fraenki commented on #1925
@AdSchellevis You're right, it looks like this was already broken in 20.1.4 (the oldest testbox I have available). :-/

[2020-07-20 15:18] frankenbubble commented on #1758
I can live with that :)

[2020-07-20 22:49] berlinbikerx opened #1930 "os-node_exporter collector failed for zfs with err="couldn't get sysctl: no such file or directory""
After updating my OPNsense installation to version 20.1.8_1-amd64 I constantly get the following error message in system.log:

[code]

Software versions are as follows:
OPNsense 20.1.8_1-amd64
FreeBSD 11.2-RELEASE-p20-HBSD
OpenSSL 1.1.1g 21 Apr 2020

node_exporter version=1.0.1, branch=release-1.0, revision=0

The startup log of node_exporter is

[code]

[2020-07-21 08:44] mimugmail commented on #1926
@fichtner this would require postfix-ldap pkg, for me it's ok. Leave the decision to you :)

[2020-07-23 21:22] berlinbikerx commented on #1930
I just updated to the latest version OPNsense 20.1.9-amd64, the messages are still in the logs.

[2020-07-24 06:19] x-jokay commented on #1830
[svn commit: r537856 - in head/net-mgmt: . zabbix5-agent zabbix5-frontend zabbix5-java zabbix5-proxy zabbix5-server zabbix5-server/files](https://docs.freebsd.org/cgi/getmsg.cgi?fetch=4851808+0+/usr/local/www/mailindex/archive/2020/svn-ports-all/20200607.svn-ports-all)

[2020-07-24 06:27] #1837 closed

[2020-07-24 06:43] x-jokay commented on #1891
Similar #1864.

[2020-07-24 06:44] fichtner commented on #1930
Looks like an issue updating node_exporter from 0.18.1 (20.1.7) to 1.0.1 (20.1.8 and up). You best bet is to poke the authors of the software...

[2020-07-24 06:46] #1891 closed

[2020-07-24 06:53] marjohn56 commented on #1864
If I'm not much mistaken, this has already been fixed.

[2020-07-24 11:32] iamhermes commented on #1774
Do you need the link for this? It's the code which I posted above

[2020-07-24 14:20] mimugmail commented on #1774
I think the latest PR already added this feature .. can you have a look at it?
https://github.com/opnsense/plugins/pull/1900/files

[2020-07-24 17:56] iamhermes commented on #1774
It doesn't add the described feature, custom Tunnel-Private-Group-Id for client certificates

[2020-07-24 21:03] fraenki commented on #1925
I did a new test on both 20.1.8 and 20.7-RC1 and I have to correct my previous statement: rule sorting works as expected.

However, there is one notable exception: `use_[backend|server]` rules are always added to the end of the ruleset. This was introduced back in 2018 with https://github.com/opnsense/plugins/commit/1f9250e15bdca9601535378b8a5b72fa3ab557f6. It was meant as a workaround to make the

[2020-07-24 21:28] fraenki commented on #1925
@astrandb Could you give https://github.com/opnsense/plugins/pull/1933/commits/1685999b9dd5cc659d99901d2eada79a8fa98c16 a try?

```opnsense-patch -c plugins 1685999b9dd5cc659d99901d2eada79a8fa98c16```

[2020-07-25 06:00] #1830 closed

[2020-07-25 08:00] astrandb commented on #1925
@fraenki The patch works as expected, the rules are created in order,  but "Test syntax" results in this message:
[code]
After digging into haproxy docs and other [sources](https://serverfault.com/questions/939114/haproxy-how-to-process-well-known-before-any-redirects) it seems that haproxy processes http-request rules before use_backend.  So in order to avoid the warning message it is probable be

[2020-07-25 08:57] fraenki commented on #1925
The HAProxy warning simply tells the user that the rules are placed in the wrong order. However, that's not a big issue, because (as stated by the warning message) HAProxy corrects this specific error internally.

I am aware that these messages will now appear for some users. They can easily be fixed by changing the order of these rules.

Still, I think it's a change for the better to have full co

[2020-07-25 15:25] danb35 opened #1934 "acme-client Feature Request: Register acme-dns credentials automatically"
When setting up a DNS validator using the acme-client plugin, pretty much all of the APIs require authentication credentials, and most of those need to be obtained manually from the DNS host.  Not so with acme-dns; in the general case registration is automatic.  This could be implemented in the "add new validation method" screen.

I'd suggest re-ordering the fields in the **ACME DNS** section:
![i

[2020-07-25 20:46] djzort opened #1935 "Request: smokeping plugin"
The port is already present, it just needs a plugin and i a bit of a gui

https://github.com/opnsense/ports/tree/master/net-mgmt/smokeping

Simply having the whole config as a text box in the UI would be fine, although providing a UI driven config would be better for everyone.

[2020-07-26 05:36] mimugmail commented on #1935
I wrote an article ages ago when I was active on pfsense. I really love smokeping and it's part of my daily business at work, but it has many dependencies and I'm not sure if it's a good idea to put them all on a Firewall

[2020-07-26 08:17] fichtner commented on #1935
Most of the deps are perl-based. Probably not a show stopper as some of those are already in packages for other reasons.

[2020-07-26 17:51] siga1975 commented on #1915
still trying to debug, I got exit code 120 from the failing gloud command, which I cannot understand what it means...

some more info in gcloud logs:

`[root@myfw ~/.config/gcloud/logs/2020.07.26]# cat 19.44.36.037317.log
2020-07-26 19:44:36,038 DEBUG    root            Loaded Command Group: ['gcloud', 'dns']
2020-07-26 19:44:36,040 DEBUG    root            Loaded Command Group: ['gcloud', 'dns',

[2020-07-26 21:32] fraenki commented on #1796
A new option will be available in the upcoming os-haproxy 2.24:

![hap_group](https://user-images.githubusercontent.com/909706/88489861-777e5200-cf97-11ea-84ed-017c7fead854.png)

If the new option `add userlist` is enabled, the group will be added as userlist to the HAProxy configuration:

[code]

However, HAProxy only allows alphanumeric characters in userlist names. Note that all whitespace and

[2020-07-26 21:32] #1796 closed

[2020-07-26 21:41] #1925 closed

[2020-07-27 10:29] siga1975 opened #2162 "Add NTS support (ntpsec) [Request]"
It would be nice to have NTS in place as an alternative to common NTP

reference: []https://blog.apnic.net/2019/11/08/network-time-security-new-ntp-authentication-mechanism/

Here a PoC I did on 2 raspberry pi 4

[code]

[code]

[code]

[2020-07-28 09:11] Larsene opened #1936 "REQUEST : Proper OPNSense shutdown from NUT when UPS Battery --> low"
The NUT packet **os-nut** is working good when configured properly.
Is there a way to add an option in the GUI to set up a proper shutdown of the OPNSense appliance, when the battery is low ?

Many Thanks !

[2020-07-28 09:59] mimugmail commented on #1936
What do you mean with proper? It should shutdown when 10% is reached

[2020-07-29 04:40] djzort commented on #1935
Many / Most of the probes arent of much value. EchoPing, Fping, DNS and HTTP/S are where 99% of the value is.

[2020-07-29 11:00] psanwald opened #1938 "net-mgmt/zabbix-agent version 5.0 LTS and zabbix-agent2"
Zabbix 5.0 LTS is out since a few months. Also there's a new zabbix-agent2 feature. I did not test, if the actual agent plugin (version 4.0.21) works with a zabbix server 5.0, but since they normally need to be of the same major version, I do not think so. Does anybody know, if there's a plan to upgrade the zabbix agent plugin or add a corresponding one? Also there is a os-zabbix-agent (version 1.

[2020-07-29 11:21] fraenki commented on #1938
Link #1830

[2020-07-30 07:17] jsgf opened #1939 "Support Linode Cloud API in Let's Encrypt Plugin"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-07-30 08:57] fraenki commented on #1939
@jsgf I've seen that you've already made the required changes in your private fork. Could you please submit a pull-request with your changes?

[2020-07-30 16:48] jsgf commented on #1939
@fraenki Yep, just working out how to test them first.

[2020-07-31 12:49] Starkstromkonsument commented on #1938
The agent usually does not need to be the same major version as the server/proxy (See: https://www.zabbix.com/documentation/current/manual/installation/upgrade/packages/debian_ubuntu). It can happen that some new features of zabbix are not supported by hosts running older agents though.

The agent2 is a completely rewritten agent that will probably require a new plugin and it is not available from

[2020-07-31 22:03] Starkstromkonsument opened #1943 "net-mgmt/zabbix5-proxy: SQLite3 database has to be deleted while major version upgrade"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] The title contains the plugin to which this issue belongs

**Describe the bug**
The proxy refuses to start

[2020-08-01 01:43] patcsy88 opened #1944 "os-unbound-plus plugin 'missing' after upgrade"
OPNsense 20.7 (amd64, OpenSSL).
Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz (4 cores)
Network Intel® I210-AT

[2020-08-01 04:49] fichtner commented on #1944
Yep, added to core. Just dismiss plugin.

[2020-08-01 04:49] #1944 closed

[2020-08-01 10:15] cioby23 commented on #1699
Is this fixed ? I have installed OPNsense 20.7 and the Unbound DNSBL are not working at all. I select several lists from the dropdown and I still see the ads or domain which should be blocked are still reachable.

[2020-08-01 10:25] pkejval commented on #1699
It should be working. Which lists are you using? Can you test it with dig or nslookup command against your OPNsense DNS server?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cristian Ciobanu <notifications@github.com>
Sent: Saturday, August 1, 2020 12:15:36 PM
To: opnsense/plugins <plugins@noreply.github.com>
Cc: Petr Kejval <petr.kejval6@gmail.com>; Comme

[2020-08-01 11:41] cioby23 commented on #1699
I was doing some tests with the AdAway and BlockList.site Ads list. I checked for example **tpc.googlesyndication.com** locally on OPNsense shell and also from my PC behind the LAN

OPNsense shell
------------------------------------------------------------------
nslookup tpc.googlesyndication.com 127.0.0.1
Server:         127.0.0.1
Address:        127.0.0.1#53

Name:   tpc.googlesyndication.com
A

[2020-08-01 14:02] phedoreanu opened #1946 "acme-client Bug Report: Missing several DNS plugin scripts"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**
The `acme.sh` client insta

[2020-08-01 14:03] phedoreanu commented on #1946
I've also created this PR to add support for the `dns_1984hosting.sh` plugin script #1945.

[2020-08-01 14:36] cioby23 commented on #1699
Ok after doing some more tests it appears to be working when using Chrome and Firefox in incognito/private mode. I tried clearing cache before but somehow it did not work as it should.

[2020-08-01 14:44] pkejval commented on #1699
Check browser settings. I suspect that your browser is using DNS-over-HTTPS instead system DNS.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cristian Ciobanu <notifications@github.com>
Sent: Saturday, August 1, 2020 4:36:55 PM
To: opnsense/plugins <plugins@noreply.github.com>
Cc: Petr Kejval <petr.kejval6@gmail.com>; Comment <comment@noreply.github.com>
S

[2020-08-01 16:39] rootwyrm opened #1947 "net/frr7 - completely broken in 20.7"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:
[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[X] I have searched the existing issues and I'm convinced that mine is new.
[X] The title contains the plugin to which this issue belongs

**Describe the bug**
FRR communication between Zeb

[2020-08-01 21:28] baqwas opened #1948 "Services: Let's Encrypt: Settings cannot Apply"
**Describe the bug**
A clear and concise description of what the bug is, including last known working version (if any).

*Tip*: to validate your setup was working with the previous version, use opnsense-revert (https://docs.opnsense.org/manual/opnsense_tools.html#opnsense-revert)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Services: Let's Encrypt: Settings**
2. Click on **Enable

[2020-08-01 21:49] baqwas opened #1949 "NRPE Plugin Usage Documentation"
**Important notices**
Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

**YES** [-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

**YES** [-] I have searched the exist

[2020-08-02 09:39] #1939 closed

[2020-08-02 09:40] fraenki commented on #1939
@jsgf Thanks for your contribution!

[2020-08-02 09:51] fraenki commented on #1946
It's a bug in the upstream FreeBSD [port](https://www.freshports.org/security/acme.sh/) and needs to be [reported](https://bugs.freebsd.org/bugzilla/)/fixed there.

[2020-08-02 10:17] phedoreanu commented on #1946
Thanks. Bug reported - https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=248425.

[2020-08-02 11:20] fraenki commented on #1948
I'm not sure that I understood this bug report correctly.... you expect that these steps would issue a Let's Encrypt certificate?

[2020-08-02 11:59] fraenki commented on #1938
I think these are two topics that should be handled individually. First, we will update os-zabbix-agent to Zabbix 5 soon. But zabbix-agent2 is a completely different topic that I'm not going to tackle anytime soon.

[2020-08-02 12:45] fraenki commented on #1946
A fix was committed upstream and will soon find it's way into our upstream HardenedBSD ports repo, so I'll close this issue now.

@phedoreanu Thanks for bringing this issue to our attention, much appreciated.

[2020-08-02 12:46] #1946 closed

[2020-08-02 14:27] baqwas commented on #1948
Hello @fraenki,

I logged this issue because after the upgrade to 20.7, I encountered the following message while attempting to browse the log file:
_File /var/log/acme.sh.log doesn't exist._

Previously, I used to get consistently _code invalid_ in the default log file. While I don't know what this earlier message meant since the acme client tested OK but nevertheless I assumed that the issue was

[2020-08-02 15:02] fraenki commented on #1948
The file `/var/log/acme.sh.log` is only created when acme.sh tried so register an account or issue a certificate.
The basic workflow of the Let's Encrypt plugin is as follows:

1. Enable the plugin in `Services: Let's Encrypt: Settings` (as you presumably did)
1. Setup an account in `Services: Let's Encrypt: Accounts`
1. Configure a validation method in `Services: Let's Encrypt: Validation Methods

[2020-08-02 15:28] x-jokay commented on #1864
Thank you, I can confirm it :+1:

[2020-08-02 15:28] #1864 closed

[2020-08-02 16:45] baqwas commented on #1948
Thx again @fraenki.

There is a log file now! Appreciate the detailed instructions. I'll close the issue but please allow me to post the log just for the record in case there is further insight on where I went wrong:

[code]
Appreciate the step-by-step instructions and fast responses. Thanks.

Kind regards.

[2020-08-02 16:45] #1948 closed

[2020-08-03 05:53] astuckey123 opened #1951 "plugins/net/wireguard configuration reload support"
Currently when hitting the "Save" button under either Servers or Clients tabs, or calling the equivalent "reconfigure" API call, a traffic outage is caused to all VPN connections, even if there were no changes to the configuration.  It appears that a full restart of the service is taking place, causing interfaces to be removed and recreated etc, then all of the VPN peers need to re-connect after t

[2020-08-03 08:33] fraenki commented on #1948
Your certificate could not be issued ("validation failed"). We would need to know your Let's Encrypt "validation method" configuration details and of course the _whole_ acme.sh.log to get an idea what went wrong.

[2020-08-03 08:51] ChristianUlbrich commented on #1868
The twist is, the keys would not needed to be stored; but the frontend could generate them _locally_. Basically it would involve integrating something like https://www.wireguardconfig.com/ into the plugin.

[2020-08-03 09:52] Keltere commented on #1778
@jpawlowski i've tried your custom settings on 20.7 but it doesn't work, i can't get cloudflare DNS over LTS, sniffing the port 53 shows all unencrypted stuff and sniffing 853 port results in nothing, not even a request.
Here are my settings, i've also disabled the override of the dns in general settings
https://postimg.cc/gallery/fM2mBRh

[2020-08-03 09:57] mimugmail commented on #1778
Unbound in 20.7 does not need custom settings for DoT

[2020-08-03 10:27] Keltere commented on #1778
I've tried the DNS over TLS tab in miscellaneous settings by adding 1.1.1.1@853 and 1.0.0.1@853 and it doesn't work, so i've tried to use custom settings to achieve that but without success. I've also tried reinstalling unbound and nothing. Current unbound version 1.10.1

[2020-08-03 10:50] mimugmail commented on #1778
Can you please open a thread in forums with screenshots etc.?
A merged PR is not the right place for such a discussion.

Thx :)

[2020-08-03 11:21] Keltere commented on #1778
Done https://forum.opnsense.org/index.php?topic=18408.0

[2020-08-03 15:19] baqwas commented on #1948
Hello @fraenki,

I've prepared a summary document (_attached_) for your review, if it helps. Please allow me to rationalize two things here although it may not be germane to the issue.

I couldn't get Let's Encrypt working initially. Then I read about using intermediate certs and I thought I should give it a try. So currently, I do have an intermediate ca. I don't know enough about this other than

[2020-08-04 02:24] penM000 opened #1955 "shadowsocks :In the WEBGUI, only one listen address can be specified."
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[o] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[o] I have searched the existing issues and I'm convinced that mine is new.

[o] When the request is meant for an existing plugin, I've added its name to the title.

**environment**
OPNse

[2020-08-04 09:51] cpw opened #1956 "NETDATA: Please don't overwrite custom netdata.conf configuration, or at least back up old one"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[/] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[/] I have searched the existing issues and I'm convinced that mine is new.

[/] The title contains the plugin to which this issue belongs

**Describe the bug**
A clear and concise descri

[2020-08-04 10:17] mimugmail commented on #1956
But this is the way how OPNsense works?
You have a UI and place your settings. This will be saved in a huge XML files called /conf/config.xml.
Then you have configd daemon which generates from all stuff in this XML file the templates configs, also netdata.conf.

This means, with every change in Netdata section or with every reboot, this file gets overwritten.

If you miss some features you can alw

[2020-08-05 09:17] sh4d0v1 opened #1958 "Let the wireguard widget show the endpoint name instead of its pubKey"
The new wireguard widget is great, but it shows the pubKey of the endpoint, instead of its name, which is not optimal. Who remembers pubKeys of wireguard clients, especially if there are many?

Displaying the user given endpoint names instead of their pubKeys would make the widget more helpful. With the knowledge of how to access the endpoint names it is a trivial modification.

[2020-08-05 10:34] Staticznld opened #1959 "net/igmp-proxy OPNsense 20.7 not leaving group upstream"
It looks like the upstream interface defined in the IGMPproxy settings is not leaving multicast groups.
After some channel zapping the bandwith goes up to 75Mbps!

When i was using 20.1.9 i had no problems!

See https://forum.opnsense.org/index.php?topic=18347.0 for some screenshots.

[2020-08-05 16:52] TekunoKage commented on #1861
Example #2 is the most preferable.

[2020-08-05 19:39] mimugmail commented on #1958
This is currently not possible as the widget only prints the output of wg command which can't work with users or descriptions (it's the design of WG itself). To display the description we'd need a different approach.

I remember there's still an open PR for the diagnostics page, maybe you want to have a look?

[2020-08-05 19:50] sh4d0v1 commented on #1958
If it was possible to access the endpoint configuration data we could map the privKey from the wg command to that, couldn't we?

[2020-08-06 03:55] StevenNexus commented on #1947
It seems behavior of FRR was changed in FRR 7.4. I am not sure how to use the new policy for eBGP so I have rolled back to old version of FRR.

From CLI use following command to rollback FRR:
# opnsense-revert -r 20.1.r1 frr7

[2020-08-06 05:31] mimugmail commented on #1947
I already have a PR open which disables the requirement for ebgp policies. Maybe we will just revert to 7.3 but with 7.4 and policy disables I was seeing routes in zebra

[2020-08-06 14:42] cpw commented on #1956
OK, understood. Do you want me to suggest some plugin enhancements here? Things I can think of are supporting a "no storage/ui streaming mode" where you configure netdata to not store anything locally, or even serve a webui, but rather, forward everything onto another node elsewhere. The fping module is really helpful too - getting stats on how good the quality of upstream connections in netdata i

[2020-08-06 14:47] mimugmail commented on #1956
Do you have a netdata.conf where I can check what to set where?

[2020-08-06 18:16] AndyX90 opened #1960 "[FR] NUT - Email-Notifications"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-08-06 18:54] mimugmail commented on #1960
Is this possible within NUT when just using config files? Otherwise you could watch the log via monit

[2020-08-06 19:13] AndyX90 commented on #1960
@mimugmail I think so, except the mailer-part. See here: https://freekode.org/nut-sending-emails/

[2020-08-06 19:56] cpw commented on #1956
I do, but most of it is not relevant.

To disable the storage of data locally, you need
[code]

To disable the web interface, you need
[code]

To stream to another machine, you need to write a separate file: `stream.conf`

Here's mine:
[code]

On the remote machine (probably _not_ an opnsense box) you put:
[code]

This is documented here: https://learn.netdata.cloud/docs/agent/streaming/

To be ho

[2020-08-06 20:06] mimugmail commented on #1956
Ok, great, can you ping me in three weeks? I'll take care after vacation.

[2020-08-06 21:51] talheim-it opened #1961 "Zabbix-proxy5 - Timeouts by restart/stop or update of the configuration"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.

[-] The title contains the plugin to which this issue belongs

**Describe the bug**
A clear and concise descri

[2020-08-07 12:08] QDaniel opened #1962 "security/acme-client: rerun automation [FR]"
I would like a new button for rerun the linked automation.

![Zwischenablage01](https://user-images.githubusercontent.com/905384/89644104-83331800-d8b7-11ea-9eae-90831f32b015.png)

[2020-08-07 12:23] QDaniel opened #1963 "[FR] WakeOnLAN - Show devices from DHCP Leases"
The Wake-On-Lan Pugin should have a automated list of all leases from the DHCP-Server.

[2020-08-07 19:06] craSH commented on #1663
I added my vote for this, and would encourage considering it in place of the listed alternatives - dnsdist is fairly unique and powerful compared to dnscrypt-proxy and haproxy.

[2020-08-07 21:03] rcmcronny commented on #1663
+1 for dnsdist

[2020-08-08 17:55] yhq34 opened #1964 "wire guard problem"
I setup wireguard according to below official manual; but I cannot see interface Wireguard in rules, until I create a interfaces at assignment on interfaces, but when I create opnvpn. this tab will show auto, no need add new interface. what's the problem?
'Step 3 - Setup Firewall

On Firewall ‣ Rules add a new rule on your WAN interface allowing the port you set in your instance (Protocol UDP). Yo

[2020-08-08 19:45] mimugmail commented on #1964
Just edit a Firewall rule without changes and save, then it should be there

[2020-08-09 02:07] yhq34 commented on #1964
Thanks,after upgrade to 20.7. This works

[2020-08-09 11:47] mbunkus opened #1966 "Wireguard: routes aren't set up"
I'm using the Wireguard plugin with two tunnels. Both have various IPv4 and IPv6 routes (no explicit routing, just via the "allowed IPs" setting). After rebooting the machine or after restarting the Wireguard plugin via the Dashboard, the second tunnel is missing almost all of its routes. Only after restarting the plugin via ssh are all routes set.

Here's how routing looks after booting or after

[2020-08-09 15:00] #1964 closed

[2020-08-09 18:39] mbunkus commented on #1966
Sorry, I accidentally removed the confirmations at the top:

Yes, …

[✓] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[✓] I have searched the existing issues and I'm convinced that mine is new.
[✓] The title contains the plugin to which this issue belongs

[2020-08-09 19:04] mbunkus opened #1967 "security/acme-client: HTTP verification method fails with domain names resolving to IPv6 addresses"
[✓] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[✓] I have searched the existing issues and I'm convinced that mine is new.
[✓] The title contains the plugin to which this issue belongs

Using the Let's Encrypt (os-acme-client) plugin for domain names that resolve to IPv6 addresses fails due IPv6 NAT rules not working. Domain names th

[2020-08-09 20:40] mimugmail commented on #1966
Is this a Site 2 Site setup or remote access?

[2020-08-09 20:49] mbunkus commented on #1966
Both tunnels are site 2 site setups.

[2020-08-10 11:18] Staticznld commented on #1959
https://github.com/opnsense/src/issues/69
Discribes the same problem

# opnsense-update -kr 20.7-re-mcast2
# opnsense-shell reboot

Fixes the problem.

[2020-08-10 11:33] fichtner commented on #1959
@Staticznld thanks a lot for confirming. We'll add the 3 multicast patches to 20.7.1 :)

[2020-08-10 11:33] #1959 closed

[2020-08-10 14:21] Be-El opened #1971 "os-frr: area setup for non default area types in OSPF"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-08-11 08:29] Be-El opened #1972 "os-frr: No support for authentication in BGP"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-08-11 15:01] QDaniel opened #1973 "[BUG] FRR Routing over Wireguard"
**Describe the bug**

With the update to Version 20.7 the routing over wireguard links  don't func.
I have testet BGP, OSPF, OSPF3.

**BGP Debug Output**

[code]

**Relevant log files**
[code]

**Environment**

OPNsense 20.7-amd64
FreeBSD 12.1-RELEASE-p7-HBSD
OpenSSL 1.1.1g 21 Apr 2020
Libvirt - Qemu: Intel Core Processor (Skylake, IBRS) (2 cores)

[2020-08-11 17:16] mimugmail commented on #1973
Can you revert frr to 20.7r1 version and check again?

[2020-08-12 01:15] QDaniel commented on #1973
how can i install a specified version? Then i can install a test net system.

[2020-08-12 05:37] StevenNexus commented on #1973
From CLI use following command to rollback FRR:
# opnsense-revert -r 20.1.r1 frr7

[2020-08-12 10:27] QDaniel commented on #1973
BGP is fixed with https://github.com/opnsense/plugins/pull/1953

the ospf network errors already exists

[2020-08-12 11:03] mimugmail commented on #1973
But the error you posted is not related to ebgp policy?
So, the same error for all with 7.3?

[2020-08-12 11:36] QDaniel commented on #1973
BGP is ok with #1953.

OSPF: don't send there own networks.

[code]

Only when i set ospf redistributing routes to connected routes, but then all public ips send allso.

[2020-08-12 11:43] mimugmail commented on #1973
And again the third time, is this error gone with 7.3?

[2020-08-12 12:53] QDaniel commented on #1973
no , this is all tested with
[code]
The Log after config set and reboot:

[code]

### /usr/local/etc/frr/ospfd.conf ###

[code]

### Web UI: ui/quagga/diagnostics/general ###

[code]

[2020-08-12 14:09] mimugmail commented on #1973
And you are sure you still have the error? I cant test it myself but the Initial error regarding WireGuard Interface is gone.

[2020-08-12 14:43] fraenki commented on #1962
Thanks for the suggestion. This feature will be available in the upcoming os-acme-client version 1.36. (Likely to arrive with OPNsense 20.7.2.)

[2020-08-12 14:43] #1962 closed

[2020-08-12 15:16] hny-gd opened #1975 "net/haproxy plugin: Support server-template stanza"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-08-12 20:54] bergth opened #1976 "security/tinc: list_ciphers.py no longer parses correcly the output of the openssl command"
Hello,

**Describe the bug**

When creating a network with tinc (VPN -> tinc -> Configuration -> new network), the "Cipher" menu show only "None".

After investing a bit (thanks to https://github.com/opnsense/plugins/issues/198), it seem that the python script "list_ciphers.py" (located at  /usr/local/opnsense/scripts/OPNsense/Tinc/list_ciphers.py  ) no longer parses correctly the output of `/usr/

[2020-08-12 21:02] fichtner commented on #1976
The script should use /usr/local/bin/openssl and I guess there on LibreSSL it’s still working. 20.7 changes /usr/bin/openssl from 1.0.2 to 1.1.1 so that might be the issue.

On 20.1 OpenSSL flavour was already 1.1.1 at /usr/local/bin/openssl but then it didn’t matter because tinc just needed these values for itself. A bit confusing. 😊

@adschellvis will likely look into this soon. Thanks for the r

[2020-08-13 08:22] fhloston commented on #1591
I am still seeing this:

`2020-08-13 09:16:34 #24765(rspamd_proxy) <3ef7fc>; proxy; proxy_backend_master_error_handler: retry connection to: ::1 retries left: 2
2020-08-13 09:17:49 #24765(rspamd_proxy) <3ef7fc>; proxy; proxy_backend_master_error_handler: abnormally closing connection from backend: [::1]:11333, error: IO write error: Broken pipe, retries left: 1
2020-08-13 09:17:49 #24765(rspamd_pr

[2020-08-13 10:28] fraenki opened #1978 "net-mgmt/zabbix-agent: replace EnableRemoteCommands with AllowKey/DenyKey"
In Zabbix 5 EnableRemoteCommands is deprecated, we should migrate to AllowKey/DenyKey:

https://www.zabbix.com/documentation/5.0/manual/installation/upgrade_notes_500#configuration_parameters

[2020-08-13 10:30] fraenki commented on #1938
We will upgrade to Zabbix Agent 5 with the release of os-zabbix-agent 1.8, which will probably arrive with OPNsense 20.7.2 in a few weeks.

I'll close this issue now. Please open a new feature request for zabbix-agent2 if you think it's worth it, but be aware of the previously mentioned limitations (no FreeBSD port, no contributor).

[2020-08-13 10:30] #1938 closed

[2020-08-13 11:44] mimugmail commented on #1591
Complains or does not work?

[2020-08-13 12:29] fhloston commented on #1591
Mails have several minutes delay, sometimes do not go through.

Qualifies as does not work for me, even more so as these mails contain OTPs for people to log on interactively.

[2020-08-13 18:21] AdSchellevis commented on #1976
@bergth can you try https://github.com/opnsense/plugins/commit/2071e23a61043524a603c6ce6e5b6691295db66c?

[2020-08-13 21:50] L1ghtn1ng commented on #1963
Not sure this is possible, but someone correct me if I am wrong, I do have a simple WoL web app that I made on my github that may interest you, shameless plug ;-)

[2020-08-13 21:54] L1ghtn1ng opened #1979 "Add rescure_domain_blacklist.txt to DnsCrypt-proxy"
@mimugmail I can create a PR for this blocklist if you like? https://rescure.fruxlabs.com/rescure_domain_blacklist.txt

Just want to run it by you first just to make sure it would work before I did the work of adding it, thanks

[2020-08-14 06:59] fichtner commented on #1976
Does this also work on LibreSSL? I would suppose it uses the old syntax still.

[2020-08-14 07:00] AdSchellevis commented on #1976
I'm not 100% sure, I expect both support the `-ciphers`, the extended help seemed to be something of the past.

[2020-08-14 09:10] fichtner commented on #1976
Just confirmed LibreSSL outputs no ciphers, probably using the old format still.

[2020-08-14 09:28] AndyX90 opened #1980 "Postfix not logging anymore"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**
After upgrading to 20.7 (a

[2020-08-14 09:52] mimugmail commented on #1980
This was fixed with 20.7.1 and reported to work. Can you disable circular and restart one or two times?

[2020-08-14 10:13] laoclos opened #1981 "os-bind: zone transfer "none" allows zone transfer by default"
### Information

- Plugin version: 1.13
- Package version: bind 9.16.5_1
- Configuration URI: /ui/bind/general/index#domains

### Problem
A master zone has "Allow Transfer" option to choose which ACL the server allows for transfer requests,
but if you select the option "_none_" there is no `allow-transfer {none;};` option set in `named.conf`.

**This allows a zone transfer per default, which state

[2020-08-14 10:15] AndyX90 commented on #1980
That was it!
I did disable the circular-logs without effect, but reboot fixed it.
Thanks again!

[2020-08-14 10:15] #1980 closed

[2020-08-14 11:03] mimugmail commented on #1981
Not sure how to proceed here.
None should be default, if one requires security an acl can be added to it.

[2020-08-14 11:09] laoclos commented on #1981
Maybe it should be made clear that "none" does not mean no zone transfer allowed.
I assumed, if I select "none" there is no possibility to transfer a zone, which is not the case.

[2020-08-14 11:18] derjohn commented on #1591
+1 here . We need rspamd for DKIM (because there is to opendkim in OPNsense).

[2020-08-14 11:47] mimugmail commented on #1591
You +1 and second part is misleading? Doesnt it work in general or so you wish dkim?

[2020-08-14 12:18] derjohn commented on #1591
Oh, I meant we just use rspamd for DKIM signature outbound (we don't use it inbound). I +1 fhloston ...
Maybe the bug itself is related to dkim crypto (i.e. rspamd works for those who don'T use dkim?)

[2020-08-14 15:53] Lebernd opened #1982 "wireguard widget should display endpoint name"
**Is your feature request related to a problem? Please describe.**
Yes - I would like to see the which device/client connects to the firewall rather than a cryptographic number.

**Describe the solution you'd like**
Yes - I would like to see the which device/client connects to the firewall

**Describe alternatives you've considered**
A brain training to learn the crypto-key by heart, and the trans

[2020-08-14 16:11] Lebernd commented on #1982
I close this
Duplicate of #1958

[2020-08-14 16:11] #1982 closed

[2020-08-14 16:17] Lebernd opened #1983 "net/haproxy plugin: haproxy widget"
**Is your feature request related to a problem? Please describe.**
Using haproxy to serve websites - I have no option to monitor connection basics in the lobby.

**Describe the solution you'd like**
A simple overview of the current connections would be great.
- Health of backends
- Connections to frontends/public service (up to a certain number)

**Describe alternatives you've considered**
A secon

[2020-08-15 07:32] serial-bug commented on #1591
Hi guys,

after days of troubleshooting i found out the the issue is related to DNS Resolution. (so DKIM is a good point)
Ive fixed it by putting in my DNS Server in "/usr/local/etc/rspamd/options.inc".
Sure, this is not upgrade persistent but i can live with that.

Bye

serial-bug

[2020-08-15 08:19] derjohn commented on #1591
@serial-bug We will try that too, using an external DNS like 1.1.1.1 ?

[2020-08-15 08:28] serial-bug commented on #1591
If you use a local DNS Resolver like unbound or dnscrypt on your OPNsense, you can point directly to this. (eg. 127.0.0.1:53 or 127.0.0.1:5353).
But a external DNS server schould work too.

[2020-08-15 08:38] mimugmail commented on #1591
Can you post your complete edit to the file? Then I can add it to GUI

[2020-08-15 09:20] serial-bug commented on #1591
Sure.
In the "Default Settings" Section ive added my local DNS (nameserver = ["xxxxx:xx"];).

[code]

[2020-08-15 10:29] fhloston commented on #1591
I added the local unbound to the rspamd config:     `nameserver = ["127.0.0.1:53"];`

I then validated in `rspamadm configdump` that it is active.

Sadly, this makes no difference, still 1:15 delay for the OTP mail:

`2020-08-15 12:20:02 #9772(rspamd_proxy) <c28c18>; proxy; proxy_accept_socket: accepted milter connection from 127.0.0.1 port 60086`
`2020-08-15 12:20:02 #9772(rspamd_proxy) <c28c18>;

[2020-08-15 10:29] derjohn commented on #1591
Ehm, there would be a difference between pointing to 127.0.0.1:x and "use default" (which would probably end up in /etc/resolv) ?

[2020-08-15 10:30] derjohn commented on #1591
@fhloston Is :53 a process listening oder a NAT rule pointing to the real dns?

[2020-08-15 10:38] fhloston commented on #1591
Also using 1.1.1.1 makes no difference.

Since this mail relay is only used to relay these OTP messages I have whitelisted the IP of the sending machine in all other checks. Rspamd is only used to add the DKIM signature to the header.

`2020-08-15 12:30:20 #9772(rspamd_proxy) <4a5eb1>; proxy; proxy_accept_socket: accepted milter connection from 127.0.0.1 port 30306`
`2020-08-15 12:30:20 #9772(rspa

[2020-08-15 10:40] fhloston commented on #1591
It is the local unbound. But this happens also with 1.1.1.1 as DNS.

`root@fw01:/usr/local/etc/rspamd # sockstat -l | grep unbound`
`root     syslog-ng  82907 21 dgram  /var/unbound/var/run/log`
`unbound  unbound    13456 3  udp6   *:53                  *:*`
`unbound  unbound    13456 4  tcp6   *:53                  *:*`
`unbound  unbound    13456 5  udp4   *:53                  *:*`
`unbound  unb

[2020-08-15 10:44] fhloston commented on #1591
And lastly, switching the milter protocol to IPv4:

`2020-08-15 12:41:55 #9772(rspamd_proxy) <8242d6>; proxy; proxy_accept_socket: accepted milter connection from 127.0.0.1 port 16992`
`2020-08-15 12:41:55 #9772(rspamd_proxy) <8242d6>; milter; rspamd_milter_process_command: MTA specifies too old protocol: 4, aborting connection`
`2020-08-15 12:41:55 #9772(rspamd_proxy) <8242d6>; proxy; proxy_milte

[2020-08-15 11:38] fhloston commented on #1591
Hang on - what does the output of `rspamadm configdump` represent?
a) Parsed configfiles from disk without reflection of rspamd process state
b) actual config of running rspamd process

I was assuming b) but thinking about it makes me feel it is a)...

[2020-08-15 12:49] #1976 closed

[2020-08-15 14:29] STRUBartacus commented on #1973
It must be your configuration. OSPF/OSPFv3 via wireguard works fine. Try it with point-to-point network.

`interface wg0
 ip ospf area 0.0.0.0
 ipv6 ospf6 network point-to-point`

[2020-08-15 14:38] STRUBartacus opened #1984 "OSPFv3 Router-ID does not end up in the running-config"
I just noticed that now with OSPFv3 the Router-ID no longer ends up in the FRR-Config. Instead, the highest interface IP is used as Router-ID...

![grafik](https://user-images.githubusercontent.com/23014477/90314581-0f2aec80-df15-11ea-8063-8969a05b76cc.png)
![grafik](https://user-images.githubusercontent.com/23014477/90314584-1651fa80-df15-11ea-8dd8-7abe463ca2dd.png)

Via vtysh "configure -> route

[2020-08-15 20:07] berlinbikerx commented on #1930
I could mitigate the issue by adding the following line to the command line argumentes of `/usr/local/etc/rc.d/node_exporter`:

[code]

The release notes for node_exporter 1.0.0 state, that ZFS support was added for FreeBSD, (cf. https://github.com/prometheus/node_exporter/pull/1714 and https://github.com/prometheus/node_exporter/pull/1394)

As that was not available during 0.18.1, it could be an

[2020-08-15 20:33] lrosenman commented on #1930
I think this would be a good thing to add to the OPNSense package.  Either disable by default or make an option to enable it but still default to off.
IMO, of course.

[2020-08-16 07:53] tomcatxx opened #1985 "freeradius plugin does not start with DHCP enabled"
Hi,
moved from here: https://forum.opnsense.org/index.php?topic=18605
If you config the freeradius plugin
https://192.168.10.2/ui/freeradius/general/index
as shown below
![freeradius_config](https://user-images.githubusercontent.com/69747753/90329563-3978ba80-dfa6-11ea-832b-dcc319e4f70c.JPG)

and click on save it dows not start.
192.168.10.2 is the IP of my LAN interface connected to the switch.
N

[2020-08-18 04:48] 8191 opened #1986 "www/nginx: The GUI parameter "Verify Certificate" does not do anything"
**Describe the bug**
The GUI parameter "TLS: Verify Certificate" of an Upstream does not do anything; Nginx always successfully connects to the upstream, regardless of the checkbox.

**To Reproduce**
Preconditions:
A working Nginx config which acts as a proxy for a page which is upstreamed via HTTPs and an _invalid certificate_.

Steps to reproduce the behavior:
1. Go to Upstream > Upstream > Edit

[2020-08-18 07:52] Taomyn opened #1988 "UPnP stops responding when connection cleared"
**Describe the bug**
When connections are cleared in the UPnP service, it then no longer responds to any new requests either for new connections or even a status. To clear the condition I am forced each time to disable UPnP and then re-enable it - even a restart of the service fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable UPnP
2. Enable UPnP
3. Make UPnP connection from clie

[2020-08-18 08:17] igpit opened #1989 "bind: cannot save config dialog with "Listen IPs" empty"
the "listen-on" directive should allow an empty interface list to allow listen on all interfaces, yet you cannot save the UI dialog this way.

even better, provide a default to listen to all non-WAN interfaces, provide a drop down list. and automatically update on interface configuration changes.

[2020-08-18 11:47] laoclos commented on #1981
Maybe it would be possible to add an Option "NoACL" to the drop down list to have the choice between, "NoACL", "None" and the defined ACLs. "None" is in my Opinion a bad label in the bind context for saying there is no ACL configured.

[2020-08-18 14:39] mimugmail commented on #1981
Give me a week when I am back at a Computer to think about it

[2020-08-18 16:10] fraenki commented on #1787
In the upcoming release 2.24 of os-haproxy the following new features will be available:

`Settings -> Default Parameters -> DNS Resolve Order`

This new option should resolve the OP's issue. You just need to add "none" at the end of the list. Now unresolveable hosts are no longer a FATAL error, but will only issue a WARNING instead. This allows HAProxy to startup even when DNS does not resolve.

[2020-08-18 16:10] #1787 closed

[2020-08-18 18:03] ovv commented on #1787
@fraenki I can looks into testing this but I'm not familiar how to install development version of the plugins.

[2020-08-19 14:16] kulikov-a commented on #1986
agree. location.conf template does not contain proxy_ssl_verify directive at all.
IMHO location.conf template not updated very long time
SNI directives also not works as expected

[2020-08-19 15:30] fraenki commented on #1787
@ovv This time there is no easy way to test, because there are too many changes in the pipeline. Besides that the new version involves a change to the configuration model (XML), and this probably breaks backwards-compatibility with previous versions. So I'm absolutely fine if you would test the final version of os-haproxy 2.24 when it becomes available. :)

[2020-08-19 15:45] fhloston commented on #1586
Actually there is, backup of the vm with "guest-fsfreeze-freeze" would be clean instead of broken. I have corrupt image backups of opnsense installations on a regular basis.

[2020-08-19 15:54] fichtner commented on #1586
It sounds a bit like the problem described in https://github.com/opnsense/core/issues/4256 -- if the problem is runtime suspend+resume the answer is probably "don't do it". We neither write file system nor hypervisor code so that is our easy to follow recommendation to avoid integrity / operational damage.

[2020-08-19 16:45] fhloston opened #1990 "os-postfix in 20.7.1 breaks smtpd_sasl_auth"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**

os-postfix in 20.7.1 does

[2020-08-19 17:13] fhloston commented on #1586
It is a ceph based rbd snapshot of the opnsense disk while opnsense is running. When I restore this backup the opnsense installation is often broken, reporting many disk corruptions.

This also happens if the VM with opnsense is hard-reset or turned off hard. Not everytime, but quite often.

Last issue also exists on lvm lv backed disks or native installations - so it is not ceph related.

But qui

[2020-08-19 17:53] fichtner commented on #1990
You mean this change? oO

https://github.com/opnsense/plugins/commit/629e73451e335d

[2020-08-19 17:56] fichtner commented on #1586
Let me rephrase: if snapshots of running VMs are not working use snapshots of properly shut down VMs

[2020-08-20 15:40] fhloston commented on #1990
So weird. I cannot reproduce this error. I have been upgrading/reverting os-postfix several times.

It happened initially on both nodes on the upgrade from 20.7 to 20.7.1.

[2020-08-22 00:47] sachaz opened #1992 "Wireguard: gateway"
Wireguard module works very fine thanks for that!

Wireguard appears as rule zone, but not as gateway.
If we want to do some firewall routing in or out wireguard have a wireguard gateway should be usefull.

[2020-08-22 19:53] Alex9779 opened #1993 "mdns-repeater: not working after update to 20.7(.1)"
**Describe the bug**
After update to 20.7 and to 20.7..1 today mDNS Repeater does not work anymore, Service seems to be started but crashes after some minutes.

**To Reproduce**
Steps to reproduce the behavior:
No real idea, I the forum I found two similar reports, I also have multiple VLANs on one interface, on those I want to bridge mDNS and this worked before the update.

**Expected behavior**

[2020-08-23 11:32] igpit opened #1995 "dynamic dns: verbose logging should include the returned result from server"
retracing and testing of setups would be much easier if the server reply would be included in the verbose output to the log. currently you need to guess if your "Result Match" is right.

[2020-08-23 20:03] toxic0berliner commented on #1586
+1
I would also be interested in having qemu-guest-agent.
I would indeed be usefull even if fichtner doubts it ;)

[2020-08-24 00:05] agh1467 commented on #1563
FYI, I've taken a look at this plugin over the weekend and am currently working on updating it. I've successfully added support for source definitions and the anonymized DNS feature, and I've added all new global settings. I'm also working on expanding functionality in other areas as well.

[2020-08-24 05:48] Nimloth opened #1996 "Zabbix-proxy5 - compile with libxml2"
Apparently, preprocessing is done on the proxy, so if I wanted to enable checks that require xml preprocessing on my zabbix5 server for a host monitored via proxy, that proxy needs to be compiled with libxml2.
Could that please be added as a default option for builds?

Thx,

Martin

[2020-08-24 06:31] fichtner commented on #1586
As soon as there is a package in FreeBSD I'll add it. Nothing has change here with that offer.

[2020-08-24 10:41] fhloston commented on #1990
I guess it was something that only happened during the initial update in regard to the used libraries.

[2020-08-24 10:41] #1990 closed

[2020-08-24 12:52] fhloston commented on #1591
Yes, it is a).

So rerunning tests with complete stop/start of rspamd, as previous tests all had the same rspamd_proxy pid 9772.

[2020-08-24 13:56] mimugmail opened #1997 "misc/theme-cicada: IPsec view broken with Cicada"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] The title contains the plugin to which this issue belongs

**Describe the bug**
With the new IPsec overvie

[2020-08-24 14:00] opnsenseuser commented on #1997
Sure, but at the Moment im on vacation. Im back in 3 weeks. I will Fix this

Montag, 24. August 2020, 15:56 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 14:21] marjohn56 commented on #1997
There was an issue with another list I corrected. Sadly I don;t use ipsec, but I'll take a look.

[2020-08-24 14:25] marjohn56 commented on #1997
Yes... well. :)
![image](https://user-images.githubusercontent.com/17962918/91056543-06759d00-e61e-11ea-88bf-8807a611e1ca.png)

[2020-08-24 14:51] marjohn56 commented on #1997
The problem is in the vpn_ipsec.php file. line 327 is using a fixed background colour. 🤔

[2020-08-24 14:56] opnsenseuser commented on #1997
Can you Fix this? But be shure That everything else still works 

Gesendet von myMail für iOS

Montag, 24. August 2020, 16:51 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 14:58] marjohn56 commented on #1997
Just add a couple of lines at the bottom of the css file to override it, in my case

.phase1_tr td {
  background-color: #333333 !important;
}

Seems to do the trick.

From: René <notifications@github.com>
Sent: 24 August 2020 15:56
To: opnsense/plugins <plugins@noreply.github.com>
Cc: Martin Wasley <mjwasley@queens-park.com>; Mention <mention@noreply.github.com>
Subject: Re: [opnsense/plugins] mi

[2020-08-24 15:08] marjohn56 commented on #1997
rebellion theme fix is: #1999

[2020-08-24 15:15] marjohn56 commented on #1997
René - Do you want me to fix Cicada for you?

[2020-08-24 15:27] opnsenseuser commented on #1997
If it doesnt bother you too much? Would ne nice

Regards René

Gesendet von myMail für iOS

Montag, 24. August 2020, 17:15 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 15:27] marjohn56 commented on #1997
![image](https://user-images.githubusercontent.com/17962918/91064069-b0592780-e626-11ea-9704-7f796c1f23a5.png)

Is that too dark for yours?

[2020-08-24 15:28] opnsenseuser commented on #1997
Great thx👍

Gesendet von myMail für iOS

Montag, 24. August 2020, 17:28 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 15:28] marjohn56 commented on #1997
Cool. I'll issue the PR.

[2020-08-24 15:29] opnsenseuser commented on #1997
👍

Gesendet von myMail für iOS

Montag, 24. August 2020, 17:29 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 15:36] marjohn56 commented on #1997
fixed with #2000

[2020-08-24 15:38] opnsenseuser commented on #1997
thx very much martin

Montag, 24. August 2020, 17:36 +0200 von notifications@github.com  <notifications@github.com>:

[2020-08-24 17:17] #1996 closed

[2020-08-25 09:00] chris42 opened #2001 "security/acme-client: Health check shows missing files"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] The title contains the plugin to which this issue belongs

**Describe the bug**
When running health check

[2020-08-25 09:23] fichtner commented on #2001
Just reinstall package. This is a local error, not something that can be solved from here.

[2020-08-25 10:03] chris42 commented on #2001
Ok, that solved it. Thanks!

[2020-08-25 10:03] #2001 closed

[2020-08-26 01:38] bsd-source commented on #358
I'm not use why this feature request is still open. Maybe this wasn't available in the OPNsense Universal Plug and Play Settings before the feature request was opened. Selecting the Default Deny checkbox under Universal Plug and Play --> Settings will prevent upnp access to all devices. This line will be added to the miniupnpd.conf file when Default Deny is checked:

deny 0-65535 0.0.0.0/0 0-65535

[2020-08-26 01:44] bsd-source commented on #1988
I can confirm once OPNsense Universal Plug and Play --> Status clear button is selected the status entries are cleared and will not show additional information until the miniupnpd service is stopped and started again.

[2020-08-26 08:54] kulikov-a opened #2003 "netdata: opt-out from sending anonymous statistics"
Hi!
According to
https://github.com/netdata/netdata/blob/master/docs/anonymous-statistics.md
"Starting with v1.12, Netdata collects anonymous usage information by default and sends it to Google Analytics"
GUI does not contain option to opt-out from sending anonymous statistics.
So is netdata installing with "--disable-telemetry" option or i should disable it by hand?
Thanks!

[2020-08-26 12:00] NielsPiersma opened #2004 "BGPv4 stopped working after cluster upgrade (dec2670) to OPNSENSE 20.7"
After upgrade of cluster to OPNSense 20.7 BGPv4 stopt working. BGPv4 diagnostics reported the following:

* >	10.4.0.0/16	0.0.0.0	0		32768	i
1 0 .	60.0.0/17 0.0	.0.0	0	32	768 i
1 0 .	60.4.128/25 0.0	.0.0	0	32	768 i
* >	10.60.132.0/22	0.0.0.0	0		32768	i
* >	10.60.136.0/24	0.0.0.0	0		32768	i
* >	10.60.251.0/24	0.0.0.0	0		32768	i

As you can see, line 2 and 3 are wrong. Seems that the config is incor

[2020-08-26 12:02] NielsPiersma commented on #2004
Double port of #1947

[2020-08-26 12:02] #2004 closed

[2020-08-26 12:09] NielsPiersma commented on #1947
@StevenNexus , I did try to revert, unfortunately, it failed glamorously

root@sxs31fw1_slave:~ # opnsense-revert -r 20.1.r1 frr7
Fetching frr7.txz: .. failed
root@sxs31fw1_slave:~ #

We are now on static routes, hopefully, it will be resolved quickly.

Thanks

[2020-08-26 14:11] mimugmail commented on #1947
As I said in the forums, update to 20.7.1, then your ebgp policies are fixed

[2020-08-26 15:22] kulikov-a opened #2005 "suricata: PT Research ruleset plugin And rulecache.py metadata parsing"
Hi!
PT Research rulsets plugin rules downloading but not installing:
root@OPNsense:~ # /usr/local/opnsense/scripts/suricata/rule-updater.py
root@OPNsense:~ # /usr/local/opnsense/scripts/suricata/installRules.py
Traceback (most recent call last):
  File "/usr/local/opnsense/scripts/suricata/installRules.py", line 56, in <module>
    for rule_info_record in RuleCache.list_rules(filename=filename):

[2020-08-26 17:57] NielsPiersma commented on #1947
Excellent, I'll schedule the update for our next maintenance window.

[2020-08-27 06:11] kulikov-a commented on #2005
pardon me. looked only the first few lines. there are even more formatting errors. will add a pull request with try-except in meta parsing

[2020-08-27 06:16] siga1975 commented on #1915
all my certificates are expired, what can I do to speed up the process? I tried to debug the issue more in deep but with no success

[2020-08-27 06:31] Taomyn commented on #1988
Just to be clear, my experience is that no UPnP sessions can be made until the service is restarted, it's not a visual problem.

[2020-08-27 06:35] kulikov-a commented on #2005
https://github.com/opnsense/core/pull/4301

[2020-08-27 06:58] fraenki commented on #1915
@siga1975 Sorry to hear that your certiciates have expired. :( Your gcloud logs show that the Google Cloud SDK produces an internal error. This does not look like something that can be fixed in OPNsense or os-acme-client.

Have you since then upgraded to OPNsense 20.7.1 and could post more recent gcloud logs? IIRC a new version of Google Cloud SDK was also included.

[2020-08-27 07:15] kulikov-a commented on #2005
bad formatted "metadata" strings examples:
"metadata: id_140409,created_at 2017_6_2, url, https://blog.fortinet.com/2016/07/27/bayrob-an-ancient-evil-awakens-ii"
(metadata "url" comma separated from value; metadata without value)

[2020-08-27 07:19] siga1975 commented on #1915
thanks for your reply

the reason I think it's a plugin issue is that I can insert records manually using gcloud command line

I have indeed upgraded to 20.7.1 and confirm sdk was updated

Here the updated logs

`[Thu Aug 27 09:06:34 CEST 2020] ACME_DIRECTORY='https://acme-v02.api.letsencrypt.org/directory'
[Thu Aug 27 09:06:34 CEST 2020] DOMAIN_PATH='/var/etc/acme-client/home/time1.signorini.in'

[2020-08-27 07:26] kulikov-a commented on #2005
move issue to core (https://github.com/opnsense/core/issues/4302)

[2020-08-27 07:26] #2005 closed

[2020-08-27 13:48] kulikov-a opened #2006 "nginx: sni directives not working together"
Hi!
In nginx plugin GUI I can set "TLS SNI Forwarding" (which is proxy_ssl_server_name directive) flag in Loaction part and "TLS: Servername override" (which is proxy_ssl_name directive) in Upstream part.
But when OPNsense apply config, proxy_ssl_name apply only if "TLS SNI Forwarding" not set (proxy_ssl_server_name off).
this is a misunderstanding of directive. they shoud work together.
if proxy_

[2020-08-27 13:49] kulikov-a commented on #2006
https://github.com/opnsense/plugins/pull/1991

[2020-08-27 14:20] jdelkins commented on #1915
I struggled with this problem as well. The following patch, which disables most error checking in `dns_gcloud.sh`, results in a successful update. Obviously not a valid fix for the problem, but a temporary workaround that got my certs updated.

[code]

[2020-08-27 14:22] siga1975 commented on #1915
looks like it actually works if I ginore the exit codes :) probably there's something wrong on that, it could be transaction succeed even with exit code different from 0, maybe just some warning?

I modified /usr/local/share/examples/acme.sh/dnsapi/dns_gcloud.sh like this
[code]

[code]

a query reveal the record is there

[code]

and the certificate is created

[2020-08-27 14:27] siga1975 commented on #1915
LOL

looks like we posted at the same time the almost same "solution"

[2020-08-27 14:33] jdelkins commented on #1915
No doubt in my mind it is a bug with the plugin. I stepped through all of the gcloud invocations on the command line and they all succeeded with exit code zero. I can't fathom why they don't return zero in the plugin, but that seems to be the case.

[2020-08-27 19:18] nforceroh commented on #1993
ran into the same issue, I've got multiple VLANs, when I run it from the command line with a truss with all the VLANS I have, it core dumps after a few seconds
[code]
but running only for vmx1_vlan1 vmx1_vlan101 for example runs perfectly, there seems to be a limit on the number of interfaces it can watch
[code]

[2020-08-27 19:50] fraenki commented on #1915
Thanks for sharing.

If this solves your problem, then this is not something that can be fixed here. It looks like a bug in acme.sh's gcloud implementation and should be reported there:
https://github.com/acmesh-official/acme.sh/issues

[2020-08-29 06:29] Alex9779 commented on #1993
Ok as a workaround I created a virtual server using the project and calling that tells you that is supports 5 interfaces at max.
I reduced the selection in OPNsense to 4 interfaces and now it seems to run again without a crash and repeating.
Strange that it worked before the update with 6 selected interfaces without a crash...

[2020-08-29 07:59] Taomyn opened #2007 "Let's Encrypt daily auto-renew failing with "is not a issued domain, skip""
**Describe the bug**
Since upgrading from 20.1 to 20.7 the auto-renew has been failing with "is not a issued domain, skip" for all my previously issued domains. If I renew any of them manually it works. Firewall has been rebooted many times and there are no networking issues as running the cron task manually also fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Wait for daily auto-rene

[2020-08-29 18:13] fraenki commented on #2007
You could try to forcefully re-issue the certificate, there's a button to do so.

[2020-08-29 18:20] Taomyn commented on #2007
I know that works as stated -  `If I renew any of them manually it works` - this happened a few weeks ago as well but there was only one or two needing to be renewed, and forcing them worked, so I thought this tim I would leave these as is for troubleshooting. I have 16 days before the first one expires.

[2020-08-31 07:28] NielsPiersma commented on #1947
I've updated the cluster (Deciso DEC2670), however, the problem still is here.

* > | 10.4.0.0/16 | 0.0.0.0 | 0 |   | 32768 | i
-- | -- | -- | -- | -- | -- | --
1 0 . | 60.0.0/17 0.0 | .0.0 | 0 | 32 | 768 i |  
1 0 . | 60.4.128/25 0.0 | .0.0 | 0 | 32 | 768 i |  
* > | 10.60.132.0/22 | 0.0.0.0 | 0 |   | 32768 | i

We still have the "10" octet in the status column.

How do I get this resolved?

Niel

[2020-08-31 08:12] mimugmail commented on #1947
Can you login via CLI, type `vtysh` and check if it's just a display error?

[2020-08-31 08:20] NielsPiersma commented on #1947
Michael,
No error at all, nice status message:
root@fw2_master:~ # vtysh

Hello, this is FRRouting (version 7.4).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

fw2_master.spoorwegmuseum.info#

[2020-08-31 09:23] robertogerola commented on #1947
Hello, I'm in a similar situation. After upgrade to 20.7.1 the routes are not announced from OpnSense to the routers.

My logs

31.08.2020 | 11:10:01 | BGP | [EC 33554499] sendmsg_nexthop: zclient_send_message() failed
31.08.2020 | 11:10:01 | BGP | [EC 33554499] sendmsg_nexthop: zclient_send_message() failed
31.08.2020 | 11:10:02 | ZEBRA | client 19 says hello and bids fair to announce only bgp ro

[2020-08-31 14:00] robertogerola commented on #1947
Some more details, I have two networks to advertise. It worked correctly before upgrading to 20.7.1.

Additional information :
show ip bgp [network1]
BGP routing table entry for [network1]
Paths: (1 available, no best path)
Not advertised to any peer
Local
0.0.0.0 (inaccessible) from 0.0.0.0 (46.234.253.189)
Origin IGP, metric 0, weight 32768, invalid, sourced, local
Last update: Mon Aug 31 14:14:

[2020-08-31 14:02] mimugmail commented on #1947
@NielsPiersma Can you test this open PR if it fixes it?
https://github.com/opnsense/plugins/pull/1969/files

[2020-08-31 14:04] mimugmail commented on #1947
@robertogerola your `show bgp summary` looks OK, you are receiving and seding one path.
Without the ebgp policy there would be nothing.

[2020-08-31 14:08] robertogerola commented on #1947
@mimugmail Thanks, but I am advertising only the default route and not the two additional networks
Can be this the issue ?

http://docs.frrouting.org/en/latest/bgp.html#networks
[no] bgp network import-check

This configuration modifies the behavior of the network statement. If you have this configured the underlying network must exist in the rib. If you have the [no] form configured then BGP will

[2020-08-31 14:16] mimugmail commented on #1947
@robertogerola so when you go to CLI, vtysh, conf t, router bgp XXXX and type `no bgp network import-check` it's working?

[2020-08-31 14:35] mimugmail commented on #1971
Can you post the manually edited ospfd.conf and the one which get's generated (overrides it). I'm not sure if I can follow but the diff would certainly explain it :)

[2020-08-31 14:36] robertogerola commented on #1947
@mimugmail Confirmed, it works now. Many thanks. How can I make this setting persistent ?

[2020-08-31 14:39] mimugmail commented on #1947
First of all, do you have Null routes set like described in the help-text in "Networks"?

![image](https://user-images.githubusercontent.com/20438689/91732473-911f4480-eba8-11ea-906e-f26f76c52863.png)

[2020-08-31 14:43] robertogerola commented on #1947
@mimugmail Yes, null route. Confirmed. Thanks

[2020-08-31 14:50] mimugmail commented on #1947
So when you have the null route set you NEED the CLI stuff in addition or you now have set null route and everything is fine without the CLI workaround?

[2020-08-31 14:53] NielsPiersma commented on #1947
Yes, I would love to; however, can you point me where I can find instructions on how to do this?
Thank you so much for your attention and participation.
Niels

[2020-08-31 14:54] robertogerola commented on #1947
@mimugmail I have null route (it has been always so) and I added "no bgp network import-check" to the configuration, without this addition it doesn't work. Many thanks for your help!

[2020-08-31 15:00] NielsPiersma commented on #1947
I don't have a null route handled by BGP, we only route our Datacenter networks using BGP.

[2020-08-31 15:10] fhloston commented on #1591
Good news, so far the issue has not resurfaced.

I have added '    nameserver = ["1.1.1.1"];' under dns {} in /usr/local/etc/rspamd/options.inc

[2020-09-01 01:20] seandmccarthy commented on #1951
I've refined this with @astuckey123 by implementing the `reconfigureAction` method for the ServiceController class. Before it was falling back to the default reconfigureAction in `ApiMutableServiceControllerBase` which was then invoking a full wireguard service restart. Our version uses the less disruptive wireguard reload instead.

[2020-09-01 07:37] mimugmail commented on #1947
@robertogerola @NielsPiersma Ok, so when a Null route is present (what is also in help-text) it works without interaction.
This is a usual requirement since the old quagga days that a null route has to be there for advertising networks in BGP.
If I remember correctly this is also required with Cisco IOS.

[2020-09-01 07:43] mimugmail commented on #1947
Via CLI:
fetch -o /usr/local/opnsense/scripts/quagga/quagga.rb https://raw.githubusercontent.com/opnsense/plugins/5d1b241c831ffdbfacaa577f0852e62127905a64/net/frr/src/opnsense/scripts/quagga/quagga.rb

[2020-09-01 08:01] NielsPiersma commented on #1947
@mimugmail I;ll give it a shot in a moment, any need to restart services etc?
NIels

[2020-09-01 08:08] NielsPiersma commented on #1947
I ran "fetch -o /usr/local/opnsense/scripts/quagga/quagga.rb https://raw.githubusercontent.com/opnsense/plugins/5d1b241c831ffdbfacaa577f0852e62127905a64/net/frr/src/opnsense/scripts/quagga/quagga.rb" via CLI no probs.

Restarted FRR, still no joy.

Error log:

01.09.2020 | 09:49:56 | ZEBRA | [EC 100663303] vrf_if_ioctl(SIOCGIFFLAGS) failed: Device not configured
-- | -- | -- | --
01.09.2020 | 09:4

[2020-09-01 08:28] lukastribus commented on #1947
At least in one case this is related to the following change in FRR 7.4, which is not mentioned in the FRR release notes:

https://github.com/FRRouting/frr/pull/6228/commits/62282e837947307be252bc2a0e44f97c55610a9c

[2020-09-01 10:59] mimugmail commented on #1947
@fabianfrz do you have time to have a look at it? the quagga.rb script is not that easy to read/fix :)

[2020-09-01 13:12] hippi-viking opened #2009 "sysutils/nut: rc.halt powers off the mainboard"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
[X] I have searched the existing issues and I'm convinced that mine is new.

`/usr/local/etc/rc.halt` and `rc.shutdown` are effectively mixed up: currently `rc.halt` executes `/sbin/shutdown -op` while `rc.shutdown` does not. That should be the other way around. It does make a seriuos diffe

[2020-09-01 14:07] mimugmail commented on #1981
Ok, I had a look. The problem is that OPNsense calls nothing selected as `none` but BIND uses none as noone. So this is a bit misleading when coming from BIND. As I don't want to break current setups where things work cause of not using an ACL, I'd suggest to enhance the help-text that transfer is allowed from everywhere when nothing is set.

[2020-09-01 14:26] hippi-viking commented on #2009
@mimugmail Sadly not at the moment, i am away from the office where the router is located and will have to go to quarantine when i will be back (i am abroad).

For a quick fix i commented out `/sbin/shutdown -op` in `/usr/local/etc/rc.halt` as we had several power losses recently after which the whole office was down without the router. Being in quarabntine i would not be able to start it up manua

[2020-09-01 22:28] nzkiwi68 opened #2011 "FRR add BGP community-list support"
I need to accept the newer **bgp-community** list format from my upstream provider.
Can we please add bgp community-list support?

This is all well supported in FRR, just missing from the OPNsense GUI configuration.
[http://docs.frrouting.org/en/latest/bgp.html#community-lists](url)

OPNsense GUI would need the following items;

- The ability to **add or change** a community-list
- **Use in route

[2020-09-02 11:50] mimugmail commented on #1972
I failed in my tests with just passwords, doesn't this require some kernel tweaks?

[2020-09-02 11:51] mimugmail commented on #2011
Ok, quick summarize:

- adding route-maps to neighbors already in place
- add a new tab for bgp community-lists like with prefix-lists
- add a match against community in route-maps

Correct?

[2020-09-02 15:37] fhloston commented on #1591
@mimugmail do i understand correctly, that the options.inc file is currently not rendered by the template system?

[2020-09-02 16:43] TekunoKage opened #2012 "net/frr/diagnostics/log: present the log from most recent to the oldest or Allow to sort by DateTime"
Would be good to have the log presented in reverse order (The most recent at the top).

If an optimal implementation is desirable, a filter would be great. A Date range, Time range, Service, and a keyword on the message. Wishful Thinking...

I really enjoy your plugging for OpnSense! Thanks for your effort.

Regards,

[2020-09-02 19:21] fabianfrz commented on #1947
@mimugmail if you provide a file with the offending output, I can have a look ;)

[2020-09-02 19:27] mimugmail commented on #1947
@fabianfrz https://github.com/opnsense/plugins/issues/1947#issuecomment-684537567

[2020-09-02 22:28] nzkiwi68 commented on #2011
Yes, thanks.

[2020-09-03 03:34] seitzbg commented on #1564
Still seeing this issue with CloudFlare as of 20.7.2.

[2020-09-03 05:19] Taomyn commented on #2007
I just updated to OPNsense v20.7.2 and waited for the daily job to run - same problem. I tried the new option to re-run the automated job for one of the failed certificates and it too fails:

`
2020-09-03T07:12:19 | opnsense[40904] | /usr/local/opnsense/scripts/OPNsense/AcmeClient/certhelper.php: AcmeClient: failed to run automation, certificate status not OK: mysubdomain.mydomain.com
`

So I forc

[2020-09-03 05:40] Taomyn opened #2013 "net/haproxy: site redirects fails with ERR_HTTP2_SERVER_REFUSED_STREAM with LibreSSL"
**Describe the bug**
Since upgrading OPNsense to v20.7.2 many of my HAProxy site redirects fails with "ERR_HTTP2_SERVER_REFUSED_STREAM" when I try to access it - they all seem to be SSL backend servers.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit site
2. Browser reports "ERR_HTTP2_SERVER_REFUSED_STREAM"

**Expected behavior**
Normal access to site

**Relevant log files**
Cannot fin

[2020-09-03 10:46] jokay opened #2014 "PC Engines APU2 firmware updater plugin"
Do you think it would be possible to have a plugin which allows to update the firmware of a [PC Engines APU2](https://pcengines.ch/apu2.htm) device directly from the web-UI?

Currently I use this [firmware updater script](https://github.com/pcengines/apu2-documentation/blob/1034963eaf085eb54fb76b84223b05564f409d00/scripts/apu_fw_updater_opnsense.sh).

Is it even possible to have this executed with

[2020-09-03 11:51] jpisard opened #2015 "squid sslproxy_foreign_intermediate_certs"
my configuration is :
OPNsense 19.7.10_1-amd64
FreeBSD 11.2-RELEASE-p16-HBSD
OpenSSL 1.0.2u 20 Dec 2019

squid configuration seems missing advanced configuration
i need to add intermediate certificate to bypass an error message  "proxy and the remote host failed to negotiate a mutually acceptable security settings"

to do it :
- i have put the intermediate certificate in a file : /usr/local/etc/sq

[2020-09-03 14:10] NielsPiersma commented on #1947
Did find another "wrong" one on a different OPNSense..

1 7 2 | .16.254.14 | 1 0 | 65413 | ? |   |  
-- | -- | -- | -- | -- | -- | --
* > |   | 172.16.254.6 | 1 |   | 0 | 6 5 4 1 3 ?

172.16.254.14 and 172.16.254.6 are, in this case, a redundant pipe between two sites. Luckily routing is not affected due to the redundancy. However, I am pretty confident a fail-over will not work...

[2020-09-03 14:13] mimugmail commented on #1947
@NielsPiersma this is just a display error in the UI, via CLI you'll get the correct output

[2020-09-03 14:14] NielsPiersma commented on #1947
and another one;;

Status | Network | Next Hop | Metric | LocPrf | Weight | Path
-- | -- | -- | -- | -- | -- | --
* > | 10.0.0.0/16 | 172.16.254.17 | 0 |   | 0 | 6 5 4 1 2 i
* > | 10.2.0.0/30 | 172.16.254.17 |   |   | 0 | 6 5 4 1 2 6 5 4 1 3 ?
* > | 10.2.0.64/30 | 172.16.254.17 |   |   | 0 | 6 5 4 1 2 6 5 4 1 3 ?
* > | 10.2.0.68/30 | 172.16.254.17 |   |   | 0 | 6 5 4 1 2 6 5 4 1 3 ?
* > | 10.4.0.0

[2020-09-03 14:18] robertogerola commented on #1947
@NielsPiersma , I have upgraded another firewall to 20.7.2 and now also the information on the GUI is displayed correctly.

[2020-09-03 17:07] NielsPiersma commented on #1947
@mimugmail , do we know when the GUI display "issue" will be resolved?

[2020-09-03 17:07] NielsPiersma commented on #1947
I've updated to 20.7.2 and still have the wrong tables.

Status | Network | Next Hop | Metric | LocPrf | Weight | Path
-- | -- | -- | -- | -- | -- | --
* > | 10.0.0.0/16 | 10.1.60.1 |   |   | 0 | 6 4 5 6 1 i
* > | 10.4.0.0/16 | 0.0.0.0 | 0 |   | 32768 | i
1 0 . | 60.0.0/17 0.0 | .0.0 | 0 | 32 | 768 i |  
1 0 . | 60.4.128/25 0.0 | .0.0 | 0 | 32 | 768 i |  
* > | 10.60.132.0/22 | 0.0.0.0 | 0 |   | 3

[2020-09-04 05:02] Taomyn commented on #2013
Found another one of my sites not working, all the log tells me is:

`2020-09-04T07:00:29 | haproxy[6175] | 192.168.1.19:60997 [04/Sep/2020:07:00:29.781] Web_Server_SSL~ Unifi/Unifi 0/0/0/-1/5 -1 0 - - SD-- 20/20/0/0/0 0/0 "GET / HTTP/2.0"`

[2020-09-04 07:48] mimugmail commented on #2013
Can you try to revert and check if the error still persists?

`opnsense-revert -r 20.7.1 os-haproxy`

[2020-09-04 08:02] Taomyn commented on #2013
Tried it, but it was the same - I restarted the HAProxy service to be sure but no difference. Do I need to reboot the firewall?

[code]

[2020-09-04 08:16] mimugmail commented on #2013
It was bumped from 2.0.14 to 20.0.17, but also renamed to haproxy20, @fichtner opnsense-revert will not help here correct?

[2020-09-04 08:21] fichtner commented on #2013
I have no idea what the issue is, please wait for @fraenki to take a look

[2020-09-04 08:38] NielsPiersma commented on #1947
I just received confirmation that the published routes from the A side are not received on the B side (pfsense running openbgpd). The routes that are not received are the ones that don't look okay in the GUI.

So I don't think the issue is resolved. (Now running 20.7.2)

PFSENSE at Side B
flags: * = Valid, > = Selected, I = via IBGP, A = Announced, S = Stale
origin: i = IGP, e = EGP, ? = Incomplet

[2020-09-04 08:58] NielsPiersma commented on #1947
And i was able to reproduce the issue between two opnsense 20.7.2 boxes as well.

Bside:

Status | Network | Next Hop | Metric | LocPrf | Weight | Path
-- | -- | -- | -- | -- | -- | --
* > | 10.0.0.0/16 | 10.2.0.41 | 0 |   | 0 | 6 5 4 1 2 i
* > | 10.2.0.0/30 | 10.2.0.41 |   |   | 0 | 6 5 4 1 2 6 5 4 1 3 ?
* > | 10.2.0.64/30 | 10.2.0.41 |   |   | 0 | 6 5 4 1 2 6 5 4 1 3 ?
* > | 10.2.0.68/30 | 10.2.

[2020-09-04 10:02] fhloston commented on #1591
Interestingly, as soon as i change it to `nameserver = ["127.0.0.1"]` the issue reappears after roughly 1 hour runtime!

So some kind of timeout error in combination with the local DNS resolver?

[2020-09-04 10:06] sorano commented on #2013
A longshot but could it be related to:

"honor sort order of all rules, remove special handling of use_[backend|server] options"

from here:
https://github.com/opnsense/plugins/pull/1933

Take a look at the backend if you are using rules.

[2020-09-04 10:22] Taomyn commented on #2013
Should I re-update to the latest os-haproxy to check this? I can't see anything regarding sort order. Here's what is set for one of the failing sites which is what was set before upgrading to 20.7.2:

![image](https://user-images.githubusercontent.com/4365929/92228872-dabda700-eea8-11ea-9432-1d3573764e27.png)

![image](https://user-images.githubusercontent.com/4365929/92228886-e27d4b80-eea8-11ea-9

[2020-09-04 10:51] sorano commented on #2013
Looking at your pictures it looks like the PRTG rule isn't used there. So I guess the rules are used in your frontend?

Do you still see that error at the bottom if you go "re-update" to latest haproxy plugin?

[2020-09-04 11:02] Taomyn commented on #2013
Yes
![image](https://user-images.githubusercontent.com/4365929/92232385-bd8bd700-eeae-11ea-81d8-5402522c06fe.png)

It goes when I upgrade again, and unfortunately does not fix the issue.

[2020-09-04 11:09] sorano commented on #2013
Alright, so in that case I would stay at the updated version and then I would try to move the PRTG rule to the start before the maltrail rule. Do you get any warnings when you "Test syntax"?

If it's still not working when prtg is first then at least you know it's not related to sort order.

[2020-09-04 11:21] Taomyn commented on #2013
Moved it, no change - I always run a syntax check, and no errors before I saved ie.

Map Files?

[2020-09-04 11:31] Taomyn commented on #2013
I also notice, that even though I have detailed logging switched on for the front-send, I see nothing for these non-working sites - but I see plenty for the ones that do work.

[2020-09-04 11:36] sorano commented on #2013
Hmmm. I guess you should take a look at the server logs for the backends that are not working in that case. (look at webserverlogs from the server hosting PRTG. Not HAProxy).

I guess you could also try creating a new frontend with basic settings on another port, then put the PRTG backend behind that and test.

Regarding map files, they make it easier to match many hostnames and backends in a sing

[2020-09-04 12:45] Taomyn commented on #2013
Yeah I've looked at the backend logs for PRTG and there's no sign of anything there, but if I'm not seeing even an attempt logged by HAProxy why would there be? Nothing on the firewall is showing anything.

Thanks, I'll consider the maps once this issue is fixed.

[2020-09-04 13:23] Taomyn commented on #2013
More info. Was using the PRTG test tool to perform some raw HTTP calls when I noticed that following a restart of the HAProxy service, one connection to the server works, but then all subsequent attempts fail. l used the same command as my browser was trying to send which is the only thing logged by HAProxy:

![image](https://user-images.githubusercontent.com/4365929/92243946-8de6ca00-eec2-11ea-93

[2020-09-04 13:34] fraenki commented on #2013
@Taomyn Please paste your full haproxy.conf with sensitive information cloaked (as text, not as screenshot).

[2020-09-04 13:49] Taomyn commented on #2013
@fraenki as requested https://pastebin.com/j44jVMw7

[2020-09-05 05:50] mimugmail commented on #1979
Sure, just add a PR. It's a bit small, but if it helps, why not 👍

[2020-09-05 08:02] #1981 closed

[2020-09-05 08:17] #1984 closed

[2020-09-06 21:21] Xeroxxx opened #2018 "Quagga/FRR Migration failed."
**Describe the bug**
Upgrading of templates for quagga/frr fails since atleast 20.1. I got this error on the major upgrade and every other upgrade of the package. Even on reinstallation.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade or Uninstall/Install FRR Routing Package

**Expected behavior**
Templates upgrade and reload.

**Relevant log files**
`2020-09-06T23:10:29 | sys

[2020-09-07 05:37] Taomyn commented on #2013
Seems a couple more of my site redirects are experiencing the same issue. I'm hoping this is simply some poor configuration settings I've made over the years,

[2020-09-07 07:13] NielsPiersma commented on #1947
I've played around with the CLI and can confirm the routing looks as expected from the CLI on my test setup. I'll check the production site asap.
NIels

[2020-09-08 07:34] Taomyn commented on #2013
I just noticed while trying to narrow down a few parameters that if the HAProxy service is restarted after a change and I quickly attempt a connection, it will give me a partial page mostly badly formatted, but then a refresh and I'm back with the refusal error. The HAProxy log does show some extra connections:

[code]

[2020-09-08 21:00] stumbaumr opened #2019 "security/acme-client: Add automation action "Reconfigure IPsec service""
**Is your feature request related to a problem? Please describe.**
I configured the automation action to restart the IPsec VPN service after aquiring a new LE certificate. If I re-issue a certificate now all IPsec clients get obviously disconnected. I would like the service to be available the whole time.

**Describe the solution you'd like**
Instead of using "Restart IPsec VPN Service" as added i

[2020-09-09 06:57] marinbernard-pep06 commented on #2013
You might already know it, but we discovered that the problem disappears after switching the box to the OpenSSL flavour. It might be LibreSSL-related.

[2020-09-09 06:59] XtraLarge opened #2020 "OpnSense postfix as secure mail gateway"
Hello,

I've tried to use OpnSense as a secure smtp gateway.

My problem is that I've some different domain names. Every one with a single certificate. I ve found a way to import the certificates, but I've found no way to choose some of them!!!

Only one is possible, is that that true?!?! .....

Hint. I read that postfix can use some certificates, if you paste them in the same file.

[2020-09-09 07:01] Taomyn commented on #2013
No, I had no idea but wow, it's almost like LibreSSL is trying to force me to switch to OpenSSL - I was considering it a week or so ago in order to get support for server TLS1.3

I'll see when I get home if I have time to try this out, but any idea if it's something that could get fixed for LibreSSL soon?

[2020-09-09 07:33] mimugmail commented on #2020
Where is the link to this doc for using multiple certs? How does this handle different keys in one file?

[2020-09-09 07:41] fichtner commented on #2020
Not sure virtual hosting is a valid concept for mail servers, especially since for HELO/EHLO you get the host name mismatch.

Generally what you can do is use HAProxy or Nginx to build this kind of setup....

As for "secure mail gateway" I think you have your concepts not properly worked out: a secure mail gateway uses mail encryption (PGP, S/MIME) on top of transport encryption (TLS). A mail serv

[2020-09-09 08:19] jassonmc commented on #1926
May I propose a more universal solution?

In my current OPNsense 20.7.1 setup, Postfix is missing an extremely vital instruction in its main.cf:
smtpd_recipient_restrictions  ->  reject_unverified_recipient

Since OPNsense is only a Postfix gateway and not the final destination, it should never, ever accept mails, which are afterwards non deliverable to it's final destination.

If the final destin

[2020-09-09 10:41] fhloston commented on #1591
are you still considering this @mimugmail ?

[2020-09-09 11:21] jassonmc commented on #2020
We are also using OPNsense and it's Postifx plugin as mail gateway for multiple mail domains.
The important bit here is, that you would point your MX records for those mail domains to your WAN DNS name of your OPNsense. This way only 1 cert is needed, which is also correct.
We are talking here only about SMTP, not any Webmail, IMAP, POP3 or the like.
For everything non-SMTP you would, as @fichtner

[2020-09-09 12:26] QDaniel opened #2021 "security/tinc: [FR] Export and Import Hosts"
For a Tinc-Network all Nodes must  known the other hosts.

I would like a export / import button for the hosts list. (eg. Firewall - Aliases)
The Host list should include the expost Host self.

The Import must check for duplicates and skip there.

The buttons should add to network entry,  then you can export and import each network seperatly.

[2020-09-09 13:44] fichtner commented on #2020
@jassonmc's solution using proper MX is indeed preferable as it would not mask the actual hostname of the server :)

[2020-09-09 18:15] tomatotoast opened #2024 "Set Web-Proxy user-acl before global blacklist"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

This request is relat

[2020-09-09 21:22] XtraLarge commented on #2020
I've found a description for sni at https://technikfreak.net/tipps-tricks/postfix-3-4-lets-encrypt-und-server-name-indication-sni/

[2020-09-09 21:26] XtraLarge commented on #2020
OK, it's right that you must configure an working mx record for the domains, but how did you configure that postfix choose the right certificate for every domain? .... That's my point?

[2020-09-09 21:44] jassonmc commented on #2020
You should probably perform an internet search on the topic SMARTHOST.
Let's make an example:

Your OPNsense WAN IP is 1.2.3.4
Your DNS A record for that IP is gw.mybusiness.xyz
You have two mail domains: mybusiness.xyz and mypleasure.xyz
You define for both domains a single mx record that points to gw.mybusiness.xyz
The mx record tells an outside party, where your mail infrsatructure entry point

[2020-09-10 11:59] mimugmail commented on #1591
I'm now working on a PR ..

[2020-09-11 13:28] tomatotoast commented on #2024
Why did you mark this as "support"? From my perspective this is a feature request. I guess customers would also like the feature of being able to give certain user groups white list rights for specific websites while the global blacklists still is active.

[2020-09-11 13:56] AdSchellevis commented on #2024
We have had discussions in the past on where we should include custom overrides, which resulted in the current default. Adding more toggles which are hard to explain likely won’t help the general population.

You can always override our default template with one of your own, hence the support tag.

[2020-09-11 15:45] alpharde commented on #523
Although I can't help with the issue itself, it would be good if I could at least set this manually. Controller will sometimes get wonky if opnsense is rebooted with the controller being inside the network, I guess it would be better to run it on the firewall itself.

[2020-09-11 21:42] fraenki commented on #1915
I'll close this issue now, because we'll rely on upstream to fix this bug (assuming that someone will report this to acme.sh).

[2020-09-11 21:42] #1915 closed

[2020-09-12 07:36] admlko opened #2027 "net/haproxy: Action and ACL rules generated to incorrect block"
**Describe the bug**
One frontend for HTTPS, multiple backends which all have their own ACL and Action rules. ACL is used to check the path (subfolder) and Action is used to match ACL to the correct Backend.

This configuration results ACL and Action rules to be generated inside each Backend block, which is incorrect. They should be generated under Frontend block.

**To Reproduce**
Steps to reprod

[2020-09-12 20:49] fraenki commented on #2027
I quickly checked the code and there is no way this could happen. Please double-check your configuration.

[2020-09-12 20:53] fraenki commented on #2007
This sounds to me like running the "issue" command twice results in a successful validation.

Which acme.sh challenge type (validation method) are you using?

[2020-09-13 03:59] Taomyn commented on #2007
No, re-running the daily issue repeats the problem, and no certificate is generated. Only doing a single "forcefully re-issue" will succeed in getting a renewed certificate.

HTTP-01

[2020-09-13 06:18] admlko commented on #2027
What can I say, it happened. And still does :)
I created the config with previous version of os-haproxy, after the latest update I deleted all virtual servers, rules and conditions and re-added them. Same result.

So, what do you suggest I double-check?
Do you want screenshots or...?

[2020-09-13 06:22] #2027 closed

[2020-09-13 09:11] XtraLarge commented on #2020
OK, I think i understand it.
You bypass the certificate proplem in the way you give the smtp gateway only one dns name. All Other domains choose that name as the mx gateway. I think this will work, but it isn't so "nice", because anyone can identify the domains are working together and they are not seperated every by it's own.

But you're right it is a way!! .... Thanx a lot!

[2020-09-13 13:33] fabianfrz commented on #1947
@mimugmail that does not help. I need the raw output, not a incorrect table

[2020-09-13 19:47] fraenki commented on #2027
Glad you got it working!

[2020-09-13 19:51] fraenki commented on #2007
In my experience HTTP-01 can be pretty unreliable. I'd suggest to switch to DNS-01 if your DNS provider is supported.

That being said the upcoming os-acme-client version 2.0 is a major rewrite and logs addition debug messages. Maybe this helps to identify the root cause of this issue, if you can't switch to DNS-01.

[2020-09-13 19:56] jassonmc commented on #2020
If you want to hide the fact, that your mail gateway is related to one of the mail domains you're hosting, then you could ofc use a totally unrelated domain for the gateway.
If you want to hide the fact, that multiple of your mail domains have the same mx, then it will become more complex.
An mx can ever only respond to a single fqdn, since the so called reverse dns entry will always have to match

[2020-09-13 20:00] #1398 closed

[2020-09-13 20:00] #1526 closed

[2020-09-14 05:16] Taomyn commented on #2007
Hasn't been for me until this release, so I checked and my DNS provider, Azure DNS, is listed but I can't find anywhere documentation on how to set it up on the Azure side so I can fill in all the fields:

![image](https://user-images.githubusercontent.com/4365929/93046437-12bbab80-f65a-11ea-8464-e12c4bfd8fd9.png)

It would be nice to log some extra info as it's not showing anything for me at the

[2020-09-14 06:14] Taomyn commented on #2007
Scratch the idea that it's HTTP, I continued to dig around with Google trying to find instructions on setting up Azure DNS and eventually got that sorted in OPNsense. I switched LE to the staging environment then created a new test certificate and force issued it - worked perfectly. I could see the validation record appear in Azure and then the certification was validated, created a certificate an

[2020-09-14 17:33] xma-kultapanda commented on #1430
Thanks @Da-Juan that worked nearly flawlessly.

In my case I had to trim the output  from your CommonName extraction as it returned a leading char.

`       cert_cn="$(openssl x509 -in "$_pem" -noout -text | grep "Subject: CN" | cut -d"=" -f2)"
`
`
        cert_cn="$(openssl x509 -in "$_pem" -noout -text | grep "Subject: CN" | cut -d"=" -f2 | tr -d '\040\011\012\015')"
`

[2020-09-14 17:56] actual-nsnow commented on #2013
I'm having the same issue, I just finished switching over to openssl and I'm going to test. In my case, most of my services were working, it was opnsense I couldn't reach. My default webgui port is 8443 and I use haproxy to serve opnsense based on hostname rules. I was getting `ERR_HTTP2_SERVER_REFUSED_STREAM` whenever trying to access opnsense over the proxy.

Update/reboot is finished, everythin

[2020-09-14 19:28] Da-Juan commented on #1430
Yes I update my script with this:
[code]
I saved a Gist here: https://gist.github.com/Da-Juan/0f765160e69a99882c5188b6ab4e13e1

[2020-09-14 20:15] xma-kultapanda commented on #1430
Yeah, that's more elegant.
Thank you.

[2020-09-15 08:11] Taomyn commented on #2013
Thanks @actual-nsnow - I still have not had the time to switch my installation back to OpenSSL, hopefully this week, but I'm now wondering if it's also the cause of a mysterious issue I also have with the Let's Encrypt plug-in that also started when I upgraded to 20.7.x

[2020-09-15 12:17] sbuzonas opened #2031 "net/frr: as-path lists should be defined under bgp instead of ip"
**Describe the bug**
Configuring as-path lists results in errors for unknown commands in the log.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Routing > BGPv4 > AS Path Lists'
2. Add a new AS Path List
3. Go to 'Routing > Diagnostics > Log'
4. See error

**Expected behavior**
An as-path list should be created to be used in other configuration.

**Relevant log files**
[code]

**Addi

[2020-09-16 14:22] TheDatadrainer opened #2033 "Add customization fields to service "plugins/net/upnp""
Hello,
It is not possible to personalize the UPnP IGD service from the web UI, miniupnpd is consequently using default values for:

- friendly_name
- manufacturer_name
- manufacturer_url
- model_name
- model_description
- model_url
- presentation_url

Having the choice to change that would be great that so it could be easier to identify different routers. For now by example, they are all identifie

[2020-09-17 09:48] fichtner opened #2034 "plugins: move monitoring plugins to reporting menu section"

[2020-09-17 09:49] mimugmail commented on #1947
@NielsPiersma can you post a screenshot from the UI with the broken stuff and also post the output via CLI to compare?

[2020-09-17 10:08] sorano opened #2035 "net/haproxy: Add possibility to view generated haproxy config in the webui"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] When the request is meant for an existing plugin, I've added its name to the title.

**Describe the soluti

[2020-09-17 15:10] QDaniel commented on #2012
A tail for last 5000 lines are nice ...
And truncate for the log on frr restart to the latest 5MB would nice.

When i log in verbose mode after time the log are very big and the interface hangs for minutes when the log will be shown.

[2020-09-17 19:51] frassefraze opened #2036 "dns/dyndns Add (update) support for Loopia-API"
Would be nice if the dyndns plugin supported the loopia api, just as the acme-client does. Todays integration for dyndns is based on the normal sign-in procedure on loopia, which means that account has full access to everything, that can't be needed. With an api-user you are able to limit what parts the account is allowed to edit, and can be limited only to dns. So that would be a great security e

[2020-09-18 13:58] Stan-Tastic commented on #1630
I'll be glad to have it as well, I tried using HAProxy for multiplexing, but it's clearly not made for this. SSLH on my previous Linux router was working flawlessly.

[2020-09-18 18:37] NielsPiersma commented on #1947
Michael,

Please find attached the two screenshots.

Niels

Op do 17 sep. 2020 om 11:49 schreef Michael <notifications@github.com>:

[2020-09-19 06:15] opnsenseuser commented on #1997
Hi Martin,

please close this pull request. I'm in the process of updating cicada and also the second theme vicuna and I will take over the changes from you right away.

Thank you and have a nice day.

Kind regards René

Von: Martin Wasley <notifications@github.com>
Gesendet: Montag, 24. August 2020 17:36
An: opnsense/plugins <plugins@noreply.github.com>
Cc: René <rene@team-rebellion.net>; Mention

[2020-09-19 06:16] marjohn56 commented on #1997
ok

From: René <notifications@github.com>
Sent: 19 September 2020 07:16
To: opnsense/plugins <plugins@noreply.github.com>
Cc: Martin Wasley <mjwasley@queens-park.com>; Mention <mention@noreply.github.com>
Subject: Re: [opnsense/plugins] misc/theme-cicada: IPsec view broken with Cicada (#1997)

Hi Martin,

please close this pull request. I'm in the process of updating cicada and also the second the

[2020-09-19 09:51] fraenki commented on #1430
Does anybody care to properly integrate it and submit a pull-request? :)

[2020-09-20 11:11] opnsenseuser commented on #1997
https://github.com/opnsense/plugins/pull/2037

[2020-09-20 17:20] AdSchellevis commented on #358
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #358 closed

[2020-09-20 17:20] AdSchellevis commented on #1659
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1659 closed

[2020-09-20 17:20] AdSchellevis commented on #1661
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1661 closed

[2020-09-20 17:20] AdSchellevis commented on #1662
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1662 closed

[2020-09-20 17:20] AdSchellevis commented on #1663
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1663 closed

[2020-09-20 17:20] AdSchellevis commented on #1664
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1664 closed

[2020-09-20 17:20] AdSchellevis commented on #1687
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1687 closed

[2020-09-20 17:20] AdSchellevis commented on #1691
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1691 closed

[2020-09-20 17:20] AdSchellevis commented on #1692
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1692 closed

[2020-09-20 17:20] AdSchellevis commented on #1715
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] AdSchellevis commented on #1717
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1717 closed

[2020-09-20 17:20] AdSchellevis commented on #1719
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1719 closed

[2020-09-20 17:20] AdSchellevis commented on #1724
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] AdSchellevis commented on #1729
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1729 closed

[2020-09-20 17:20] AdSchellevis commented on #1730
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1730 closed

[2020-09-20 17:20] AdSchellevis commented on #1743
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-09-20 17:20] #1743 closed

[2020-09-20 17:35] mimugmail commented on #1659
Chrony is already in devel

[2020-09-20 17:37] AdSchellevis commented on #1659
@mimugmail you want to keep the issue open? this was an automated action (no assignee on the ticket)

[2020-09-20 17:41] mimugmail commented on #1659
@siga1975 pkg install os-chrony-devel
If it works for you we can move ro stable with 20.7.3 or 4

[2020-09-20 17:47] siga1975 commented on #1659
OK, I will

THX

On Sun, Sep 20, 2020 at 7:41 PM Michael <notifications@github.com> wrote:

[2020-09-20 17:54] mimugmail commented on #1687
PR for this was added recently

[2020-09-20 17:56] AdSchellevis commented on #1687
https://github.com/opnsense/plugins/pull/2037 ?

[2020-09-20 18:17] mimugmail commented on #1687
Yep

[2020-09-21 02:01] dkowis commented on #1663
What does one need to do to make this a plugin?

There's a BSD package already: https://dnsdist.org/install.html

The Contributing document doesn't tell me much about making the plugin. Is there something I could look at?

[2020-09-21 06:36] fichtner commented on #1659
Let's keep this closed. @mimugmail just let me know when you want to move this to release.

[2020-09-21 06:37] #1997 closed

[2020-09-21 07:44] mimugmail commented on #1663
First you need to build a pkg for it:

opnsense-code ports
cd /usr/ports/dns/dnsdist/ && make install clean

When you successfully build and installed it you can follow the public guides here:
https://docs.opnsense.org/develop.html

Easiest would be to clone an existing plugin and do search+replace:
https://www.routerperformance.net/opnsense/plugin-development/

[2020-09-21 08:03] mimugmail commented on #1947
@NielsPiersma I fear attachments wont work via email :/
Can you try via browser next time you are on a computer?

[2020-09-21 08:19] NielsPiersma commented on #1947
Sure, no problem

![cli](https://user-images.githubusercontent.com/70269175/93745455-de189880-fbf3-11ea-8450-7e2c9a253ee5.PNG)
![GUI](https://user-images.githubusercontent.com/70269175/93745460-dfe25c00-fbf3-11ea-9f92-2de1329ab219.PNG)

[2020-09-21 08:46] siga1975 commented on #1659
looks like it works well, I would just add a dropdown with checkboxes for
networks selection, and eventually some field for advanced options

[root@myfw ~]# chronyc -n sources
210 Number of sources = 4
MS Name/IP address         Stratum Poll Reach LastRx Last sample
===============================================================================
^+ 192.168.33.41                 1   7   377    58

[2020-09-21 09:12] fichtner commented on #1659
Both potential additions lead down a dangerous path for maintainability. 😉

[2020-09-21 13:34] vizion8-dan commented on #1743
It is actually merged. :-)

[2020-09-22 09:03] fabianfrz commented on #1947
@NielsPiersma this is what is called an image. I need the plain text output of vtysh that is also read by the parser. So please pipe it into a file and attach that text file.

[2020-09-22 09:30] NielsPiersma commented on #1947
Sorry,

My bad, please find attached the output of the sh bgp ip.
Unfortunately, vtysh doesn't support piping.

Op di 22 sep. 2020 om 11:04 schreef Fabian Franz BSc <
notifications@github.com>:

BGP table version is 3551, local router ID is 213.124.104.45, vrf id 0
Default local pref 100, local AS 64562
Status codes:  s suppressed, d damped, h history, * valid, > best, = multipath,

[2020-09-22 12:21] #2031 closed

[2020-09-22 14:24] sepahewe opened #2040 "net/haproxy: add support for proxy names for frontend and backend"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-09-22 20:41] Aste88 opened #2041 "[dyndns] allow setting specific ddns record for cloudflare for DDNS HA setup"
[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
Yes

[-] I have searched the existing issues and I'm convinced that mine is new.
Yes

[-] When the request is meant for an existing plugin, I've added its name to the title.
Yes

**Is your feature request related to a problem? Please describe.**
As cloudflare doesn't support alias record

[2020-09-23 14:27] alpharde opened #2044 "net/zerotier: Cannot backup plugin data"
Upon restoring a backup I found out that the backup tool did not export/import the data for the zerotier plugin.
Since opnsense was also the router for the zerotier network re-configuring it was quite time consuming, please provide a way to backup the data for this plugin.

**To Reproduce**
1. Use backup tool to export the configuration
2. Restore it to a fresh new installation
3. Zerotier still i

[2020-09-24 17:19] kpiq commented on #2018
I get that when installing the FRR plugin in opnsense 20.7.2.
FreeBSD psfwl01.lan 12.1-RELEASE-p7-HBSD FreeBSD 12.1-RELEASE-p7-HBSD #0  427d53bc125(stable/20.7)-dirty: Sun Jul 26 05:51:42 CEST 2020     root@sensey64:/usr/obj/usr/src/amd64.amd64/sys/SMP  amd64

[2020-09-24 17:40] kpiq commented on #2018
CPU: Intel(R) Atom(TM) CPU  E3845  @ 1.91GHz (1916.71-MHz K8-class CPU)
real memory  = 4294967296 (4096 MB)
avail memory = 3962900480 (3779 MB)
FreeBSD/SMP: Multiprocessor System Detected: 4 CPUs

[2020-09-24 18:56] mannp commented on #1564
I've submitted 3 or 4 bug reports via the gui for this one :)

FYI It is still happening on 20.7.3 which I guess was likely, with discussions still ongoing.

[2020-09-24 18:59] Taomyn commented on #2013
I finally got around to switching from LibreSSL to OpenSSL then rebooted for good measure, and can report that from internal all the sites that were failing to work are now all fine again.

I did first try upgrading to 20.7.3 but that itself made no difference.

[2020-09-26 10:49] Taomyn commented on #2007
Quick update, after upgrading to 20.7.3 this week along with switching from the LibreSSL to OpenSSL build of OPNsense, I just checked and I think the problem has resolved itself. I see some new renewals since the upgrade.

So either the update/switch fixed it, or by force renewing each of the failing certificates it somehow fixed them - unfortunately I cannot prove the latter for some months when

[2020-09-26 21:17] serial-bug commented on #1591
Hi mimugmail,

it seems you already rolled out the change.
Sadly, you missed to allow entering a port after the ip.
People who dont use the standard port 53 for DNS (example if you use Unbound in front of DNSCrypt) have no chance

 to enter a custom port.

It would be great if you could fix this.

Thank you.
![Screen](https://user-images.githubusercontent.com/57494214/94350412-5d6ff700-004e-11eb-8

[2020-09-27 21:16] R000795 commented on #1130
@fraenki  This feature has been added to acme.sh now. Is there a chance to support this in opnsense? Thx!

[2020-09-27 21:25] fraenki commented on #1130
@R000795 Sure, I'll add it to my list.

[2020-09-28 17:35] 8191 commented on #1986
@AdSchellevis Any chance to pull #1987 for the next release?

[2020-09-28 17:51] AdSchellevis commented on #1986
@8191 since @fabianfrz is the maintainer, we should ask him if we can pull it in. to me it looks like a good addition, although the model change needs a version upgrade and might be backwards incompatible (removing the url attribute).

[2020-09-28 22:24] wytia opened #2046 "net/acme/haproxy certificate renewal fails due to timeout"
opnsense version 20.7.3

I have issues to renew my let's encrypt certificate which is used in haproxy. Renewal fails due to a timeout but when I request the file myself it works, i.e. URL http://example.org/.well-known/acme-challenge/ODYvfmoZsrI2aOAlGMo2jDCPf4AeGoAXYOD-OVo6wQI .

[Mon Sep 28 22:39:53 CEST 2020] example.org:Verify error:Fetching http://example.org/.well-known/acme-challenge/ODYvfmo

[2020-09-28 22:54] wytia commented on #2046
Sorry, my mistake. Geo blocking was activated and caused the problem.  Everything works fine.

[2020-09-28 22:54] #2046 closed

[2020-09-29 10:47] browne-net commented on #2013
I am having the same issue.

System: OPNsense 20.7-amd64FreeBSD 12.1-RELEASE-p7-HBSDLibreSSL 3.0.2
HAProxy: 2.23

Once I upgrade to 20.7.3 my HAProxy redirects stop working.
The browsers give an error about some SSL issues.

[2020-09-29 10:51] fraenki commented on #2013
So I recommend switching to the OpenSSL flavour if you hit this issue. There's nothing else I can do about it.

[2020-09-29 11:07] browne-net commented on #2013
I will just stick with 20.7 until the issue is resolved.

[2020-09-29 16:34] Taomyn commented on #1988
I'm up to 20.7.3 now, and this still happens. For whatever reason once a session drops the service is stuck not responding to further connections until I disable then re-enable uPnP.

[2020-09-30 08:03] knxuf opened #2047 "net/freeradius: toggle user password visibility"
Add button to show/hide user passwords.

[2020-09-30 08:43] mimugmail commented on #2047
There is no such option, but you can see the password in cleartext in /conf/config.xml or in the users file via CLI

[2020-09-30 09:21] knxuf commented on #2047
i know where to find them but it would be nice to make it visible from GUI in mobilephone, when the users forget their wlan password. Like in Unifi Controller.
But I understand what you mean, there is no option in templates to make it visible, just type password.

[2020-09-30 15:20] fraenki commented on #2013
HAProxy 2.0.18 was released today and contains minor SSL fixes, not sure if this will improve the situation with LibreSSL:
https://www.mail-archive.com/haproxy@formilux.org/msg38547.html
However, I expect this version to be included in the upcoming OPNsense 20.7.4 (no ETA!), so feel free to report back when this version is available.

[2020-09-30 16:12] fabianfrz commented on #1986
@AdSchellevis I did the review and yes, I think the model change is needed all the other things are ok beside the whitespace (@8191 probably used some windows editor which is not set up for spaces)

[2020-09-30 18:30] andreas-p opened #2048 "net/haproxy: 20.7 invented ordering problems"
After upgrading from 20.1.9 to 20.7.2 (and still in 20.7.3), a haproxy ruleset will throw a warning:

[code]

Comparing what 20.1 generated vs. 20.7, the only difference is that two redirect and use_backend lines are swapped, triggering that warning.

While (according to the message) this isn't a functional problem, it seems better to avoid this warning. Since ordering of commands in the generated

[2020-09-30 23:21] fraenki commented on #2048
This statement might be true for previous version of os-haproxy, but the behaviour was changed in os-haproxy 2.24. This version removes all automatic ordering of rules and now you have full control over the sort order (see https://github.com/opnsense/plugins/issues/1925). The old behaviour was odd, unexpected and caused confusion.

The only drawback of this change is the warning message you're see

[2020-09-30 23:21] #2048 closed

[2020-10-01 07:50] AdSchellevis opened #2049 "add new plugin to backup using git"
In order to gain traceability between configuration changes a backup option using git would be a practical addition.
From OPNsense the supported workflow should implement the following pattern:
![image](https://user-images.githubusercontent.com/9783985/94779248-ebd5d700-03c6-11eb-9fd7-ade25d5dd8b5.png)

As a requirement for this functionality we need to be able to subscribe on config changes, whic

[2020-10-01 07:57] mimugmail commented on #2049
Nice feature and sponsoring :)

[2020-10-01 20:45] LensHunnel opened #2050 "FRR - ADD BFD feature on web interface"
**Is your feature request related to a problem? Please describe.**
 always frustrated when I configure the routing on Opnsense because I'm using bfd on my OSPF configuration and I can't start the bfdd process because on the template /usr/local/opnsense/service/templates/OPNsense/Quagga/frr it only configure ospf rip and BGP and not BFD.

**Describe the solution you'd like**
I would like two checkb

[2020-10-02 03:58] mimugmail commented on #2050
Did you check If bfd is compatible on the FreeBSD Version of FRR? Most of it only works with linux

[2020-10-02 06:53] LensHunnel commented on #2050
Hi, thanks for your answer. I can activate BFD via the cli `vtysh` but all the BFD configuration is reset when the server reboot or the service frr reloaded because it's not configured via OPNSense.

[2020-10-02 07:26] mimugmail commented on #2050
Can you leave a füll sample Here so I can have a look

[2020-10-02 08:43] LensHunnel commented on #2050
In the file `/etc/rc.conf.d/frr` I have to add bfdd in variable frr_daemons :

frr_daemons="zebra ospfd **bfdd**  bgpd"

And My frr cli configuration looks like:
[code]

[2020-10-02 11:34] mimugmail commented on #2050
And after this BFD really works? I mean, it eats the commands, but regarding FreeBSD and FRR this means nothing.

[2020-10-02 20:14] MarioRuck opened #2051 "freshclam is not working"
neither automaticly or by ssh access adn the command freshclam it is working.
On ssh access I get the following output:
root@OPNsense:~ # freshclam
ClamAV update process started at Fri Oct  2 22:04:53 2020
daily database available for update (local version: 25937, remote version: 25945)
Current database is 8 versions behind.
Downloading database patch # 25938...
Time:    0.8s, ETA:    0.0s [======

[2020-10-03 08:44] mimugmail commented on #2051
Have you stopped freshclamd before running it manually?

[2020-10-03 17:04] LensHunnel commented on #2050
Yes I can see BFD packets get out from my interface using tcpdump.

[2020-10-03 17:29] mimugmail commented on #2050
I had a look at the docs, they are using peer syntax in bfdd.conf, is there a reason why you not configuring it?

I will try to add a bfd submenu

[2020-10-04 08:59] mimugmail commented on #2051
Looks good on my side:

[code]

[2020-10-04 09:00] mimugmail commented on #1973
@QDaniel can you verify please?

[2020-10-04 11:37] MarioRuck commented on #2051
Freshclam is not running. Can somebody explain the q&2 issue?
root@OPNsense:~ # service clamav-freshclam onestatus
clamav_freshclam is not running.
root@OPNsense:~ # clamd reload
WARNING: Ignoring deprecated option DetectBrokenExecutables at /usr/local/etc/clamd.conf:16
LibClamAV Warning: **************************************************
LibClamAV Warning: ***  The virus database is older than 7

[2020-10-05 09:42] LensHunnel commented on #2050
Firstly I can't use it because the BFD configuration that I use is in the file /usr/local/etc/frr/ospfd.conf generated by opnsense and Secondly the file /etc/rc.conf.d/frr where we can specify to frr to start BFD daemon is also generated by opnsense.

Thanks for your answers.

[2020-10-05 09:59] mimugmail commented on #2050
They only get overwritten when you hit save in the UI. You can setup everything from UI, then switch to CLI, edit rc.conf.d file and also add a bfdd.conf in etc folder and restart via `service frr restart`

[2020-10-05 15:29] LensHunnel commented on #2050
But it'll be overwritten after a reboot and each time after a save in the UI.

[2020-10-06 08:29] chadek commented on #1850
We may open a new issue but it is almost the same issue as this one: wireguard will still crash if you put a wrong formatted public key. Here is the fix https://github.com/opnsense/plugins/pull/2056 It may be include to https://github.com/opnsense/plugins/pull/1852

[2020-10-06 17:36] #2020 closed

[2020-10-06 20:14] fraenki commented on #2007
os-acme-client 2.0 will contain additional debug output, hopefully this will make it easier to analyze and fix such issues in the future.

[2020-10-06 20:14] #2007 closed

[2020-10-06 20:29] carpenike commented on #2049
Very nice!

Any chance of integrating with git-crypt for sensitive information or would that require the config backend to also be able to reference secrets in a file separate from config.xml?

[2020-10-06 20:41] #1130 closed

[2020-10-06 20:41] fraenki commented on #1130
This will be available in the upcoming os-acme-client 2.0.

[2020-10-06 20:53] fraenki commented on #790
On OPNsense 20.7 support for TLS 1.3 is available:

[code]

I'll add the required GUI options.

[2020-10-06 21:41] taxilian commented on #1109
I haven't adequately tested this, but it initially at least looks like it's working like this:

[code]

You will not be able to ping it; however, if you add `x.x.x.1` to both systems in the zerotier UI you will then be able to ping it.

I don't know how well failover works, however =]

[2020-10-06 21:49] #790 closed

[2020-10-06 21:51] fraenki commented on #790
This will be available in the upcoming os-haproxy 2.25. It seems to work as expected:

[code]

[2020-10-06 21:55] fraenki commented on #2019
Waiting for the core PR to be merged, nothing left to do for me :)

[2020-10-06 21:55] #2019 closed

[2020-10-07 05:49] Taomyn commented on #2007
Thanks @fraenki automated renewals still working fine for now, but as you say this will help

[2020-10-07 06:46] fichtner commented on #790
Note this is Client-only for LibreSSL...

[2020-10-07 07:44] AdSchellevis commented on #2049
@carpenike git-crypt isn't in scope of this project. I haven't looked at git-crypt in much detail, but wouldn't this mean all generated diffs would be quite large since comparing crypted data? It's not very complex to encrypt the config.xml (as the other backup providers offer), but it would defeat the purpose of easily being able to track changes (all data in the backup is sensitive by nature in

[2020-10-07 09:06] carpenike commented on #2049
The diffs should be similar in size I believe, but the only way to see the details would be on a client that can decrypt them. So to your point it would eliminate the value of having a web based git tool from being able to show changes.

[2020-10-07 09:08] AdSchellevis commented on #2049
I don't think thats theoretically possible.

[2020-10-07 09:11] mimugmail commented on #2050
Indeed, the only thing I need from you is an "OK", I've tested it with just config files and CLI, it runs fine, peers are detected. (a show run and show bfd XXX would be nice)

I can't count the times I added a feature which in the end wasn't supported the way, the issuer thought it should work, dont take it as an offence.

[2020-10-07 15:26] LensHunnel commented on #2050
Oh no worries, I'm grateful that feature could be added. It's all fine to me if the configuration I pasted before can be configured in UI or at least not reset when I save in the UI

[2020-10-07 21:11] fraenki commented on #2040
@sepahewe Could you please provide a full haproxy.conf demonstrating the desired configuration?

[2020-10-08 07:53] AdSchellevis commented on #2049
test instructions on 20.7.3:

[code]

Next test the generic handler, change something in the configuration (hit save no a random page) and check if cat `/conf/event_config_changed.json`  exists.

Next install the plugin (use tools https://github.com/opnsense/tools to checkout the latests sources) and execute the following:

[code]

Got System->Configuration->Backups and configure your git upstream

[2020-10-08 08:15] mimugmail commented on #2049
I tested it right now, works really nice!
![image](https://user-images.githubusercontent.com/20438689/95432613-2ef7f300-094f-11eb-9312-fc9224038051.png)

[2020-10-08 08:50] AdSchellevis commented on #2049
@mimugmail thanks! good to hear :)

[2020-10-08 08:50] sepahewe commented on #2040
Here is an example that has a first frontend "combined" that distinguishes between TLS and non-TLS, based on that it sends it to different backends "plain_loopback" and "tls_loopback". These backends loops it back using proxy names ("abns@haproxy-plain" and "abns@haproxy-tls") to new frontends "fix_tls" and "fix_plain".

`# MAIN FRONTEND LISTENING FOR CLIENT CONNECTIONS
frontend combined
  mode tc

[2020-10-08 08:58] marcquark commented on #1877
@mimugmail being able to adjust BGP timers (connect, keepalive, hold) would be a big one for sure, and i guess it's fairly simple to implement. the defaults are pretty conservative

[2020-10-08 09:00] marcquark commented on #1877
also a neighbor view ("show ip bgp neighbor") at least as an API endpoint i.e. /quagga/diagnostics/showipbgpneighbors would be awesome

[2020-10-08 10:50] #2049 closed

[2020-10-09 10:49] Starkstromkonsument commented on #1611
@AdSchellevis I'm working on this. PR is already submitted. Can you reopen this issue and assign it to an owner please?

[2020-10-09 10:55] Starkstromkonsument commented on #1611
I just noticed there are 10 other open PRs related to dns/dyndns. Is there a chance of working on these in a bundle? There will probably be many merge conflicts.

[2020-10-09 11:35] AdSchellevis commented on #1611
@Starkstromkonsument the dyndns plugin is very old and practically unmaintained, it would need a rewrite, which isn't very high on our list of things todo (I'm not convinced it needs the current level of entanglement into the system either). Adding more glue often doesn't improve the situation and decreases the chances of a rewrite, but that's just my opinion.

If you want to cleanup the existing

[2020-10-09 17:36] iNilsDE commented on #1611
I‘m also interested in the PR of @Starkstromkonsument because I have the same problem with INWX. I could test the code and give you a feedback to push the release if you like.

[2020-10-10 17:00] ToKaDe commented on #1739
I would like to use the Postfix plugin on opnsense, but in my current installation I use dovecot which uses LMTP as default.
So is there any development ongoing to implement LMTP as further protocol?

Thx and kind regards
Torsten

[2020-10-10 17:52] mimugmail commented on #1739
No, just install postfix on your dovecot instance

[2020-10-10 21:23] Starkstromkonsument commented on #1611
@AdSchellevis thank you for your feedback. I would offer to start rewriting it, but I regret my skills and time are to limited for this at the moment.

I'll try to find some other users for helping and testing. If I find enough supporters, I'll be happy to take care of this issue and new bugs resulting out of the changes.

[2020-10-12 13:01] mimugmail commented on #1972
I played with this a but, 2 problems

@fichtner for this I need TCP_SIGNATURE in kernel ( https://github.com/FRRouting/frr/issues/1479 )
@AdSchellevis This feature needs to add keys via setkey ( https://github.com/FRRouting/frr/issues/1479#issuecomment-626209323 ) and I'm not sure where this would fit best as already ipsec touches it.

[2020-10-12 14:20] AdSchellevis commented on #1972
@mimugmail I don't think we currently can distinct the different sa entries, in which case I expect the manual ones might be dropped by the ipsec module (haven't tested it).

https://github.com/opnsense/core/blob/87efd07831bc136416a5bd435e6bb67716c16ce7/src/etc/inc/plugins.inc.d/ipsec.inc#L674-L770

The current construction isn't great, but it's quite time consuming to workout better alternatives,

[2020-10-12 14:49] mimugmail commented on #1972
@AdSchellevis Users of BGP with IPsec in combination should be near zero as the encrypted traffic is already safe.
Would it be ok if I add a script and add a warning in the plugin? MD5 passwords in BGP are not common on my side and this about the 3rd or 4th request (incl. forum) so I'd like to work on it (if we also add the kernel option)

[2020-10-12 14:54] AdSchellevis commented on #1972
@mimugmail sure, I can live with that if it doesn't lead to weird race conditions (at a first glance this looks quite static). If we can exclude these entries easily, I don't even mind changing some of the ipsec code, but someone needs to test it and collect the different scenarios that do exist.

[2020-10-12 21:52] chiwou opened #2060 "security/acme-client: DNS Validation with DuckDNS"
DuckDNS doesn't allow subdomains, looked through the acmesh-official hub, and could find the info in the matching script.

[https://github.com/acmesh-official/acme.sh/blob/master/dnsapi/dns_duckdns.sh](https://github.com/acmesh-official/acme.sh/blob/master/dnsapi/dns_duckdns.sh)
[code]

The OPNSENSE plugin tries to update the subdomain _acme-challenge.domain.duckdns.org

If I try the update manual

[2020-10-14 06:15] Tennyleaz commented on #1876
I have this issue too. Zerotier dies after a few hours.
Using zerotier-cli shows offline:

[code]

Have to restart opnsense. Any methods to restart zerotier only?

Similar issue on opnsense forum: [Zerotier stops intermittend (unstable) (20.1.7)](https://forum.opnsense.org/index.php?topic=17502.0)

[2020-10-14 13:02] tacticz opened #2062 "HAProxy - SNI TLS extension (TCP request content inspection) does not work as expected"
I searched the GitHub issue and didn't find a similar report.
Although a similar problem seems to be reported in the OPNsense forum: [HaProxy SSL passthrough trouble with SNI_contains rule](https://forum.opnsense.org/index.php?topic=17066.0)

Since I'm new to using OPNsense, I sincerely wish I'm not missing something obvious.

**Describe the bug**
In the HAProxy pluign, creating conditions that us

[2020-10-14 15:05] tacticz commented on #2062
Sorry, sorry and sorry!
My bad :-(

As I stated in my previous post:
**Since I'm new to using OPNsense, I sincerely wish I'm not missing something obvious.**

And obviously I DID MISS SOMETHING!

My mistake was that I didn't fully understand the way HAProxy Rules are to be established, thus I created two separate rules for the backend redirection, one for HTTP and the other for HTTPS. Then I appli

[2020-10-14 15:05] #2062 closed

[2020-10-14 20:24] fraenki commented on #2062
@tacticz Thanks for sharing your experience and the solution! I'm always open for ideas and recommentations, maybe the "Introduction" pages or the inline help could be improvded. Furthermore feel free to [contribue](https://github.com/opnsense/docs) to the [OPNsene HAProxy documentation](https://docs.opnsense.org/manual/how-tos/haproxy_howtos.html), for example you could add your example and descr

[2020-10-14 20:33] fraenki commented on #2060
This seems to be correct. But the `dns_duckdns.sh` dnsapi file already implements a workaround for this:

https://github.com/acmesh-official/acme.sh/blob/f2d350002e7c387fad9777a42cf9befe34996c35/dnsapi/dns_duckdns.sh#L94-L107

However, it does not seem to work for all users, there is an upstream report for this issue: https://github.com/acmesh-official/acme.sh/issues/2933.

[2020-10-14 21:43] simplerezo commented on #1938
Why did you upgrade the Zabbix Agent and do not create a new plugin "zabbix5-agent" as for Zabbix Proxy ?
Agent 5.0 cannot connect to Zabbix Proxy or Server 4.0.... to a basic upgrade breaks a working configuration... :(

https://www.zabbix.com/documentation/4.0/manual/appendix/compatibility

[2020-10-14 21:48] fraenki commented on #1938
@simplerezo In my experience newer Zabbix Agents work well with older Zabbix Servers and Proxies.

[2020-10-15 16:50] chiwou commented on #2060
ahh ok, thanks, now I know what the DNS Alias Mode is for.
Now the certificate gets issued without an issue

[2020-10-15 16:50] #2060 closed

[2020-10-15 17:56] Taomyn commented on #1988
Can anyone help me to possible get this fixed?

I tried uninstalling and reinstalling the plugin and deleting the one file I could find that had my config so I could start again, but on the next install they were still there.

If someone could point me at where I can really delete my old config I would like to try again.

[2020-10-15 18:03] Taomyn opened #2064 "All plug-ins should have uninstall option that clears _all_ previous settings"
**Is your feature request related to a problem? Please describe.**
Nearly every time I have tried to reinstall a plug-in that is misbehaving I find my old settings are still there. This might be fine for many occasions and even handy, but when you really want to eliminate the current config as the source of the problem and have a really clean start, you can't. At least not easily.

It's not always

[2020-10-15 19:36] mimugmail commented on #1988
You can edit /conf/config.xml with your favourite editor and remove the xml section.

[2020-10-16 06:54] Taomyn commented on #1988
@mimugmail thanks, that cleared them but when I reinstalled and tried to set things up I get on a blank web page:

`Warning: Illegal string offset 'miniupnpd' in /usr/local/www/services_upnp.php on line 158 Fatal error: Uncaught Error: Cannot use string offset as an array in /usr/local/www/services_upnp.php:158 Stack trace: #0 {main} thrown in /usr/local/www/services_upnp.php on line 158`

[2020-10-16 07:06] Taomyn commented on #1988
I fixed it, when I cleared out the old setting from config.xml I left it as:

[code]

So I deleted those as well and now I can save settings.

Now to test........

[2020-10-16 15:26] Starkstromkonsument commented on #1995
Please specify the service type you experience this problem with and provide the output of the verbose logging.

[2020-10-17 06:14] soder10 commented on #1137
Just wanted to give headsup to anyone who has tried this on 20.7, as that is already running FBSD 12.1 now.

[2020-10-17 08:58] soder10 commented on #2014
You need to poweroff the APU completely after the update finished, otherwise the firmware update may stay in an unpredictable state (its documented on pcengines.github.io). Soft-Reboot is insufficient, you have to power cycle the board.

[2020-10-18 09:46] rare-magma opened #2065 "net-mgmt/telegraf: Please add insecure_skip_verify as an option in the Influx Output page"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

If using a self-signed certificate for HTTPS, T

[2020-10-18 11:03] x-jokay commented on #2014
@soder10 the [script](https://github.com/pcengines/apu2-documentation/blob/master/docs/firmware_flashing.md#apu-firmware-updater-for-opnsense) was merged to the official documentation. Used it several times doing remote upgrades followed by a remote reboot only and hadn't any problems until now. Not sure if the power cycle is still needed 🧐 or may be only for the legacy firmware.

[2020-10-18 16:49] Taomyn commented on #1988
Have tested all this weekend and so far the UPnP service has held up and worked all the time. The only thing I have not been able to do is perform a restart of the firewall to be sure it still works afterwards. I hope to do that tonight and then test tomorrow.

Unfortunately the copy of the generated config file I made has gone missing so I can't use it to compare it with the new one to see if I c

[2020-10-18 21:42] simplerezo commented on #1938
Officially it's not the case:
"Note that Zabbix agent newer than 4.0 cannot be used with Zabbix server 4.0."
(see my previous link...)

[2020-10-18 22:28] Starkstromkonsument commented on #1938
@simplerezo I never experienced problems with the agents versions either.

- Is your "broken" agent being monitored by server or proxy? Which versions do they have?
- Can you post some logging output to get an idea of the exact errors please?

[2020-10-19 08:55] fraenki commented on #1938
I kindly ask you to discuss specific issues this in the forums instead. :)

[2020-10-19 09:22] mimugmail commented on #1938
@simplerezo only new values offered by zabbix-agent 5 are not reported to zabbix 4 server. I have couple of v5 agents running fine against v4 server.

[2020-10-19 09:32] qdrop17 commented on #2049
nice plugin @AdSchellevis!

I just posted something in the forum: https://forum.opnsense.org/index.php?topic=19674
It seems like you guys are still implementing that feature.

Regarding the git-crypt: Maybe it makes sense to be able to replace certain strings before committing. Reason for that: We use Wireguard as our VPN technology and the go-wireguard plugin stores the private keys inside the co

[2020-10-19 11:50] AdSchellevis commented on #2049
@qdrop17 documentation is a bit ahead of time indeed.

I don't agree, string replacement is quite dangerous and leads to an endless path of trying to figure out what is sensitive (which might worst case vary from installation to installation).

For us this ticket is closes, we don't have other changes planned ahead (other than moving the plugin to release)

[2020-10-19 12:48] Aarklendoia opened #2067 "[nginx] Header Strict-Transport-Security sent over HTTP"
[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.

[-] The title contains the plugin to which this issue belongs

**Describe the bug**
Strict-Transport-Security should only be sent for HTTPS connections not for HTTP (recommended by Google when registering on ht

[2020-10-19 12:52] Aarklendoia opened #2068 "[nginx] Preload flag is missing"
[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature request related to a problem? Please describe.**
This problem prevents registration to the HSTS preload

[2020-10-19 13:01] Aarklendoia opened #2069 "[nginx] CSP 3 is not correctly implemented"
[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

The following CSP are missing :

- base-uri
- block-all-mixed-content
- connect-src
- frame-ancestors
- frame-src
- manif

[2020-10-19 19:35] wizzycom opened #2070 "[os-bind] BIND plugin does not apply configuration for slave zones"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
Yes

[-] I have searched the existing issues and I'm convinced that mine is new.
Yes

[-] The title contains the plugin to which this issue belongs
Yes

**Describe the bug**
A clear and co

[2020-10-20 20:47] thutex opened #2072 "Vnstat api: add --json to actions.d/actions_vnstat.conf"
currently the plugin can only return results from, for example, vnstat -h, which is not very easy to modify.
for the webinterface, ofcourse, this is fine - but for the api the --json result would be much more applicable.

so i suggest adding to plugins/net/vnstat/src/opnsense/service/conf/actions.d/actions_vnstat.conf :
[json]
command:/usr/local/bin/vnstat --json
parameters:
type:script_output
mes

[2020-10-20 20:53] thutex commented on #2072
pull request: https://github.com/opnsense/plugins/pull/2073
@mimugmail @fichtner you guys think this can go in? :)

[2020-10-21 11:01] #1859 closed

[2020-10-21 11:03] AdSchellevis commented on #1860
https://github.com/opnsense/plugins/pull/2054

[2020-10-21 11:03] #1860 closed

[2020-10-21 11:22] mpl1ma opened #2074 "[openvpn] option "block-outside-dns" as checkbox wanted"
Hello there.

Since there is a DNS Leak in Windows10 with OpenVPN:

- https://github.com/ValdikSS/openvpn-fix-dns-leak-plugin

-  https://community.openvpn.net/openvpn/ticket/605?__cf_chl_jschl_tk__=a6f7e219f2b7eea6fc3ca6b90a4110db5a79564c-1601904949-0-ARrwznt-ux1J9GjbUS8gszDZBI0hn28Dd0jy2ikTJxVf41p3aezfcUpfH25Ej8iSQAZtUu_HJtAeIloJIhyCbk_N7JPQ9WOOO7lXJiGRJu6a4e2xuzHFOzpQlGyO7yy6eHHqaHdg8tlO7J6qBdJ

[2020-10-21 11:24] AdSchellevis commented on #2074
@mpl1ma best open a feature request in core (using our template) https://github.com/opnsense/core/issues/new?assignees=&labels=&template=feature_request.md&title=

[2020-10-21 11:35] #2074 closed

[2020-10-21 14:13] barzog commented on #1938
According to documentation https://www.zabbix.com/documentation/current/manual/discovery/low_level_discovery
ANY discovery rules on zabbix-agent 4.2+ is not compatible with zabbix-server 4.0 (in my case this was vfs.fs.discovery and net.if.discovery
Old agents (4.0) returns data in this format:
[oleg_ga@zabbix ~]$ zabbix_get -s 127.0.0.1 -k net.if.discovery
**{"data":**[{"{#IFNAME}":"ens192"},{"{#

[2020-10-21 14:37] fraenki commented on #1938
I've locked this issue now. If someone is willing to maintain os-zabbix-agent with version 4.x, please submit a pull-request for review.

[2020-10-22 14:37] sourcenux opened #2077 "Wireguard: Improve help-texts while Editing Endpoints"
**Describe the bug**
Hi,
I think that the current help text regarding the endpoint address, that is shown when editing Wireguard-Endpoints in the opnsense gui is somehow unintuitive. Currently it says "Set public IP address the endpoint listens to".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VPN > Wireguard
2. Click on Endpoints
3. Click on Create
4. Click on "full help"
5. Scroll

[2020-10-23 06:54] RafhaanShah commented on #2060
Hey @chiwou could you give me a pointer as to which settings you used for the DNS Alias Mode, I'm having the same issue you did. Thanks!

[2020-10-23 07:59] jd77777777 commented on #1926
@jassonmc: I am not really getting your point. My idea is that if the opnsense (postfix gateway) checks the recipient against the active directory or some other ldap server, the opnsense could already reject the messages without having unnecessary load on the email server behind (e.g. exchange). In my opinion it would reduce the load on the "real" mail server in case of a DDoS attack.

[2020-10-23 08:54] mimugmail commented on #1926
@jd77777777 A DDoS would then flood your AD cause of massive LDAP queries :)

[2020-10-23 13:04] mimugmail commented on #2011
Ok, seems I'm finished, will add a PR:

[code]

[2020-10-23 13:45] AnimaI opened #2079 "Dynamic DNS -- Add support for dns.lightningwirelabs.com"
I would like the Dynamic DNS feature to support dns.lightningwirelabs.com. I had no success with the  custom option.
The documentation can be found here: https://dns.lightningwirelabs.com/knowledge-base/api/ddns

I can provide an API Key for testing if needed.

Here is an example from another project:

`class DDNSProviderLightningWireLabs(DDNSProvider):
	handle    = "dns.lightningwirelabs.com"
	na

[2020-10-23 23:40] chiwou commented on #2060
@RafhaanShah yeah sure, I assume you've your API token

Common Name: **_yourdomain_**.duckdns.org I think you can even use a wildcard
DNS Alias Mode: Domain Alias Mode
Domain Alias: **_yourdomain_**.duckdns.org

[2020-10-24 16:22] definitio opened #2082 "os-iperf: Add option to set port"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:
[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[x] I have searched the existing issues and I'm convinced that mine is new.
[x] When the request is meant for an existing plugin, I've added its name to the title.

It would be nice to have

[2020-10-24 21:16] jassonmc commented on #1926
@jd77777777
Exactly what I thought, when @mimugmail mentioned it.
I'd rather have my mailserver DDoSed for some time then my critical authentication infrastructure.

[2020-10-27 10:21] browne-net commented on #2013
https://opnsense.org/opnsense-20-7-4-released/

Did anyone try OPNsense 20.7.4 with the latest HAProxy?
I am right now unable to update my OPNsense since it is running in a production environment 24/7.

[2020-10-27 19:57] lattera opened #2083 "os-git-backup: Do a `git pull` first"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] When the request is meant for an existing plugin, I've added its name to the title.

**Is your feature req

[2020-10-27 19:59] AdSchellevis commented on #2083
it's intentional https://docs.opnsense.org/manual/git-backup.html#conflict-resolution

[2020-10-27 20:58] lattera commented on #2083
This ticket isn't about resolving conflicts, though.

[2020-10-28 07:49] AdSchellevis commented on #2083
It's in the same area as conflict resolution, what happens if the pull isn't possible, how to handle configuration changes, etc, etc. When you perform conflict handling command line, it's all simple, things tend to get very complex if every action should result in a guaranteed consistent state.

I don't mind if someone describes a rocket proof addition for this to happen, without risking a lot of

[2020-10-28 17:01] lattera commented on #2083
If the git pull isn't possible, neither is the git push. Just check for an error state after git pull, and report the error to the user for manual resolve via ssh.

I can submit a PR to do just that, if you'd like.

[2020-10-28 17:50] AdSchellevis commented on #2083
you can always push to a (new) bare repo (which is automatically created when choosing a new branch as well). The current setup doesn't require any manual interaction when used as intended. You can add a PR, but if it's just adding a pull, don't bother doing so since as explained in the docs its not the intended use-case.

Maybe I'm overlooking a sequence of actions that will always reach a consis

[2020-10-28 20:36] lattera commented on #2083
I'm also curious about why there would ever be a merge conflict. If I push other configs to the repo, like my nginx.conf, the nginx.conf file will never confict with opnsense's config.xml.

Effectively, if I structure the repo in such a way that a merge conflict never happens, then the argument about merge conflicts is moot.

So doing a git pull would then be beneficial. I think you're trying to m

[2020-10-28 21:16] AdSchellevis commented on #2083
Let’s agree to disagree. Since you can change destinations easily, history might collide, enforcing what we do now is simple an always works, no matter how the remote is setup (a branch is dedicated for a box).

When offering other possibilities, one should be able to handle them from the ui.

[2020-10-28 21:51] lattera commented on #2083
So, effectively, I'm going to need two repos to store config files for my infrastructure? That's two repos I need to ensure incredibly tight security of?

[2020-10-29 08:16] fichtner commented on #2013
LibreSSL 3.2 has TLSv1.3 support but not the OpenSSL 1.1.1 API parts which might make upstream assume it's not working/refrain from implementing it (properly). So far LibreSSL 3.2 has some minor quirks to sort out in a subsequent stable release for them as well before we can move OPNsense to this version (likely in 1.5 months in preparation for 21.1). So currently we have 3 moving targets/parties

[2020-10-29 23:53] Ornias1993 opened #2085 "[FreeRadius] Support EAP-TTLS-GTC with LDAP for hashed password storage"
**Is your feature request related to a problem? Please describe.**
Currently Ldap(s) backends are supported with FreeRadius, but only with cleartext passwords.
Cleartext passwords are a big no-go.

Not having a way of using hashed passwords with LDAP and FreeRadius, basically makes the LDAP option unusable at best.

**Describe the solution you'd like**
It would be great if we could pick "EAP-TTLS-

[2020-10-30 04:53] mimugmail commented on #2085
Have you configured this like with the guides already? Usually you need Samba to join a domain which is also a No-Go for firewall

[2020-10-30 11:31] Ornias1993 commented on #2085
Samba has nothing to do with this at all... I dont think you know what you are talking about tbh..

[2020-10-30 11:50] mimugmail commented on #2085
No, so you are very welcome to shed some light in here. :)
First link is just compatibility matrix which doesnt really help. Second are plain config files and I dont have openldap.

The LDAP feature is only there because some guy asked for it because he thought this might help for Wifi and I blindly integrated it. Thats why I asked if you have set this up on your own and know that this will also w

[2020-10-30 12:36] Ornias1993 commented on #2085
Fair enough :)

It's a compatibility matrix which openldap password hash schemes are supported by which EAP modes. That does help, because you would notice your currently supported EAP modes are not supporting ANY form of hashing.

It's the FreeRadius config in that that maters, not the LDAP config. That explains how to setup EAP-TTLS with GTC which DOES support hashed passwords from ldap natively

[2020-10-30 12:44] samirmh-dev commented on #467
any support for v2ray plugin?

[2020-10-30 13:26] mimugmail commented on #2085
I did :)

This is only for OpenLDAP, correct?
You don't need a dev env. I'd do it like this:

- Install FR plugin
- configure it to contact your ldap
- go to CLI and do a backup of current FR folder
- edit the files compared to the ones on your link
- stop FR via service radiusd stop and start in debug with radiusd -X
- if it's doing the things like you want if make a diff with backup folder and p

[2020-10-30 13:49] Ornias1993 commented on #2085
Then I misunderstoot, because there is no "guide" referenced anywhere.

Others might want to use EAS-TTLS-GTC too, but thats not my focus, required or expected to hapen much

How about: I need a dev environment because i'm not going to bother users by testing this live?

So TLDR: you want me to make a diff, so you can easily just add some "ifs" where needed and add the GUI handle?

[2020-10-30 13:52] mimugmail commented on #2085
Indeed, that's it, because I too have no environment to test.

[2020-10-30 13:54] mimugmail commented on #467
There is a pkg but no plugin. So you can install and configure via CLI

[2020-10-30 15:56] samirmh-dev commented on #467
thank you for fast reply 🚀

[2020-10-31 16:31] scat70 opened #2086 "security/acme-client: support deSEC.io as DNS service for DNS-01 challenge"
Hi!

I haven't seen any corresponding request so far. So I like to raise it. It would be greate if deSEC.io could be supported as additional DNS service for the DNS-01 challenge. seSEC.io supports letsencrypt and offers a corresponding REST API

Thanks & BR, Marc

[2020-11-01 11:36] fraenki commented on #2086
Will be added in one of the next releases.
For my own convenience:
https://github.com/acmesh-official/acme.sh/wiki/dnsapi#71-use-desecio
https://github.com/acmesh-official/acme.sh/blob/master/dnsapi/dns_desec.sh

[2020-11-01 20:24] NielsPiersma opened #2088 "parameters submitted via "set" in route maps are not propagated to config"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md
[-] I have searched the existing issues and I'm convinced that mine is new.
[-] The title contains the plugin to which this issue belongs
**Describe the bug**
Adding parameters like
"weigh

[2020-11-01 20:37] mimugmail commented on #2088
Via CLI

cat /usr/local/etc/frr/bgpd.conf

It should be there but is declined by service cause of syntax error (check logs)

[2020-11-01 20:39] NielsPiersma commented on #2088
Michael

Which logs, tried to enable debug.logging.but couldn't find any syntax errors in the logging.
________________________________
From: Michael <notifications@github.com>
Sent: Sunday, November 1, 2020 9:38:04 PM
To: opnsense/plugins <plugins@noreply.github.com>
Cc: NielsPiersma <niels.piersma@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [opnsense/plugins] parameters submitted

[2020-11-01 20:40] mimugmail commented on #2088
/var/log/frr.log

[2020-11-01 20:41] NielsPiersma commented on #2088
Michael,

Many thanks, will collect the logs and report back.
Niels
________________________________
From: Michael <notifications@github.com>
Sent: Sunday, November 1, 2020 9:40:58 PM
To: opnsense/plugins <plugins@noreply.github.com>
Cc: NielsPiersma <niels.piersma@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [opnsense/plugins] parameters submitted via "set" in route maps are not pr

[2020-11-01 22:40] NielsPiersma commented on #2088
Hi Michael,

I've enabled debug for logging and for syslogging.

![settings](https://user-images.githubusercontent.com/70269175/97817209-2b7c3100-1c9b-11eb-83ef-1c1e563fcead.PNG)

added "local-preference 300" to one of the route maps

![routemap](https://user-images.githubusercontent.com/70269175/97817223-4c448680-1c9b-11eb-9372-ca6abdde6fc4.PNG)

and reloaded zebra, output in /var/log/frr.log
roo

[2020-11-01 22:43] NielsPiersma commented on #2088
Extra information;

Adding the "local-preference 300" did not impact the config file at /usr/local/etc/frr/bgpd.conf.

! Zebra configuration saved from vty
**!   2017/03/03 20:21:04**
!
log file /var/log/frr.log debugging
log syslog debugging
!
!
!
router bgp 65404
 no bgp ebgp-requires-policy
 neighbor 10.2.0.65 remote-as 65405
 neighbor 10.2.0.65 update-source ipsec2000
 neighbor 10.2.0.1 remote

[2020-11-01 22:45] NielsPiersma commented on #2088
Posted deleted as it seems to refer to vtysh changes :)

[2020-11-01 23:27] Ornias1993 commented on #2085
@mimugmail
The solution, this works with both normal (user list tab) and ldap auth, but should preferably only be used with ldap:

Create an option called "EAP-TTLS-GTC", this option would change:
in `mods-enabled/eap`

Under
`ttls {`

create an option to change:
`default_eap_type = md5`

to:
`default_eap_type = gtc`

**Thats all.**

[2020-11-01 23:50] Ornias1993 commented on #2085
@mimugmail
As it's really trivial, I just submitted the PR for review :)

[2020-11-02 05:10] mimugmail commented on #2088
Every Set needs a Match in route-map.

[2020-11-02 09:45] NielsPiersma commented on #2088
Michael,
Can you please elaborate, I don't fully grasp your reply?

Thanks in advance.
NIels

[2020-11-02 11:53] mimugmail commented on #2088
Create a prefix list with your local network, then create route-map, match against prefix-list and add the set

[2020-11-02 12:00] NielsPiersma commented on #2088
Michael,

That did the trick! Excellent guidance. I would however recommend making the GUI behave in such a way that incorrect or useless configuration directives are denied or at least reported back to the user.

Still love the product though! Keep up the good work.

Niels

[2020-11-03 03:57] akong77 commented on #1912
I got same error when I use api to add naxsi rules
`curl -XPOST -d '{"naxsi_rule":{"description":"doc file upload","ruletype":{"main":{"value":"Main Rule","selected":1},"basic":{"value":"Basic Rule","selected":0}},"message":"doc file upload","identifier":"2500","url":"0","dollar_url":"","match_value":"\\.doc","match_type":{"id":{"value":"Blacklist","selected":1},"wl":{"value":"Whitelist","selected

[2020-11-03 07:33] AdSchellevis commented on #1912
best try sing the supplied user interface first, if you can replicate the issue there it's easier to investigate, if you can't you can compare both requests for differences (just check the network traffic from our browser).

[2020-11-03 12:11] Ornias1993 opened #2090 "[FreeRadius] @ in password not working"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

[X] The title contains the plugin to which this issue belongs

**Describe the bug**
When entering passwords in

[2020-11-03 12:22] fichtner commented on #2090
There is too much ambiguity regarding "special" to be being able to reproduce the issue.

[2020-11-03 13:20] Ornias1993 commented on #2090
@fichtner
Please reread:

[2020-11-03 14:06] Ornias1993 commented on #2090
Update:
Testing of special characters, which are working and which are not working:

Working:
#
!
$

Not-Working:
@

It seems to be limited to @

[2020-11-03 14:11] fichtner commented on #2090
Sorry, my bad. Thanks for updating the ticket. I'll let @mimugmail handle this for now. 👍

[2020-11-03 14:23] Ornias1993 commented on #2090
@fichtner Also my bad, I made a testing mistake by which I assumed more characters where involved than just @

I noticed the UI doesn't accept @ btw.... had to directly use it in the password file or using ldap. So the reproduction criteria are not right currently. Still users using ldap could for example still hit this bug, because ldap does allow @ in passwords.

[2020-11-03 14:45] Ornias1993 commented on #2090
Okey, freaking weird... testing again it just... started working again...
And can't reproduce anymore >.<

[2020-11-03 14:45] #2090 closed

[2020-11-03 15:33] fichtner commented on #2090
Ok, let us know if that changes again and just reopen. Thanks! :)

[2020-11-04 00:56] akong77 commented on #1912
I use follow command to get already rules.

`curl -k -u "key":"secret" https://IP:8082/api/nginx/settings/getnaxsirule/7b7bacfe-ee9a-46e6-b5cd-00176a33f1e3`

I got follow content.

`{"naxsi_rule":{"description":"asp\/php\/jsp file upload","ruletype":{"main":{"value":"Main Rule","selected":1},"basic":{"value":"Basic Rule","selected":0}},"message":"asp\/php\/jsp file upload","identifier":"1500","url

[2020-11-04 05:59] mimugmail commented on #1912
Hit F12 in browser, network tab, add a naxsi rule via browser and look at the correct syntax of your browser

[2020-11-04 06:08] akong77 commented on #1912
OK,Thanks a lot

[2020-11-05 07:38] AdSchellevis opened #2091 "FRR: OSPF influence interface cost via carp"
Problem description
------

FRR natively doesn’t seem to support any interaction with carp status as the variant in openbsd does (carp note in “depend on” keyword https://man.openbsd.org/ospfd.conf.5).

In OPNsense we do have events available if CARP status changes (https://docs.opnsense.org/development/backend/autorun.html),  which could help facilitate the feature, but there are still some chall

[2020-11-05 14:11] tfluehmann commented on #1005
@mimugmail I tried to install frr manually as you described above since I need to set some settings for bgp which the plugin does not offer or in my case overwrites them when I set them in the config file by hand. Is it still possible to install frr manually or is it an oudated recommendation?
I received the following message when I tried to install it on opnsense 20.7.4:
[code]

[2020-11-05 14:20] fichtner commented on #1005
it's "frr7"

[2020-11-05 14:53] AdSchellevis commented on #1751
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1751 closed

[2020-11-05 14:53] AdSchellevis commented on #1752
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1752 closed

[2020-11-05 14:53] AdSchellevis commented on #1754
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1754 closed

[2020-11-05 14:53] AdSchellevis commented on #1757
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1757 closed

[2020-11-05 14:53] AdSchellevis commented on #1758
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1758 closed

[2020-11-05 14:53] AdSchellevis commented on #1759
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1759 closed

[2020-11-05 14:53] AdSchellevis commented on #1767
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1767 closed

[2020-11-05 14:53] AdSchellevis commented on #1771
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1771 closed

[2020-11-05 14:53] AdSchellevis commented on #1774
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1774 closed

[2020-11-05 14:53] AdSchellevis commented on #1775
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1775 closed

[2020-11-05 14:53] AdSchellevis commented on #1785
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1785 closed

[2020-11-05 14:53] AdSchellevis commented on #1786
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1786 closed

[2020-11-05 14:53] AdSchellevis commented on #1788
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1788 closed

[2020-11-05 14:53] AdSchellevis commented on #1794
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1794 closed

[2020-11-05 14:53] AdSchellevis commented on #1795
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1795 closed

[2020-11-05 14:53] AdSchellevis commented on #1797
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1797 closed

[2020-11-05 14:53] AdSchellevis commented on #1798
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1798 closed

[2020-11-05 14:53] AdSchellevis commented on #1801
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1801 closed

[2020-11-05 14:53] AdSchellevis commented on #1805
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1805 closed

[2020-11-05 14:53] AdSchellevis commented on #1808
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:53] #1808 closed

[2020-11-05 14:54] AdSchellevis commented on #1810
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:54] #1810 closed

[2020-11-05 14:54] AdSchellevis commented on #1811
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:54] #1811 closed

[2020-11-05 14:54] AdSchellevis commented on #1813
This issue has been automatically timed-out (after 180 days of inactivity).

For more information about the policies for this repository,
please read https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md for further details.

If someone wants to step up and work on this issue,
just let us know, so we can reopen the issue and assign an owner to it.

[2020-11-05 14:54] #1813 closed